Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: just linter
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

static-analysis:
  name: Static analysis
  entry: just static-analysis
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

docs:
  name: Build docs
  entry: just docs-build
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

docs: generate API References
  tests/brokers/kafka/test_test_client.py
Due: lint, static-analysis

fix: static analyisis
  faststream/kafka/broker/registrator.py
  faststream/kafka/publisher/producer.py
  faststream/kafka/publisher/usecase.py
Due: lint, static-analysis

docs: generate API References
  faststream/kafka/broker/registrator.py
Due: lint, static-analysis

feat: raise exception at wrong router including
  faststream/confluent/broker/registrator.py
  faststream/kafka/broker/registrator.py
  faststream/nats/broker/registrator.py
  faststream/rabbit/broker/registrator.py
  faststream/redis/broker/registrator.py
  tests/brokers/confluent/test_misconfigure.py
  tests/brokers/kafka/test_misconfigure.py
  tests/brokers/nats/test_misconfiguration.py
  tests/brokers/rabbit/test_misconfigure.py
  tests/brokers/redis/test_misconfigure.py
Due: lint, static-analysis

feat: use ChannelManager in subscribers
  faststream/rabbit/broker/broker.py
  faststream/rabbit/helpers/channel_manager.py
  faststream/rabbit/helpers/declarer.py
  tests/brokers/rabbit/specific/test_declare.py
  tests/brokers/rabbit/specific/test_init.py
Due: lint, static-analysis

lint: mv registrator Docs to docstrings
  faststream/rabbit/broker/registrator.py
Due: lint, static-analysis

lint: move deprecated notices back
  faststream/rabbit/broker/registrator.py
Due: lint, static-analysis

feat: add Channel option to RMQ subscriber
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

feat: annotate router for specific registrators
  faststream/confluent/broker/registrator.py
  faststream/kafka/broker/registrator.py
  faststream/nats/broker/registrator.py
  faststream/rabbit/broker/registrator.py
  faststream/redis/broker/registrator.py
Due: lint, static-analysis

tests: add channel test
  tests/brokers/rabbit/specific/test_channels.py
  tests/brokers/rabbit/specific/test_init.py
Due: lint, static-analysis

lint: fix mypy
  faststream/rabbit/broker/registrator.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/helpers/ChannelManager.md
  docs/docs/en/api/faststream/rabbit/helpers/RabbitDeclarer.md
  docs/docs/en/api/faststream/rabbit/helpers/channel_manager/ChannelManager.md
Due: docs

refactor: impl Channel hash method
  faststream/rabbit/helpers/channel_manager.py
  faststream/rabbit/schemas/channel.py
Due: lint, static-analysis

feat: raise exception at wrong router including (#2172)
  faststream/confluent/broker/registrator.py
  faststream/kafka/broker/registrator.py
  faststream/nats/broker/registrator.py
  faststream/rabbit/broker/registrator.py
  faststream/redis/broker/registrator.py
  tests/brokers/confluent/test_misconfigure.py
  tests/brokers/kafka/test_misconfigure.py
  tests/brokers/nats/test_misconfiguration.py
  tests/brokers/rabbit/test_misconfigure.py
  tests/brokers/redis/test_misconfigure.py
Due: lint, static-analysis

docs: generate API References
  faststream/kafka/publisher/usecase.py
Due: lint, static-analysis

feat: extend asyncapi view for multiply subscribers
  faststream/broker/subscriber/usecase.py
  tests/asyncapi/base/arguments.py
  tests/asyncapi/base/naming.py
Due: lint, static-analysis

feat: extend asyncapi view for multiply subscribers (#2174)
  faststream/broker/subscriber/usecase.py
  tests/asyncapi/base/arguments.py
  tests/asyncapi/base/naming.py
Due: lint, static-analysis

lint: ignore mypy
  faststream/kafka/broker/registrator.py
Due: lint, static-analysis

feat: add autoflush on kafka producer (#2170)
  faststream/kafka/broker/registrator.py
  faststream/kafka/publisher/producer.py
  faststream/kafka/publisher/usecase.py
  tests/brokers/kafka/test_test_client.py
Due: lint, static-analysis

feat: add RabbitMQ Channel object (#2171)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/Channel.md
  docs/docs/en/api/faststream/rabbit/helpers/ChannelManager.md
  docs/docs/en/api/faststream/rabbit/helpers/RabbitDeclarer.md
  docs/docs/en/api/faststream/rabbit/helpers/channel_manager/ChannelManager.md
  docs/docs/en/api/faststream/rabbit/schemas/Channel.md
  docs/docs/en/api/faststream/rabbit/schemas/channel/Channel.md
  faststream/__about__.py
  faststream/rabbit/__init__.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/helpers/__init__.py
  faststream/rabbit/helpers/channel_manager.py
  faststream/rabbit/helpers/declarer.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/schemas/__init__.py
  faststream/rabbit/schemas/channel.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
  tests/brokers/rabbit/specific/test_channels.py
  tests/brokers/rabbit/specific/test_declare.py
  tests/brokers/rabbit/specific/test_init.py
Due: lint, static-analysis, docs

fix: repair AsyncAPI render
  faststream/asgi/factories.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/en/release.md
Due: docs

fix: repair AsyncAPI render
  .secrets.baseline
  docs/docs/en/release.md
Due: docs

docs: generate API References
  .secrets.baseline
  docs/docs/en/release.md
Due: docs

chore: fix CI
  .secrets.baseline
  docs/docs/en/release.md
Due: docs

chore: fix CI
  docs/docs/en/release.md
Due: docs

docs: generate API References
  .secrets.baseline
Due: none

fix: repair AsyncAPI render (#2175)
  .secrets.baseline
  docs/docs/en/release.md
  faststream/asgi/factories.py
Due: lint, static-analysis, docs

docs: add information about manual AsyncAPI hosting
  docs/docs/en/getting-started/asyncapi/hosting.md
Due: docs

docs: generate API References
  docs/docs/en/getting-started/asyncapi/hosting.md
Due: docs

fix(tests): fastapi context annotated test
  tests/brokers/base/fastapi.py
Due: lint, static-analysis

feat(context): added exception for fastapi wrong context usage
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/fastapi/route.py
  tests/brokers/base/fastapi.py
Due: lint, static-analysis

docs: polish code examples
  docs/docs/en/getting-started/asyncapi/hosting.md
Due: docs

docs: add link to ASGI
  docs/docs/en/getting-started/asyncapi/hosting.md
Due: docs

feat: add autoflush on confluent
  faststream/confluent/broker/registrator.py
  faststream/confluent/client.py
  faststream/confluent/publisher/producer.py
  faststream/confluent/publisher/usecase.py
  tests/brokers/confluent/test_test_client.py
Due: lint, static-analysis

test: add real test client autoflush
  tests/brokers/confluent/test_test_client.py
  tests/brokers/kafka/test_test_client.py
Due: lint, static-analysis

feat(fastapi_context): changed SetupError message
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/fastapi/route.py
Due: lint, static-analysis

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
