Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

feat: GSSAPI security impl for kafka
  docs/docs_src/kafka/security/sasl_gssapi.py
  faststream/kafka/security.py
  faststream/security.py
  tests/asyncapi/kafka/test_security.py
Due: lint, static-analysis, docs

adding test
  docs/docs_src/confluent/security/sasl_oauthbearer.py
  tests/brokers/confluent/test_security.py
Due: lint, static-analysis, docs

username and password are not necessary for all sasl_ssl variants
  faststream/confluent/client.py
Due: lint, static-analysis

added one more test
  tests/asyncapi/confluent/test_security.py
Due: lint, static-analysis

feat: linting
  tests/asyncapi/kafka/test_security.py
Due: lint, static-analysis

feat: test for parsing SASLGSSAPI
  tests/brokers/kafka/test_security.py
Due: lint, static-analysis

AsyncAPI Kafka specific naming tests fix
  tests/asyncapi/kafka/v3_0_0/__init__.py
  tests/asyncapi/kafka/v3_0_0/test_naming.py
Due: lint, static-analysis

chore: Update security documentation for SASLOAuthBearer
  docs/docs/en/confluent/security.md
Due: docs

AsyncAPI 3.0.0 Redis specific naming tests
  tests/asyncapi/kafka/v3_0_0/test_naming.py
  tests/asyncapi/redis/v3_0_0/__init__.py
  tests/asyncapi/redis/v3_0_0/test_naming.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Nats naming tests
  tests/asyncapi/nats/v3_0_0/__init__.py
  tests/asyncapi/nats/v3_0_0/test_naming.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Confluent naming tests
  tests/asyncapi/confluent/v3_0_0/__init__.py
  tests/asyncapi/confluent/v3_0_0/test_naming.py
Due: lint, static-analysis

AsyncAPI 3.0.0 naming tests fix
  tests/asyncapi/confluent/v3_0_0/test_naming.py
  tests/asyncapi/kafka/v3_0_0/test_naming.py
  tests/asyncapi/nats/v3_0_0/test_naming.py
  tests/asyncapi/redis/v3_0_0/test_naming.py
Due: lint, static-analysis

chore: bump dependencies
  pyproject.toml
Due: none

fix: correct Response subclass usage
  faststream/broker/response.py
  faststream/broker/subscriber/usecase.py
  faststream/rabbit/response.py
  faststream/redis/publisher/usecase.py
  tests/brokers/confluent/test_publish.py
  tests/brokers/kafka/test_publish.py
  tests/brokers/nats/test_publish.py
  tests/brokers/rabbit/test_publish.py
  tests/brokers/redis/test_publish.py
  tests/brokers/test_response.py
Due: lint, static-analysis

docs: generate API
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/response/ensure_response.md
Due: docs

fix: wait for connect in Redis ping
  faststream/redis/broker/broker.py
  tests/docs/redis/test_security.py
Due: lint, static-analysis

docs: generate API
  docs/docs/SUMMARY.md
Due: docs

tests: confluent big timeout
  tests/brokers/confluent/test_publish.py
Due: lint, static-analysis

chore: bump dependencies (#1634)
  pyproject.toml
Due: none

feat: added SASLGSSAPI example in security.md
  docs/docs/en/kafka/security.md
Due: docs

AsyncAPI 3.0.0 publisher message rename
  faststream/asyncapi/generate.py
Due: lint, static-analysis

AsyncAPI 3.0.0 RabbitMQ publisher tests
  tests/asyncapi/base/v3_0_0/naming.py
  tests/asyncapi/base/v3_0_0/publisher.py
  tests/asyncapi/rabbit/v3_0_0/test_publisher.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Kafka publisher tests
  tests/asyncapi/kafka/v3_0_0/test_publisher.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Confluent publisher tests
  tests/asyncapi/confluent/v3_0_0/test_publisher.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Nats publisher tests
  tests/asyncapi/nats/v3_0_0/test_publisher.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Redis publisher tests
  tests/asyncapi/redis/v3_0_0/test_publisher.py
Due: lint, static-analysis

fix: confluent test_response
  tests/brokers/confluent/test_publish.py
Due: lint, static-analysis

pydantic refs support
  faststream/asyncapi/generate.py
  tests/asyncapi/base/v3_0_0/arguments.py
  tests/asyncapi/rabbit/v3_0_0/test_arguments.py
Due: lint, static-analysis

AsyncAPI 3.0.0 RabbitMQ arguments tests
  tests/asyncapi/base/v3_0_0/arguments.py
  tests/asyncapi/rabbit/v3_0_0/test_arguments.py
Due: lint, static-analysis

Feat: extend response api (#1607)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/response/ensure_response.md
  faststream/broker/response.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/response.py
  faststream/kafka/response.py
  faststream/nats/response.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/response.py
  faststream/rabbit/router.py
  faststream/rabbit/subscriber/factory.py
  faststream/redis/broker/broker.py
  faststream/redis/publisher/usecase.py
  faststream/redis/response.py
  tests/brokers/confluent/test_publish.py
  tests/brokers/kafka/test_publish.py
  tests/brokers/nats/test_publish.py
  tests/brokers/rabbit/test_publish.py
  tests/brokers/redis/test_publish.py
  tests/brokers/test_response.py
  tests/docs/redis/test_security.py
Due: lint, static-analysis, docs

AsyncAPI 3.0.0 Kafka arguments tests
  tests/asyncapi/kafka/v3_0_0/test_arguments.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Nats arguments tests
  tests/asyncapi/nats/v3_0_0/test_arguments.py
  tests/asyncapi/redis/v3_0_0/test_arguments.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Redis arguments tests
  tests/asyncapi/redis/v3_0_0/test_arguments.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Confluent arguments tests
  tests/asyncapi/confluent/v3_0_0/test_arguments.py
Due: lint, static-analysis

AsyncAPI 3.0.0 RabbitMQ router tests
  tests/asyncapi/base/v3_0_0/router.py
  tests/asyncapi/rabbit/v3_0_0/test_router.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Kafka router tests
  tests/asyncapi/kafka/v3_0_0/test_router.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Nats router tests
  tests/asyncapi/nats/v3_0_0/test_router.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Redis router tests
  tests/asyncapi/confluent/v3_0_0/test_router.py
  tests/asyncapi/redis/v3_0_0/test_router.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Confluent router tests
  tests/asyncapi/confluent/v3_0_0/test_router.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Kafka router tests fix
  tests/asyncapi/kafka/v3_0_0/test_router.py
Due: lint, static-analysis

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
