Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

format: run formatter
  faststream/confluent/__init__.py
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/broker.pyi
  faststream/confluent/broker/logging.py
  faststream/confluent/handler.py
  faststream/confluent/publisher.py
  faststream/confluent/router/router.py
  faststream/nats/schemas/pull_sub.py
  faststream/redis/router/router.py
  pyproject.toml
Due: lint, static-analysis

Add some documented annotations
  faststream/nats/broker/broker.py
  faststream/nats/schemas/js_stream.py
Due: lint, static-analysis

refactor: start Confluent
  faststream/broker/core/handler.py
  faststream/broker/middlewares.py
  faststream/broker/test.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/fastapi/__init__.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/handler.py
  faststream/kafka/broker/broker.py
  faststream/kafka/handler.py
  faststream/nats/broker/broker.py
  faststream/nats/fastapi/fastapi.py
  faststream/nats/schemas/js_stream.py
  faststream/nats/test.py
  faststream/rabbit/producer.py
  faststream/redis/broker/broker.py
  faststream/redis/handler.py
  faststream/redis/producer.py
  tests/brokers/base/consume.py
  tests/brokers/confluent/test_consume.py
  tests/brokers/kafka/test_publish.py
Due: lint, static-analysis

refactor: rm useless cache method:
  faststream/broker/core/publisher.py
  faststream/broker/router.py
  faststream/confluent/publisher.py
  faststream/confluent/router/router.py
  faststream/kafka/router/router.py
  faststream/nats/publisher.py
  faststream/nats/router/router.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/publisher.py
  faststream/rabbit/router/router.py
  faststream/rabbit/test.py
  faststream/redis/handler.py
  faststream/redis/publisher.py
  faststream/redis/router/router.py
Due: lint, static-analysis

chore: update dependencies
  .github/workflows/publish_coverage.yml
  pyproject.toml
Due: none

chore: update email
  pyproject.toml
Due: none

chore: update dependencies (#1323)
  .github/workflows/publish_coverage.yml
  pyproject.toml
Due: none

chore: fix email
  faststream/cli/supervisors/watchfiles.py
  faststream/confluent/handler.py
  faststream/confluent/publisher.py
  pyproject.toml
Due: lint, static-analysis

docs: fix misc
  docs/docs/en/getting-started/logging.md
  docs/docs/en/getting-started/subscription/annotation.md
Due: docs

feat: return handler object in subscriber
  faststream/broker/core/handler.py
Due: lint, static-analysis

docs: fix misc (#1324)
  docs/docs/en/getting-started/logging.md
  docs/docs/en/getting-started/subscription/annotation.md
Due: docs

feat: support FastAPI response_model
  examples/fastapi_integration/app.py
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  faststream/kafka/fastapi/fastapi.py
  faststream/nats/fastapi/fastapi.py
  faststream/rabbit/fastapi/fastapi.py
  faststream/redis/fastapi/fastapi.py
Due: lint, static-analysis

style: run linter
  faststream/broker/publisher/fake.py
  faststream/broker/publisher/usecase.py
  faststream/exceptions.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/utils.py
  tests/brokers/base/connection.py
  tests/examples/router/test_delay_registration.py
Due: lint, static-analysis

fix: correct custo, parser/decoder wrapper
  faststream/broker/utils.py
Due: lint, static-analysis

docs (#1327): correct RMQ exhcanges behavior
  docs/docs/en/rabbit/examples/fanout.md
  docs/docs/en/rabbit/examples/headers.md
  docs/docs/en/rabbit/examples/topic.md
  docs/docs_src/rabbit/subscription/fanout.py
Due: lint, static-analysis, docs

docs (#1327): correct RMQ exhcanges behavior (#1328)
  docs/docs/en/rabbit/examples/fanout.md
  docs/docs/en/rabbit/examples/headers.md
  docs/docs/en/rabbit/examples/topic.md
  docs/docs_src/rabbit/subscription/fanout.py
Due: lint, static-analysis, docs

add delayed publishers registration in router
  faststream/broker/router.py
  faststream/rabbit/router.py
Due: lint, static-analysis

fix: typer 0.12 fix
  pyproject.toml
Due: none

chore: bump new version
  faststream/__about__.py
Due: lint, static-analysis

fix: typer 0.12 exclude (#1341)
  faststream/__about__.py
  pyproject.toml
Due: lint, static-analysis

refactor: correct RabbitPublisher class, add tests
  faststream/broker/router.py
  faststream/broker/utils.py
  faststream/rabbit/__init__.py
  faststream/rabbit/router.py
  tests/asyncapi/base/router.py
  tests/asyncapi/rabbit/test_router.py
  tests/brokers/base/router.py
  tests/brokers/rabbit/test_router.py
Due: lint, static-analysis

chore: add docs serve production warning
  faststream/asyncapi/site.py
Due: lint, static-analysis

WIP: Integrate confluent kafka broker
  faststream/confluent/__init__.py
  faststream/confluent/annotations.py
  faststream/confluent/broker/__init__.py
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/logging.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/client.py
  faststream/confluent/fastapi/__init__.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/message.py
  faststream/confluent/parser.py
  faststream/confluent/publisher/__init__.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/publisher/producer.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/router.py
  faststream/confluent/schemas/__init__.py
  faststream/confluent/schemas/params.py
  faststream/confluent/security.py
  faststream/confluent/subscriber/__init__.py
  faststream/confluent/subscriber/asyncapi.py
  faststream/confluent/subscriber/usecase.py
  faststream/confluent/testing.py
  tests/brokers/confluent/test_publish.py
  tests/brokers/confluent/test_router.py
  tests/docs/confluent/ack/test_errors.py
  tests/docs/getting_started/cli/test_confluent_context.py
  tests/docs/getting_started/lifespan/test_basic.py
Due: lint, static-analysis

Fix bug in batch publish and batch subscribe
  faststream/confluent/client.py
  faststream/confluent/subscriber/usecase.py
Due: lint, static-analysis

Lint files
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/publisher/producer.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/subscriber/asyncapi.py
  faststream/confluent/subscriber/usecase.py
Due: lint, static-analysis

Fix build_message
  faststream/confluent/testing.py
Due: lint, static-analysis

Increase reusability of consumer tests
  tests/brokers/base/consume.py
  tests/brokers/confluent/test_consume.py
Due: lint, static-analysis

Fix getting stuck issue
  faststream/confluent/client.py
Due: lint, static-analysis

Reuse middleware tests
  tests/brokers/base/middlewares.py
  tests/brokers/confluent/test_middlewares.py
Due: lint, static-analysis

Revert to old async confluent client to prevent getting stuck
  faststream/confluent/client.py
Due: lint, static-analysis

Reuse router test case
  tests/brokers/base/parser.py
  tests/brokers/base/router.py
  tests/brokers/confluent/test_router.py
  tests/brokers/confluent/test_security.py
Due: lint, static-analysis

add delayed kafka publisher registration with tests
  faststream/kafka/__init__.py
  faststream/kafka/router.py
  faststream/rabbit/router.py
  tests/brokers/kafka/test_router.py
Due: lint, static-analysis
