Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

chore: fix precommit
  docs/docs/en/howto/nats/in-progress.md
Due: docs

Add in-progress tutorial to how-to section (#1859)
  .pre-commit-config.yaml
  docs/docs/SUMMARY.md
  docs/docs/en/howto/nats/in-progress.md
  docs/docs/navigation_template.txt
Due: docs

docs: add info about grafana dashboard
  docs/docs/assets/img/grafana-dashboard.png
  docs/docs/assets/img/import-dashboard.png
  docs/docs/en/getting-started/opentelemetry/index.md
  docs/docs/en/getting-started/prometheus/index.md
Due: docs

docs: add info about grafana dashboard (#1863)
  docs/docs/assets/img/grafana-dashboard.png
  docs/docs/assets/img/import-dashboard.png
  docs/docs/en/getting-started/opentelemetry/index.md
  docs/docs/en/getting-started/prometheus/index.md
Due: docs

Update Release Notes for 0.5.28
  docs/docs/en/release.md
Due: docs

chore: fix precommit
  .secrets.baseline
Due: none

feat: add explicit message source enum
  faststream/broker/core/usecase.py
  faststream/broker/message.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/message/SourceType.md
Due: docs

feat: add explicit message source enum (#1866)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/message/SourceType.md
  faststream/broker/core/usecase.py
  faststream/broker/message.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis, docs

feat: add RabbitPublishCommand
  faststream/nats/publisher/usecase.py
  faststream/nats/response.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/parser.py
  faststream/rabbit/publisher/fake.py
  faststream/rabbit/publisher/options.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/response.py
  faststream/rabbit/schemas/proto.py
  faststream/rabbit/subscriber/usecase.py
  faststream/rabbit/testing.py
  tests/brokers/rabbit/test_publish.py
Due: lint, static-analysis

refactor: add basic publish & request publisher methods
  faststream/_internal/publisher/proto.py
  faststream/_internal/publisher/usecase.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/publisher/usecase.py
Due: lint, static-analysis

refactor: remove add_header Response method
  faststream/response/response.py
  tests/brokers/test_response.py
Due: lint, static-analysis

feat/ack_middleware added middleware
  faststream/_internal/subscriber/usecase.py
  faststream/middlewares/acknowledgement.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

refactor: add KafkaPublishCommand
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/fake.py
  faststream/kafka/publisher/producer.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/response.py
  faststream/kafka/subscriber/usecase.py
  faststream/kafka/testing.py
  faststream/nats/publisher/fake.py
  faststream/nats/publisher/usecase.py
  faststream/nats/response.py
  faststream/rabbit/publisher/usecase.py
  tests/brokers/kafka/test_publish_command.py
Due: lint, static-analysis

refactor: pass context to middleware directly
  faststream/_internal/broker/broker.py
  faststream/_internal/publisher/usecase.py
  faststream/_internal/subscriber/usecase.py
  faststream/_internal/subscriber/utils.py
  faststream/_internal/types.py
  faststream/confluent/broker/broker.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/usecase.py
  faststream/middlewares/base.py
  faststream/middlewares/exception.py
  faststream/middlewares/logging.py
  faststream/opentelemetry/middleware.py
  faststream/redis/broker/broker.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis

refactor: Confluent, Redis publish commands
  faststream/_internal/publisher/fake.py
  faststream/confluent/broker/broker.py
  faststream/confluent/publisher/fake.py
  faststream/confluent/publisher/producer.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/response.py
  faststream/confluent/subscriber/usecase.py
  faststream/confluent/testing.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/producer.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/response.py
  faststream/rabbit/testing.py
  faststream/redis/broker/broker.py
  faststream/redis/publisher/fake.py
  faststream/redis/publisher/producer.py
  faststream/redis/publisher/usecase.py
  faststream/redis/response.py
  faststream/redis/schemas/proto.py
  faststream/redis/subscriber/usecase.py
  faststream/redis/testing.py
  faststream/response/response.py
  tests/brokers/confluent/test_publish_command.py
  tests/brokers/redis/test_publish_command.py
Due: lint, static-analysis

Change uv manuall installation to setup-uv in CI
  .github/workflows/pr_tests.yaml
Due: none

Delete pip install uv from all jobs
  .github/workflows/docs_deploy.yaml
  .github/workflows/docs_update-references.yaml
  .github/workflows/docs_update-release-notes.yaml
  .github/workflows/publish_coverage.yaml
Due: none

Change setup-uv action's version from 1 to 3
  .github/workflows/docs_deploy.yaml
  .github/workflows/docs_update-references.yaml
  .github/workflows/docs_update-release-notes.yaml
  .github/workflows/pr_tests.yaml
  .github/workflows/publish_coverage.yaml
Due: none

Add pre-commit's fixing
  .github/workflows/pr_tests.yaml
Due: none

Change uv manuall installation to setup-uv in CI (#1871)
  .github/workflows/docs_deploy.yaml
  .github/workflows/docs_update-references.yaml
  .github/workflows/docs_update-release-notes.yaml
  .github/workflows/pr_tests.yaml
  .github/workflows/publish_coverage.yaml
Due: none

refactor: break ISP, add publish_batch to ProducerProto
  faststream/_internal/broker/broker.py
  faststream/_internal/publisher/proto.py
  faststream/_internal/publisher/usecase.py
  faststream/confluent/broker/broker.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/broker/broker.py
  faststream/nats/publisher/producer.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/publisher/producer.py
  faststream/redis/broker/broker.py
  faststream/redis/publisher/producer.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis

refactor: create basic fake publisher
  faststream/_internal/publisher/fake.py
  faststream/_internal/publisher/proto.py
  faststream/confluent/publisher/fake.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/publisher/fake.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/publisher/fake.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/publisher/fake.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/publisher/fake.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis

feat/ackk_middleware - added ack_middleware
  faststream/__init__.py
  faststream/_internal/broker/broker.py
  faststream/_internal/subscriber/usecase.py
  faststream/middlewares/__init__.py
  faststream/middlewares/acknowledgement/__init__.py
  faststream/middlewares/acknowledgement/conf.py
  faststream/middlewares/acknowledgement/middleware.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

refactor: do not call LoggingMiddleware for RPC responses
  faststream/_internal/broker/broker.py
  faststream/_internal/publisher/usecase.py
  faststream/_internal/subscriber/utils.py
  faststream/middlewares/logging.py
Due: lint, static-analysis

refactor: new NatsOtelMiddleware
  faststream/nats/opentelemetry/provider.py
  faststream/opentelemetry/middleware.py
  faststream/opentelemetry/provider.py
  faststream/response/response.py
Due: lint, static-analysis

refactor: new RabbitOtelMiddleware
  faststream/rabbit/opentelemetry/provider.py
Due: lint, static-analysis

refactor: new RedisOtelMiddleware
  faststream/redis/opentelemetry/provider.py
Due: lint, static-analysis

refactor: new KafkaOtelMiddleware
  faststream/kafka/opentelemetry/provider.py
Due: lint, static-analysis

refactor: new ConfluentOtelMiddleware
  faststream/confluent/opentelemetry/provider.py
Due: lint, static-analysis

refactor: make Task and Concurrent mixins broker-agnostic
  faststream/broker/subscriber/mixins.py
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/subscriber/mixins/ConcurrentMixin.md
  docs/docs/en/api/faststream/broker/subscriber/mixins/TasksMixin.md
Due: docs

chore: fix precommit
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/subscriber/mixins/ConcurrentMixin.md
  docs/docs/en/api/faststream/broker/subscriber/mixins/TasksMixin.md
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis, docs

lint: ignore nats-py error
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

feat: add PublishCmd add_headers method
  faststream/confluent/publisher/usecase.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/publisher/usecase.py
  faststream/response/response.py
  tests/brokers/test_response.py
Due: lint, static-analysis

refactor: make Task and Concurrent mixins broker-agnostic (#1873)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/subscriber/mixins/ConcurrentMixin.md
  docs/docs/en/api/faststream/broker/subscriber/mixins/TasksMixin.md
  faststream/broker/subscriber/mixins.py
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis, docs

refactor: actual PrometheusMiddleware
  faststream/confluent/opentelemetry/provider.py
  faststream/confluent/prometheus/middleware.py
  faststream/confluent/prometheus/provider.py
  faststream/kafka/opentelemetry/provider.py
  faststream/kafka/prometheus/middleware.py
  faststream/kafka/prometheus/provider.py
  faststream/middlewares/base.py
  faststream/nats/opentelemetry/provider.py
  faststream/nats/prometheus/middleware.py
  faststream/nats/prometheus/provider.py
  faststream/opentelemetry/middleware.py
  faststream/opentelemetry/provider.py
  faststream/prometheus/__init__.py
  faststream/prometheus/consts.py
  faststream/prometheus/middleware.py
  faststream/prometheus/provider.py
  faststream/rabbit/opentelemetry/provider.py
  faststream/rabbit/prometheus/middleware.py
  faststream/rabbit/prometheus/provider.py
  faststream/redis/opentelemetry/provider.py
  faststream/redis/prometheus/middleware.py
  faststream/redis/prometheus/provider.py
  faststream/response/response.py
  tests/prometheus/basic.py
Due: lint, static-analysis
