Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

Bump version to 0.5.9
  faststream/__about__.py
Due: lint, static-analysis

Use LoggerProto as type
  faststream/confluent/client.py
Due: lint, static-analysis

fix: add group/consumer to hash to avoid overwriting (#1463)
  faststream/redis/schemas/stream_sub.py
Due: lint, static-analysis

Bump version to 0.5.9 (#1468)
  faststream/__about__.py
Due: lint, static-analysis

Update Release Notes for 0.5.9
  docs/docs/en/release.md
Due: docs

Pass logger to confluent producer and consumer (#1464)
  .codespell-whitelist.txt
  .secrets.baseline
  docs/docs/en/nats/jetstream/key-value.md
  docs/docs/en/nats/jetstream/object.md
  docs/docs/en/release.md
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  tests/brokers/confluent/test_logger.py
Due: lint, static-analysis, docs

Added batch tests for group_id overlap versions of subscribers
  tests/brokers/confluent/test_test_client.py
Due: lint, static-analysis

Added batch tests for group_id overlap versions of subscribers
  tests/brokers/kafka/test_test_client.py
Due: lint, static-analysis

Fixes #1412 with `TestKafkaBroker` behaviour where Consumer Groups weren't being respected (#1413)
  faststream/confluent/testing.py
  faststream/kafka/testing.py
  scripts/set_variables.sh
  tests/brokers/confluent/test_test_client.py
  tests/brokers/kafka/test_test_client.py
Due: lint, static-analysis

Remove typing-extensions version restriction
  pyproject.toml
Due: none

Chore: update dependency versions
  .secrets.baseline
  pyproject.toml
Due: none

Chore: update dependency versions (#1478)
  .secrets.baseline
  pyproject.toml
Due: none

Remove typing-extensions version restriction (#1477)
  pyproject.toml
Due: none

feat (#1431): add Response class
  faststream/__about__.py
  faststream/__init__.py
  faststream/broker/response.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/__init__.py
  faststream/confluent/response.py
  faststream/kafka/__init__.py
  faststream/kafka/response.py
  faststream/nats/__init__.py
  faststream/nats/response.py
  faststream/rabbit/__init__.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/response.py
  faststream/rabbit/testing.py
  faststream/redis/__init__.py
  faststream/redis/publisher/usecase.py
  faststream/redis/response.py
  tests/brokers/base/publish.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/test_response.py
Due: lint, static-analysis

docs: add Response References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/Response.md
  docs/docs/en/api/faststream/broker/response/Response.md
  docs/docs/en/api/faststream/kafka/KafkaResponse.md
  docs/docs/en/api/faststream/kafka/response/KafkaResponse.md
  docs/docs/en/api/faststream/nats/NatsResponse.md
  docs/docs/en/api/faststream/nats/response/NatsResponse.md
  docs/docs/en/api/faststream/rabbit/RabbitResponse.md
  docs/docs/en/api/faststream/rabbit/response/RabbitResponse.md
  docs/docs/en/api/faststream/redis/RedisResponse.md
  docs/docs/en/api/faststream/redis/response/RedisResponse.md
Due: docs

docs: add Confluent Response API
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/KafkaResponse.md
  docs/docs/en/api/faststream/confluent/response/KafkaResponse.md
Due: docs

feat (#1431): add Response class (#1481)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/Response.md
  docs/docs/en/api/faststream/broker/response/Response.md
  docs/docs/en/api/faststream/confluent/KafkaResponse.md
  docs/docs/en/api/faststream/confluent/response/KafkaResponse.md
  docs/docs/en/api/faststream/kafka/KafkaResponse.md
  docs/docs/en/api/faststream/kafka/response/KafkaResponse.md
  docs/docs/en/api/faststream/nats/NatsResponse.md
  docs/docs/en/api/faststream/nats/response/NatsResponse.md
  docs/docs/en/api/faststream/rabbit/RabbitResponse.md
  docs/docs/en/api/faststream/rabbit/response/RabbitResponse.md
  docs/docs/en/api/faststream/redis/RedisResponse.md
  docs/docs/en/api/faststream/redis/response/RedisResponse.md
  faststream/__about__.py
  faststream/__init__.py
  faststream/broker/response.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/__init__.py
  faststream/confluent/response.py
  faststream/kafka/__init__.py
  faststream/kafka/response.py
  faststream/nats/__init__.py
  faststream/nats/response.py
  faststream/rabbit/__init__.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/response.py
  faststream/rabbit/testing.py
  faststream/redis/__init__.py
  faststream/redis/publisher/usecase.py
  faststream/redis/response.py
  tests/brokers/base/publish.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/test_response.py
Due: lint, static-analysis, docs

Update Release Notes for 0.5.10
  docs/docs/en/release.md
Due: docs

chore: run CQ CI only with PR and by cron
  .github/workflows/codeql.yml
Due: none

chore: run DR CI only if pyproject changed
  .github/workflows/dependency-review.yaml
Due: none

format: correct deploy docs CI
  .github/workflows/deploy-docs.yaml
Due: none

chore: run coverage publish CI only after PR merged
  .github/workflows/publish_coverage.yml
Due: none

chore: run tests only in PR
  .github/workflows/test_pr.yaml
Due: none

chore: fix test CI
  .github/workflows/codeql.yml
  .github/workflows/test_pr.yaml
Due: none

chore: add CI workflows names conversation
  .github/workflows/docs_check-broken-links.yaml
  .github/workflows/docs_deploy.yaml
  .github/workflows/docs_update-release-notes.yaml
  .github/workflows/pr_codeql.yml
  .github/workflows/pr_dependency-review.yaml
  .github/workflows/pr_tests.yaml
  .github/workflows/publish_coverage.yml
  .github/workflows/release_pypi.yml
Due: none

chore: add docs update references CI
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_tests.yaml
  pyproject.toml
Due: none

chore: finalize CI
  .github/workflows/docs_update-references.yaml
  .github/workflows/docs_update-release-notes.yaml
  .github/workflows/pr_codeql.yml
  .github/workflows/pr_dependency-review.yaml
  .github/workflows/pr_tests.yaml
  .github/workflows/release_pypi.yml
Due: none

chore: correct name in check links CI
  .github/workflows/docs_check-broken-links.yaml
Due: none

chore: run tests only if required
  .github/workflows/pr_tests.yaml
  .github/workflows/publish_coverage.yml
Due: none

chore: run CQ CI if required
  .github/workflows/pr_codeql.yml
Due: none

chore: fix broken links CI
  .github/workflows/docs_check-broken-links.yaml
Due: none

update adding nuid usage as well as reply_to_prefix
  faststream/nats/publisher/producer.py
  faststream/redis/publisher/producer.py
  faststream/utils/nuid.py
Due: lint, static-analysis

add missing commas
  faststream/nats/publisher/producer.py
  faststream/redis/publisher/producer.py
Due: lint, static-analysis

update reply_to nuid generation, add missing imports
  faststream/nats/publisher/producer.py
  faststream/redis/publisher/producer.py
Due: lint, static-analysis

rename reply_to_prefix to rpc_prefix
  faststream/nats/publisher/producer.py
  faststream/redis/publisher/producer.py
Due: lint, static-analysis

refactor rpc reply_to address generation.
  faststream/nats/publisher/producer.py
  faststream/redis/publisher/producer.py
  faststream/utils/nuid.py
Due: lint, static-analysis

chore: make References autocommit
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_tests.yaml
  .github/workflows/publish_coverage.yml
Due: none

chore: change GHA commit message
  .github/workflows/docs_update-references.yaml
Due: none
