Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

refactor: mv process_msg broker.utils
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/utils/process_msg.md
  faststream/broker/subscriber/utils.py
  faststream/broker/utils.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis, docs

lint: fix mypy
  faststream/confluent/subscriber/usecase.py
Due: lint, static-analysis

Refactoring AsyncAPI specs generation
  faststream/confluent/subscriber/subscriber.py
  faststream/kafka/subscriber/subscriber.py
  faststream/nats/subscriber/subscriber.py
  faststream/rabbit/subscriber/subscriber.py
  faststream/redis/subscriber/subscriber.py
  faststream/specification/asyncapi/v3_0_0/generate.py
Due: lint, static-analysis

Nats KV and Obj subscribers get_one tests
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

feat: refactor
  faststream/opentelemetry/baggage.py
  faststream/opentelemetry/middleware.py
  tests/opentelemetry/basic.py
Due: lint, static-analysis

Nats KV and Obj subscribers get_one timeout tests
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

fix: linters
  faststream/opentelemetry/middleware.py
  tests/opentelemetry/basic.py
Due: lint, static-analysis

format fix
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

fix: mypy
  faststream/opentelemetry/middleware.py
Due: lint, static-analysis

tests: tefactor timeout tests
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

Add broker.subscriber.get_one() (#1726)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/utils/process_msg.md
  faststream/broker/middlewares/exception.py
  faststream/broker/subscriber/proto.py
  faststream/broker/subscriber/usecase.py
  faststream/broker/utils.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/asyncapi.py
  faststream/nats/subscriber/usecase.py
  faststream/nats/testing.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/base/consume.py
  tests/brokers/nats/test_consume.py
  tests/brokers/redis/test_consume.py
Due: lint, static-analysis, docs

docs: add baggage and CurrentSpan docs
  docs/docs/en/getting-started/opentelemetry/index.md
Due: docs

docs: fix trailing whitespaces
  docs/docs/en/getting-started/opentelemetry/index.md
Due: docs

docs: mentioned fastream cli distribution on documnetation and README
  README.md
  docs/docs/en/faststream.md
  docs/docs/en/getting-started/index.md
Due: docs

Update faststream.md
  docs/docs/en/faststream.md
Due: docs

Add OTel baggage support (#1692)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/opentelemetry/Baggage.md
  docs/docs/en/api/faststream/opentelemetry/baggage/Baggage.md
  docs/docs/en/getting-started/opentelemetry/index.md
  faststream/opentelemetry/__init__.py
  faststream/opentelemetry/annotations.py
  faststream/opentelemetry/baggage.py
  faststream/opentelemetry/middleware.py
  tests/opentelemetry/basic.py
  tests/opentelemetry/confluent/test_confluent.py
  tests/opentelemetry/kafka/test_kafka.py
  tests/opentelemetry/redis/test_redis.py
Due: lint, static-analysis, docs

Fix AsyncAPI 3.0 tests
  tests/asyncapi/base/v3_0_0/arguments.py
  tests/asyncapi/base/v3_0_0/naming.py
  tests/asyncapi/confluent/v3_0_0/test_naming.py
  tests/asyncapi/confluent/v3_0_0/test_router.py
  tests/asyncapi/confluent/v3_0_0/test_security.py
  tests/asyncapi/kafka/v3_0_0/test_naming.py
  tests/asyncapi/kafka/v3_0_0/test_router.py
  tests/asyncapi/kafka/v3_0_0/test_security.py
  tests/asyncapi/nats/v3_0_0/test_naming.py
  tests/asyncapi/nats/v3_0_0/test_router.py
  tests/asyncapi/rabbit/v3_0_0/test_naming.py
  tests/asyncapi/rabbit/v3_0_0/test_router.py
  tests/asyncapi/redis/v3_0_0/test_naming.py
  tests/asyncapi/redis/v3_0_0/test_router.py
Due: lint, static-analysis

Add oauth and gssapi AsyncAPI 3.0.0 tests for Kafka and Confluent
  tests/asyncapi/confluent/v3_0_0/test_security.py
  tests/asyncapi/kafka/v3_0_0/test_security.py
Due: lint, static-analysis

chore: strict fast-depends version
  pyproject.toml
Due: none

chore: strict fast-depends version (#1777)
  pyproject.toml
Due: none

refactoring
  faststream/specification/asyncapi/v3_0_0/generate.py
Due: lint, static-analysis

fix
  faststream/specification/asyncapi/site.py
Due: lint, static-analysis

chore: restrict watchfiles version
  pyproject.toml
Due: none

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

build(#1430): separate cli faststream to its own distribution (#1769)
  .github/workflows/pr_tests.yaml
  README.md
  docs/docs/SUMMARY.md
  docs/docs/en/faststream.md
  docs/docs/en/getting-started/cli/index.md
  docs/docs/en/getting-started/index.md
  docs/docs/navigation_template.txt
  faststream/__about__.py
  pyproject.toml
Due: lint, static-analysis, docs

Update Release Notes for 0.5.23
  docs/docs/en/release.md
Due: docs

Fix typo and update secrets baseline
  .secrets.baseline
  docs/docs/en/release.md
Due: docs

rm should_exit property
  faststream/app.py
Due: lint, static-analysis

update deprecate version
  faststream/app.py
Due: lint, static-analysis

apply linter
  faststream/app.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/en/release.md
Due: docs

Replace while-sleep with Event (#1683)
  faststream/app.py
Due: lint, static-analysis

feat: add explicit CLI import error
  faststream/__main__.py
Due: lint, static-analysis

WIP: Add people page
  docs/docs/SUMMARY.md
  docs/docs/en/faststream-people.md
  docs/docs/navigation_template.txt
Due: docs

Proofread error msg
  faststream/__main__.py
Due: lint, static-analysis

feat: add explicit CLI import error (#1785)
  faststream/__main__.py
Due: lint, static-analysis

fix (#1780): replace / in generated json refs
  faststream/asyncapi/generate.py
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis

fix (#1780): replace / in generated json refs (#1786)
  faststream/asyncapi/generate.py
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis
