Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

Rabbit get_one error fix
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

Kafka get_one update
  faststream/kafka/subscriber/usecase.py
Due: lint, static-analysis

Confluent get_one update
  faststream/confluent/subscriber/usecase.py
Due: lint, static-analysis

Update Release Notes for 0.5.19
  docs/docs/en/release.md
Due: docs

Redis channel get_one
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis

lint: fix precommit
  .secrets.baseline
  docs/docs/en/release.md
Due: docs

Redis list get_one draft
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis

Redis batch list get_one draft
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis

refactor: change publisher fake subscriber generation logic
  faststream/confluent/testing.py
  faststream/kafka/testing.py
  faststream/nats/testing.py
  faststream/rabbit/testing.py
  faststream/redis/publisher/usecase.py
  faststream/redis/testing.py
  faststream/testing/broker.py
  tests/brokers/base/testclient.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/en/release.md
Due: docs

lint: allow return Any in exception middleware
  faststream/broker/middlewares/exception.py
Due: lint, static-analysis

lint: fix precommit
  docs/docs/en/release.md
Due: docs

lint: fix precommit
  .secrets.baseline
Due: none

Redis channel get_one update and list get_one message decoding
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis

Redis list batch get_one message decoding
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis

Redis stream get_one
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis

Redis batch stream get_one
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis

Redis channel get_one fix
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis

Update brokers start methods
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/usecase.py
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis

remove unnecessary code
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

Remove docs/api directory before running create_api_docs script
  docs/create_api_docs.py
Due: lint, static-analysis, docs

refactor: change publisher fake subscriber generation logic (#1729)
  .secrets.baseline
  faststream/broker/middlewares/exception.py
  faststream/confluent/testing.py
  faststream/kafka/testing.py
  faststream/nats/testing.py
  faststream/rabbit/testing.py
  faststream/redis/publisher/usecase.py
  faststream/redis/testing.py
  faststream/testing/broker.py
  tests/brokers/base/testclient.py
Due: lint, static-analysis

Remove docs/api directory before running create_api_docs script (#1730)
  docs/create_api_docs.py
Due: lint, static-analysis, docs

CI: automatically approve & merge Dependabot PRs (#1720)
  .github/workflows/dependabot_automerge.yaml
Due: none

Nats CoreSubscriber.get_one
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

Run check broken links after docs deploy
  .github/workflows/docs_check-broken-links.yaml
Due: none

Run check broken links after docs deploy (#1733)
  .github/workflows/docs_check-broken-links.yaml
Due: none

Nats CoreSubscriber.get_one timeout support
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

Nats PullStreamSubscriber get_one
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

feature: extend FastStream.__init__
  faststream/app.py
  tests/cli/rabbit/test_app.py
Due: lint, static-analysis

feature: extend FastStream.__init__ (#1734)
  faststream/app.py
  tests/cli/rabbit/test_app.py
Due: lint, static-analysis

Nats KeyValueWatchSubscriber get_one prototype
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

Nats ObjStoreWatchSubscriber get_one prototype
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

Add Nats additional get_one methods
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

refactor: new FastAPI integration syntax
  README.md
  docs/docs/en/getting-started/integrations/fastapi/index.md
  docs/docs_src/integrations/fastapi/confluent/base.py
  docs/docs_src/integrations/fastapi/confluent/depends.py
  docs/docs_src/integrations/fastapi/confluent/multiple.py
  docs/docs_src/integrations/fastapi/confluent/send.py
  docs/docs_src/integrations/fastapi/confluent/startup.py
  docs/docs_src/integrations/fastapi/kafka/base.py
  docs/docs_src/integrations/fastapi/kafka/depends.py
  docs/docs_src/integrations/fastapi/kafka/multiple.py
  docs/docs_src/integrations/fastapi/kafka/send.py
  docs/docs_src/integrations/fastapi/kafka/startup.py
  docs/docs_src/integrations/fastapi/nats/base.py
  docs/docs_src/integrations/fastapi/nats/depends.py
  docs/docs_src/integrations/fastapi/nats/multiple.py
  docs/docs_src/integrations/fastapi/nats/send.py
  docs/docs_src/integrations/fastapi/nats/startup.py
  docs/docs_src/integrations/fastapi/rabbit/base.py
  docs/docs_src/integrations/fastapi/rabbit/depends.py
  docs/docs_src/integrations/fastapi/rabbit/multiple.py
  docs/docs_src/integrations/fastapi/rabbit/send.py
  docs/docs_src/integrations/fastapi/rabbit/startup.py
  docs/docs_src/integrations/fastapi/redis/base.py
  docs/docs_src/integrations/fastapi/redis/depends.py
  docs/docs_src/integrations/fastapi/redis/multiple.py
  docs/docs_src/integrations/fastapi/redis/send.py
  docs/docs_src/integrations/fastapi/redis/startup.py
  faststream/broker/fastapi/router.py
  tests/asyncapi/base/fastapi.py
  tests/brokers/base/fastapi.py
Due: lint, static-analysis, docs

lint: fix confluent topic mypy
  faststream/confluent/schemas/partition.py
Due: lint, static-analysis

refactor: polist RMQ get_one method
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

Rabbit subscriber get_one tests
  tests/brokers/rabbit/test_consume.py
Due: lint, static-analysis

Kafka subscriber get_one tests
  tests/brokers/kafka/test_consume.py
  tests/brokers/rabbit/test_consume.py
Due: lint, static-analysis

fix: respect ignored exceptions
  faststream/broker/middlewares/exception.py
  tests/brokers/base/middlewares.py
Due: lint, static-analysis
