Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

fix: correct AsyncAPI
  faststream/prometheus/middleware.py
  faststream/rabbit/publisher/specified.py
  tests/asyncapi/rabbit/v2_6_0/test_publisher.py
  tests/cli/test_publish.py
Due: lint, static-analysis

fix: add missing pre-commit changes
  faststream/rabbit/publisher/specified.py
Due: lint, static-analysis

chore: remove 3.8 from CI
  .github/workflows/pr_tests.yaml
Due: none

chore: fix CI
  tests/brokers/base/consume.py
  tests/brokers/base/middlewares.py
  tests/brokers/base/requests.py
  tests/brokers/base/testclient.py
  tests/brokers/confluent/test_consume.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/nats/test_consume.py
  tests/brokers/rabbit/test_consume.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/test_pushback.py
  tests/cli/rabbit/test_app.py
  tests/tools.py
  tests/utils/test_ast.py
Due: lint, static-analysis

chore: fix CI
  tests/a_docs/getting_started/subscription/test_annotated.py
Due: lint, static-analysis

fix: set miltilock at start only
  faststream/_internal/subscriber/usecase.py
  faststream/_internal/testing/broker.py
Due: lint, static-analysis

fastapi app initialization updated
  examples/fastapi_integration/app.py
Due: lint, static-analysis

Add support for environment variables in faststream run command
  faststream/cli/main.py
Due: lint, static-analysis

Do not import `fake_context` if not needed
  faststream/app.py
Due: lint, static-analysis

Add support for environment variables in faststream run command (#1876)
  faststream/cli/main.py
Due: lint, static-analysis

fastapi app initialization updated (#1875)
  examples/fastapi_integration/app.py
Due: lint, static-analysis

Do not import `fake_context` if not needed (#1877)
  faststream/app.py
Due: lint, static-analysis

build: add warning about manual lifespan_context
  faststream/broker/fastapi/router.py
Due: lint, static-analysis

build: add warning about manual lifespan_context (#1878)
  faststream/broker/fastapi/router.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/en/api/faststream/broker/subscriber/mixins/ConcurrentMixin.md
  docs/docs/en/api/faststream/broker/subscriber/mixins/TasksMixin.md
Due: docs

tests: refactor context tests
  tests/conftest.py
  tests/utils/context/test_alias.py
  tests/utils/context/test_main.py
Due: lint, static-analysis

chore: merge main
  faststream/_internal/fastapi/router.py
Due: lint, static-analysis

Add trending badge
  README.md
  docs/docs/en/faststream.md
  faststream/exceptions.py
Due: lint, static-analysis, docs

Add trending badge (#1882)
  README.md
  docs/docs/en/faststream.md
  faststream/exceptions.py
Due: lint, static-analysis, docs

type fixes
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/client.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/router.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/utils/functions.py
Due: lint, static-analysis

feat: add class method to create a baggage instance from headers
  faststream/opentelemetry/baggage.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/nats/broker/state/BrokerState.md
  docs/docs/en/api/faststream/nats/broker/state/ConnectedState.md
  docs/docs/en/api/faststream/nats/broker/state/ConnectionBrokenState.md
  docs/docs/en/api/faststream/nats/broker/state/EmptyBrokerState.md
  docs/docs/en/api/faststream/nats/helpers/state/ConnectedState.md
  docs/docs/en/api/faststream/nats/helpers/state/ConnectionState.md
  docs/docs/en/api/faststream/nats/helpers/state/EmptyConnectionState.md
  docs/docs/en/api/faststream/nats/subscriber/state/ConnectedSubscriberState.md
  docs/docs/en/api/faststream/nats/subscriber/state/EmptySubscriberState.md
  docs/docs/en/api/faststream/nats/subscriber/state/SubscriberState.md
Due: docs

tests: in-memory cli
  pyproject.toml
  tests/cli/rabbit/test_app.py
Due: lint, static-analysis

chore: use python3.9 compatible FastDepends
  pyproject.toml
Due: none

chore: revert FD version
  pyproject.toml
Due: none

chore: FD 3.0.0a2
  pyproject.toml
Due: none

tests: fix FastAPI tests
  tests/brokers/base/fastapi.py
Due: lint, static-analysis

fixing metrics for rpc
  faststream/prometheus/middleware.py
  tests/prometheus/basic.py
  tests/prometheus/nats/test_nats.py
  tests/prometheus/rabbit/test_rabbit.py
  tests/prometheus/redis/test_redis.py
Due: lint, static-analysis

== -> is
  faststream/prometheus/middleware.py
Due: lint, static-analysis

Fixed RPC for Prometheus metrics (#1887)
  faststream/prometheus/middleware.py
  tests/prometheus/basic.py
  tests/prometheus/nats/test_nats.py
  tests/prometheus/rabbit/test_rabbit.py
  tests/prometheus/redis/test_redis.py
Due: lint, static-analysis

test: baggage from headers
  tests/opentelemetry/basic.py
Due: lint, static-analysis

refactor: update from headers test
  tests/opentelemetry/basic.py
Due: lint, static-analysis

chore: fix precommit
  faststream/opentelemetry/baggage.py
Due: lint, static-analysis
