Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

Autocommit precommit changes (#1840)
  .github/workflows/pr_tests.yaml
  .pre-commit-config.yaml
Due: none

Add devcontainers supporting all the brokers (#1839)
  .devcontainer/devcontainer.env
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yaml
  .devcontainer/setup.sh
  .pre-commit-config.yaml
Due: none

add: NATS HowTO
  docs/docs/en/getting-started/asgi.md
  docs/docs/en/howto/nats/dynaconf.md
  docs/docs/en/howto/nats/index.md
  docs/docs/navigation_template.txt
  ruff.toml
Due: docs

fix: add missing pre-commit changes
  docs/docs/en/howto/nats/dynaconf.md
  docs/docs/en/howto/nats/index.md
Due: docs

fix: replace async Event with bool
  faststream/_internal/application.py
  faststream/app.py
Due: lint, static-analysis

refactor: delete defaults
  faststream/specification/asyncapi/base/__init__.py
  faststream/specification/asyncapi/factory.py
  faststream/specification/asyncapi/v3_0_0/generate.py
  faststream/specification/asyncapi/v3_0_0/schema/message.py
  faststream/specification/schema/publisher.py
  faststream/specification/schema/subscriber.py
  tests/asyncapi/base/v2_6_0/from_spec/test_contact.py
Due: lint, static-analysis

MetricsManager abstraction added and used in middleware
  faststream/confluent/prometheus/middleware.py
  faststream/kafka/prometheus/middleware.py
  faststream/nats/prometheus/middleware.py
  faststream/prometheus/container.py
  faststream/prometheus/manager.py
  faststream/prometheus/middleware.py
  faststream/rabbit/prometheus/middleware.py
  faststream/redis/prometheus/middleware.py
  tests/prometheus/basic.py
  tests/prometheus/confluent/test_confluent.py
  tests/prometheus/kafka/test_kafka.py
  tests/prometheus/nats/test_nats.py
  tests/prometheus/redis/test_redis.py
Due: lint, static-analysis

fixed an error when there was no exchange in tests
  faststream/rabbit/prometheus/provider.py
Due: lint, static-analysis

documentation has been corrected due to the renaming of metrics
  docs/docs/en/getting-started/prometheus/index.md
Due: docs

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/prometheus/container/MetricsContainer.md
  docs/docs/en/api/faststream/prometheus/manager/MetricsManager.md
Due: docs

fixed type annotations
  faststream/confluent/prometheus/middleware.py
  faststream/kafka/prometheus/middleware.py
  faststream/nats/prometheus/middleware.py
  faststream/prometheus/manager.py
  faststream/rabbit/prometheus/middleware.py
  faststream/redis/prometheus/middleware.py
Due: lint, static-analysis

added app_name label in index.md
  docs/docs/en/getting-started/prometheus/index.md
Due: docs

upgraded Python to 3.13
  .github/workflows/pr_tests.yaml
  pyproject.toml
Due: none

chore: ignore ASYNC110
  faststream/_internal/application.py
Due: lint, static-analysis

fix: replace asyncio with anyio
  faststream/_internal/application.py
Due: lint, static-analysis

Replace async Event with bool (#1846)
  faststream/_internal/application.py
  faststream/app.py
Due: lint, static-analysis

tests: fix 3.13 tabulation problem
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_handler.py
Due: lint, static-analysis

removed extra space in metric doc
  faststream/prometheus/container.py
Due: lint, static-analysis

fixed status in add_published_message
  faststream/prometheus/manager.py
Due: lint, static-analysis

fixed buckets type
  faststream/confluent/prometheus/middleware.py
  faststream/kafka/prometheus/middleware.py
  faststream/nats/prometheus/middleware.py
  faststream/prometheus/container.py
  faststream/prometheus/middleware.py
  faststream/rabbit/prometheus/middleware.py
  faststream/redis/prometheus/middleware.py
Due: lint, static-analysis

Fix: change add_prefix, add tests
  faststream/_internal/broker/abc_broker.py
  faststream/redis/publisher/usecase.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/redis/test_test_client.py
Due: lint, static-analysis

test for implementing metrics on a real prometheus_client
  tests/prometheus/test_metrics.py
Due: lint, static-analysis

Add support for Python 3.13 (#1845)
  .github/workflows/pr_tests.yaml
  pyproject.toml
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_handler.py
Due: lint, static-analysis

Update Release Notes for 0.5.26
  docs/docs/en/release.md
Due: docs

Update release.md
  docs/docs/en/release.md
Due: docs

Update detect secrets
  .secrets.baseline
Due: none

fix: anyio major version parser
  faststream/_compat.py
Due: lint, static-analysis

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

fix: anyio major version parser (#1850)
  faststream/__about__.py
  faststream/_compat.py
Due: lint, static-analysis

Update Release Notes for 0.5.27
  docs/docs/en/release.md
Due: docs

Update secrets
  .secrets.baseline
Due: none

chore: fix errors
  faststream/utils/functions.py
  pyproject.toml
Due: lint, static-analysis

chore: fix coverage version
  pyproject.toml
Due: none

docs: Correct minimum FastAPI version for lifespan handling
  docs/docs/en/getting-started/integrations/fastapi/index.md
Due: docs

Fix: change default_parser to setup method
  faststream/_internal/subscriber/usecase.py
  faststream/redis/schemas/pub_sub.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/redis/test_consume.py
  tests/brokers/redis/test_test_client.py
Due: lint, static-analysis

docs: Correct minimum FastAPI version for lifespan handling (#1853)
  docs/docs/en/getting-started/integrations/fastapi/index.md
Due: docs

rm useless change
  faststream/_internal/application.py
Due: lint, static-analysis

small tests refactoring
  tests/prometheus/basic.py
  tests/prometheus/confluent/test_confluent.py
  tests/prometheus/kafka/test_kafka.py
  tests/prometheus/nats/test_nats.py
  tests/prometheus/rabbit/test_rabbit.py
  tests/prometheus/redis/test_redis.py
Due: lint, static-analysis

changed metrics_prefix default value
  faststream/prometheus/middleware.py
Due: lint, static-analysis

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
