Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

linting
  docs/docs_src/kafka/security/sasl_oauthbearer.py
  tests/asyncapi/kafka/test_security.py
Due: lint, static-analysis, docs

docs: remove confusing reply_to result
  docs/docs/en/nats/rpc.md
  docs/docs/en/rabbit/rpc.md
Due: docs

linting
  docs/docs/en/kafka/security.md
Due: docs

fix (#1759): cast Enums to str in ConfluentConfig
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/config.py
Due: lint, static-analysis

tests: add check for enum->str confluent config
  tests/brokers/confluent/test_connect.py
Due: lint, static-analysis

lint: fix typo
  faststream/confluent/client.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/config/ConfluentFastConfig.md
Due: docs

fix (#1759): correct ConfluentConfig with enums (#1762)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/config/ConfluentFastConfig.md
  docs/docs/en/nats/rpc.md
  docs/docs/en/rabbit/rpc.md
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/config.py
  tests/brokers/confluent/test_connect.py
Due: lint, static-analysis, docs

fix: FastAPI 0.112.3 compatibility
  faststream/_compat.py
  faststream/broker/fastapi/_compat.py
  faststream/broker/fastapi/route.py
Due: lint, static-analysis

Adds SASLOAuthBearer flow to AIO Kafka's Faststream Security Parsing (#1761)
  docs/docs/en/kafka/security.md
  docs/docs_src/kafka/security/sasl_oauthbearer.py
  faststream/kafka/security.py
  tests/asyncapi/kafka/test_security.py
Due: lint, static-analysis, docs

chore: bump FastAPI
  faststream/_compat.py
  pyproject.toml
Due: lint, static-analysis

lint: fix mypy for latests FastAPI
  faststream/broker/fastapi/_compat.py
Due: lint, static-analysis

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

fix: FastAPI 0.112.3 compatibility (#1763)
  faststream/__about__.py
  faststream/_compat.py
  faststream/broker/fastapi/_compat.py
  faststream/broker/fastapi/route.py
  pyproject.toml
Due: lint, static-analysis

Update Release Notes for 0.5.21
  docs/docs/en/release.md
Due: docs

chore: fix precommit
  .secrets.baseline
Due: none

fix: FastAPI 0.112.4+ compatibility
  faststream/broker/fastapi/_compat.py
  pyproject.toml
Due: lint, static-analysis

lint: fix mypy
  faststream/broker/fastapi/_compat.py
Due: lint, static-analysis

fix: FastAPI 0.112.4+ compatibility (#1766)
  faststream/__about__.py
  faststream/broker/fastapi/_compat.py
  pyproject.toml
Due: lint, static-analysis

Update Release Notes for 0.5.22
  docs/docs/en/release.md
Due: docs

feat: AsgiFastStream hooks init options
  faststream/app.py
  faststream/asgi/app.py
Due: lint, static-analysis

lint: fix precommit
  .secrets.baseline
Due: none

docs: generate API References
  docs/docs/en/release.md
Due: docs

lint: fix ruff
  faststream/asgi/app.py
Due: lint, static-analysis

build(#1430): separate cli faststream to its own distribution
  docs/docs/SUMMARY.md
  docs/docs/en/getting-started/cli/index.md
  docs/docs/navigation_template.txt
  pyproject.toml
Due: docs

feat: AsgiFastStream hooks init options (#1768)
  .secrets.baseline
  faststream/app.py
  faststream/asgi/app.py
Due: lint, static-analysis

Update mkdocstrings version with fix
  pyproject.toml
Due: none

Update mkdocstrings version with fix (#1770)
  pyproject.toml
Due: none

refactor: mv confluent thread to asyncio task
  faststream/confluent/client.py
Due: lint, static-analysis

fix: add no_confirm option to Confluent publish batch method
  .secrets.baseline
  docs/docs/en/release.md
  faststream/confluent/client.py
  faststream/confluent/publisher/producer.py
Due: lint, static-analysis, docs

fix (#1748): add Kafka publish no_confirm option (#1749)
  .github/workflows/pr_tests.yaml
  .secrets.baseline
  docs/mkdocs.yml
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/publisher/producer.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/schemas/partition.py
  faststream/confluent/testing.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/producer.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/testing.py
  pyproject.toml
  tests/brokers/base/middlewares.py
  tests/brokers/confluent/conftest.py
Due: lint, static-analysis, docs

Nats CoreSubscriber.get_one small refactoring
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

ci: add cli target to smoke job tests
  .github/workflows/pr_tests.yaml
Due: none

KafkaBroker asyncapi_version argument
  faststream/kafka/fastapi/fastapi.py
Due: lint, static-analysis

AsyncAPI version choosing interface
  faststream/app.py
  faststream/asyncapi/generate.py
  faststream/constants.py
Due: lint, static-analysis

AsyncAPI 3.0.0 Nats arguments tests
  tests/asyncapi/nats/v3_0_0/test_arguments.py
  tests/asyncapi/redis/v3_0_0/test_arguments.py
Due: lint, static-analysis

AsyncAPI RabbitMQ specific naming tests fix
  tests/asyncapi/rabbit/v3_0_0/test_naming.py
Due: lint, static-analysis

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
