Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit, pre-merge-commit]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        stages: [pre-commit, pre-merge-commit, manual]
    -   id: end-of-file-fixer
        stages: [pre-commit, pre-merge-commit, manual]
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        stages: [pre-commit, pre-merge-commit, manual]
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files
        stages: [pre-commit, pre-merge-commit, manual]

-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        stages: [pre-commit, pre-merge-commit, manual]
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        stages: [pre-commit, pre-merge-commit, manual]
        entry: "scripts/lint-pre-commit.sh"
        language: python
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json
        stages: [pre-commit, pre-merge-commit, manual]

restore docker-compose
  docs/docs/en/getting-started/contributing/CONTRIBUTING.md
  docs/includes/docker-compose.yaml
Due: docs

fix: make `CriticalLogMiddleware` respect broker log level (#2130)
  faststream/broker/middlewares/logging.py
Due: lint, static-analysis

Added pros and cons to publishers page (#2103)
  docs/docs/en/getting-started/publishing/broker.md
  docs/docs/en/getting-started/publishing/decorator.md
  docs/docs/en/getting-started/publishing/direct.md
  docs/docs/en/getting-started/publishing/object.md
  docs/docs/stylesheets/extra.css
  docs/mkdocs.yml
Due: docs

Docs follow off logging recommendations (#2127)
  docs/docs_src/confluent/publish_with_partition_key/app.py
  docs/docs_src/confluent/publisher_object/example.py
  docs/docs_src/confluent/raw_publish/example.py
  docs/docs_src/getting_started/serialization/avro.py
  docs/docs_src/getting_started/serialization/msgpack_ex.py
  docs/docs_src/kafka/publish_with_partition_key/app.py
  docs/docs_src/kafka/publisher_object/example.py
  docs/docs_src/kafka/raw_publish/example.py
  docs/docs_src/redis/pub_sub/pattern_data.py
  docs/docs_src/redis/pub_sub/publisher_object.py
  docs/docs_src/redis/pub_sub/raw_publish.py
  examples/e02_1_basic_publisher.py
  examples/e02_2_basic_publisher.py
  examples/e02_3_basic_publisher.py
  examples/e04_msg_filter.py
  examples/redis/channel_sub_pattern.py
  examples/serialization/avro/avro.py
  examples/serialization/msgpack/pack.py
Due: lint, static-analysis, docs

fix: make `CriticalLogMiddleware` respect broker log level (#2130) (#2131)
  faststream/broker/middlewares/logging.py
Due: lint, static-analysis

lint: fix ruff
  faststream/broker/core/usecase.py
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/fastapi/router.py
  faststream/broker/message.py
  faststream/broker/middlewares/exception.py
  faststream/broker/subscriber/call_item.py
  faststream/broker/utils.py
  faststream/confluent/opentelemetry/provider.py
  faststream/confluent/prometheus/provider.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/subscriber/factory.py
  faststream/kafka/opentelemetry/provider.py
  faststream/kafka/parser.py
  faststream/kafka/prometheus/provider.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/broker/registrator.py
  faststream/nats/fastapi/fastapi.py
  faststream/nats/prometheus/provider.py
  faststream/nats/subscriber/usecase.py
  faststream/opentelemetry/middleware.py
  faststream/prometheus/container.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/redis/broker/registrator.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/opentelemetry/provider.py
  faststream/redis/prometheus/provider.py
  faststream/redis/testing.py
  faststream/utils/ast.py
  tests/opentelemetry/basic.py
Due: lint, static-analysis

Update Release Notes for 0.5.36
  docs/docs/en/release.md
Due: docs

lint: fix codespell
  docs/docs/en/release.md
Due: docs

Remove comments
  faststream/asgi/app.py
  faststream/asgi/factories.py
  faststream/asgi/handlers.py
  faststream/asyncapi/generate.py
  faststream/asyncapi/schema/main.py
  faststream/broker/fastapi/router.py
Due: lint, static-analysis

Add basic route schema
  faststream/asyncapi/schema/__init__.py
  faststream/asyncapi/schema/main.py
  faststream/asyncapi/schema/routes.py
Due: lint, static-analysis

Insert routes
  faststream/asgi/handlers.py
  faststream/asyncapi/generate.py
  faststream/asyncapi/schema/main.py
  tests/asgi/testcase.py
Due: lint, static-analysis

fix: Do not override config values provided in `ConfluentFastConfig` for `AsyncConfluentProducer` and `AsyncConfluentConsumer`
  faststream/confluent/client.py
Due: lint, static-analysis

fix: correct Confluent options name mapping
  faststream/__about__.py
  faststream/confluent/schemas/params.py
  faststream/confluent/security.py
  tests/a_docs/confluent/test_security.py
Due: lint, static-analysis

fix: correct call_decorators wrapping order
  faststream/broker/wrapper/call.py
Due: lint, static-analysis

lint: fix mypy
  faststream/broker/subscriber/call_item.py
  faststream/broker/wrapper/call.py
Due: lint, static-analysis

fix: correct call_decorators wrapping order (#2138)
  faststream/broker/subscriber/call_item.py
  faststream/broker/wrapper/call.py
Due: lint, static-analysis

fix: correct Confluent options name mapping (#2137)
  faststream/__about__.py
  faststream/confluent/schemas/params.py
  faststream/confluent/security.py
  tests/a_docs/confluent/test_security.py
Due: lint, static-analysis

Update Release Notes for 0.5.37
  docs/docs/en/release.md
Due: docs

Add schema test
  faststream/asyncapi/generate.py
  faststream/asyncapi/schema/routes.py
  tests/asgi/testcase.py
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis

Lint
  faststream/asgi/handlers.py
  faststream/asyncapi/generate.py
  faststream/asyncapi/schema/__init__.py
  faststream/asyncapi/schema/main.py
  faststream/asyncapi/schema/routes.py
  faststream/broker/fastapi/router.py
  tests/asgi/testcase.py
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis

Tidy up typing
  faststream/asgi/factories.py
  faststream/asgi/handlers.py
  faststream/asyncapi/generate.py
  tests/asgi/testcase.py
  tests/asyncapi/base/fastapi.py
Due: lint, static-analysis

Remove comment
  faststream/asyncapi/generate.py
Due: lint, static-analysis

Tweak RabbitMQ queue argument lists
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/ClassicQueueSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QuorumQueueSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/SharedClassicAndQuorumQueueArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/StreamQueueSpecificArgs.md
  faststream/rabbit/schemas/queue.py
Due: lint, static-analysis, docs

Clean types
  faststream/asgi/factories.py
  faststream/asgi/handlers.py
Due: lint, static-analysis

Update docs
  docs/docs/en/getting-started/asgi.md
  faststream/asyncapi/generate.py
Due: lint, static-analysis, docs

tests: add corner case for FastAPI & pydantic211
  faststream/asyncapi/schema/main.py
  tests/asyncapi/base/arguments.py
  tests/asyncapi/base/fastapi.py
  tests/asyncapi/kafka/test_app.py
Due: lint, static-analysis

tests: add compat discriminator test with old pydantic
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis

fix: pydantic211 compat (#2150)
  faststream/asyncapi/schema/main.py
  tests/asyncapi/base/arguments.py
  tests/asyncapi/base/fastapi.py
  tests/asyncapi/kafka/test_app.py
Due: lint, static-analysis

Tweak RabbitMQ queue argument lists (#2148)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/ClassicQueueSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QuorumQueueSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/SharedClassicAndQuorumQueueArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/StreamQueueSpecificArgs.md
  faststream/rabbit/schemas/queue.py
Due: lint, static-analysis, docs

fix: prevent duplicate logging handler registration when calling broker.start()
  faststream/log/logging.py
  tests/brokers/kafka/test_consume.py
  tests/log/test_logging.py
Due: lint, static-analysis

fix: prevent duplicate logging handler registration when calling broker.start() (#2153)
  faststream/log/logging.py
  tests/brokers/kafka/test_consume.py
  tests/log/test_logging.py
Due: lint, static-analysis

feature: support RMQ autoacknowledgement
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/specified.py
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

tests: resolve RMQ conflicts
  faststream/_internal/application.py
  faststream/_internal/proto.py
  faststream/_internal/subscriber/usecase.py
  faststream/broker/core/usecase.py
  faststream/rabbit/subscriber/factory.py
  tests/brokers/base/publish.py
  tests/brokers/base/testclient.py
  tests/cli/rabbit/test_app.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/asyncapi/generate/get_asgi_routes.md
  docs/docs/en/api/faststream/asyncapi/schema/Route.md
  docs/docs/en/api/faststream/asyncapi/schema/routes/Route.md
  docs/docs/en/release.md
  faststream/asgi/handlers.py
Due: lint, static-analysis, docs

uv added to precommit
  scripts/lint-pre-commit.sh
  scripts/static-pre-commit.sh
Due: none

AG2 references added
  .github/ISSUE_TEMPLATE/config.yaml
  CITATION.cff
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  SECURITY.md
  docs/create_api_docs.py
  docs/docs/en/faststream-people.md
  docs/docs/en/faststream.md
  docs/docs/en/getting-started/contributing/docs.md
  docs/docs/en/getting-started/template/index.md
  docs/docs/en/howto/kafka/index.md
  docs/docs/en/howto/nats/index.md
  docs/docs/en/release.md
  docs/mkdocs.yml
  docs/overrides/home.html
  docs/templates/redirect.html
  docs/update_releases.py
  faststream/confluent/client.py
  pyproject.toml
  scripts/set_variables.sh
  tests/brokers/base/future/fastapi.py
  tests/brokers/confluent/test_test_reentrancy.py
  tests/brokers/kafka/test_test_reentrancy.py
  tests/brokers/rabbit/test_test_reentrancy.py
Due: lint, static-analysis, docs

Move to ag2ai organization (#2156)
  .github/ISSUE_TEMPLATE/config.yaml
  CITATION.cff
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  SECURITY.md
  docs/create_api_docs.py
  docs/docs/en/faststream-people.md
  docs/docs/en/faststream.md
  docs/docs/en/getting-started/contributing/docs.md
  docs/docs/en/getting-started/template/index.md
  docs/docs/en/howto/kafka/index.md
  docs/docs/en/howto/nats/index.md
  docs/docs/en/release.md
  docs/mkdocs.yml
  docs/overrides/home.html
  docs/templates/redirect.html
  docs/update_releases.py
  faststream/confluent/client.py
  pyproject.toml
  scripts/lint-pre-commit.sh
  scripts/set_variables.sh
  scripts/static-pre-commit.sh
  tests/brokers/base/future/fastapi.py
  tests/brokers/confluent/test_test_reentrancy.py
  tests/brokers/kafka/test_test_reentrancy.py
  tests/brokers/rabbit/test_test_reentrancy.py
Due: lint, static-analysis, docs

fix: resolve kafka conflicts
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/listener.py
  faststream/kafka/message.py
  faststream/kafka/parser.py
  faststream/kafka/subscriber/asyncapi.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  tests/brokers/kafka/conftest.py
  tests/brokers/kafka/test_connect.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/kafka/test_misconfigure.py
Due: lint, static-analysis
