Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

docs: add link to RU TG community: (#1831)
  README.md
  docs/docs/en/faststream.md
  docs/docs/en/getting-started/asgi.md
Due: docs

Add dynaconf example for nats
  docs/docs/SUMMARY.md
  docs/docs/en/howto/nats/dynaconf.md
  docs/docs/en/howto/nats/index.md
  docs/docs/navigation_template.txt
Due: docs

Update index
  docs/docs/en/howto/nats/index.md
Due: docs

:)
  docs/docs/en/howto/nats/index.md
Due: docs

Add type for new_value and uncomment
  docs/docs/en/howto/nats/dynaconf.md
Due: docs

Fix: add default EMPTY and check it
  faststream/redis/broker/registrator.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/publisher/publisher.py
  faststream/redis/schemas/pub_sub.py
  faststream/redis/subscriber/factory.py
Due: lint, static-analysis

Update dynaconf.md
  docs/docs/en/howto/nats/dynaconf.md
Due: docs

docs: polish markup
  docs/docs/en/howto/nats/dynaconf.md
Due: docs

Proofread howto docs page
  docs/docs/en/howto/nats/dynaconf.md
Due: docs

docs: add dynaconf NATS HowTo example (#1832)
  docs/docs/SUMMARY.md
  docs/docs/en/howto/nats/dynaconf.md
  docs/docs/en/howto/nats/index.md
  docs/docs/navigation_template.txt
Due: docs

Correct queue and exchange for AMQP in AsyncAPI 3.0.0
  faststream/rabbit/subscriber/subscriber.py
  faststream/specification/asyncapi/v2_6_0/schema/bindings/amqp/channel.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/channel.py
  tests/asyncapi/rabbit/v3_0_0/test_arguments.py
  tests/asyncapi/rabbit/v3_0_0/test_connection.py
  tests/asyncapi/rabbit/v3_0_0/test_naming.py
  tests/asyncapi/rabbit/v3_0_0/test_publisher.py
  tests/asyncapi/rabbit/v3_0_0/test_router.py
Due: lint, static-analysis

ruff satisfied
  faststream/specification/asyncapi/v2_6_0/schema/bindings/amqp/channel.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/specification/AsyncAPI.md
  docs/docs/en/api/faststream/specification/Contact.md
  docs/docs/en/api/faststream/specification/ExternalDocs.md
  docs/docs/en/api/faststream/specification/License.md
  docs/docs/en/api/faststream/specification/Tag.md
  docs/docs/en/api/faststream/specification/base/info/BaseInfo.md
  docs/docs/en/api/faststream/specification/base/proto/EndpointProto.md
  docs/docs/en/api/faststream/specification/base/schema/BaseSchema.md
  docs/docs/en/api/faststream/specification/base/specification/Specification.md
  docs/docs/en/api/faststream/specification/schema/Contact.md
  docs/docs/en/api/faststream/specification/schema/ExternalDocs.md
  docs/docs/en/api/faststream/specification/schema/License.md
  docs/docs/en/api/faststream/specification/schema/Tag.md
Due: docs

Downgrade AsyncAPI React component version
  faststream/asyncapi/site.py
Due: lint, static-analysis

Downgrade AsyncAPI CSS version
  faststream/asyncapi/site.py
Due: lint, static-analysis

Fix AsyncAPI 2.6.0 operation label (#1835)
  faststream/asyncapi/site.py
Due: lint, static-analysis

documentation addition
  docs/docs/en/getting-started/prometheus/index.md
  docs/docs_src/getting_started/prometheus/confluent_asgi.py
  docs/docs_src/getting_started/prometheus/kafka_asgi.py
  docs/docs_src/getting_started/prometheus/nats_asgi.py
  docs/docs_src/getting_started/prometheus/rabbit_asgi.py
  docs/docs_src/getting_started/prometheus/redis_asgi.py
  docs/includes/getting_started/prometheus/1.md
  docs/includes/getting_started/prometheus/2.md
Due: lint, static-analysis, docs

updated SUMMARY.md
  docs/docs/SUMMARY.md
Due: docs

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/release.md
Due: docs

trailing-whitespace in index.md
  docs/docs/en/getting-started/prometheus/index.md
Due: docs

Fix AsyncAPI 2.6.0 operation type
  faststream/specification/asyncapi/v2_6_0/schema/channels.py
  tests/asyncapi/base/v2_6_0/publisher.py
  tests/asyncapi/confluent/v2_6_0/test_naming.py
  tests/asyncapi/confluent/v2_6_0/test_router.py
  tests/asyncapi/confluent/v2_6_0/test_security.py
  tests/asyncapi/kafka/v2_6_0/test_naming.py
  tests/asyncapi/kafka/v2_6_0/test_router.py
  tests/asyncapi/kafka/v2_6_0/test_security.py
  tests/asyncapi/nats/v2_6_0/test_naming.py
  tests/asyncapi/nats/v2_6_0/test_router.py
  tests/asyncapi/rabbit/v2_6_0/test_connection.py
  tests/asyncapi/rabbit/v2_6_0/test_naming.py
  tests/asyncapi/rabbit/v2_6_0/test_publisher.py
  tests/asyncapi/rabbit/v2_6_0/test_router.py
  tests/asyncapi/redis/v2_6_0/test_naming.py
  tests/asyncapi/redis/v2_6_0/test_router.py
Due: lint, static-analysis

deleted pragma: no-cover
  faststream/prometheus/middleware.py
Due: lint, static-analysis

Fix tests
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_basic.py
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_handler.py
  tests/asyncapi/confluent/v3_0_0/test_router.py
  tests/asyncapi/kafka/v3_0_0/test_router.py
  tests/asyncapi/nats/v3_0_0/test_router.py
  tests/asyncapi/rabbit/v3_0_0/test_router.py
  tests/asyncapi/redis/v3_0_0/test_router.py
Due: lint, static-analysis

Ruff satisfied
  faststream/rabbit/subscriber/subscriber.py
Due: lint, static-analysis

tests for getting started code examples
  tests/a_docs/getting_started/prometheus/__init__.py
  tests/a_docs/getting_started/prometheus/base.py
  tests/a_docs/getting_started/prometheus/test_confluent.py
  tests/a_docs/getting_started/prometheus/test_confluent_asgi.py
  tests/a_docs/getting_started/prometheus/test_kafka.py
  tests/a_docs/getting_started/prometheus/test_kafka_asgi.py
  tests/a_docs/getting_started/prometheus/test_nats.py
  tests/a_docs/getting_started/prometheus/test_nats_asgi.py
  tests/a_docs/getting_started/prometheus/test_rabbit.py
  tests/a_docs/getting_started/prometheus/test_rabbit_asgi.py
  tests/a_docs/getting_started/prometheus/test_redis.py
  tests/a_docs/getting_started/prometheus/test_redis_asgi.py
Due: lint, static-analysis

Revert "tests for getting started code examples"
  tests/a_docs/getting_started/prometheus/__init__.py
  tests/a_docs/getting_started/prometheus/base.py
  tests/a_docs/getting_started/prometheus/test_confluent.py
  tests/a_docs/getting_started/prometheus/test_confluent_asgi.py
  tests/a_docs/getting_started/prometheus/test_kafka.py
  tests/a_docs/getting_started/prometheus/test_kafka_asgi.py
  tests/a_docs/getting_started/prometheus/test_nats.py
  tests/a_docs/getting_started/prometheus/test_nats_asgi.py
  tests/a_docs/getting_started/prometheus/test_rabbit.py
  tests/a_docs/getting_started/prometheus/test_rabbit_asgi.py
  tests/a_docs/getting_started/prometheus/test_redis.py
  tests/a_docs/getting_started/prometheus/test_redis_asgi.py
Due: lint, static-analysis

Fix: correct slots
  faststream/redis/schemas/list_sub.py
  faststream/redis/schemas/pub_sub.py
  faststream/redis/schemas/stream_sub.py
Due: lint, static-analysis

WIP: Add devcontainer with multiple brokers
  .devcontainer/devcontainer.env
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yaml
  .devcontainer/setup.sh
Due: none

Update devcontainer
  .devcontainer/devcontainer.json
Due: none

Use python 3.10 for all pre-commit hooks
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yaml
  .pre-commit-config.yaml
Due: none

fix (#1837): explicit asyncio.Event usage
  faststream/_internal/application.py
Due: lint, static-analysis

fix: correct CLI object import in factory case
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/cli/utils/imports.py
  tests/cli/test_publish.py
  tests/cli/test_run.py
Due: lint, static-analysis

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

chore: revert anyio
  faststream/_internal/application.py
Due: lint, static-analysis

fix: respect extra reload extensions CLI option
  faststream/cli/main.py
Due: lint, static-analysis

fix: correct CLI factory behavior (#1838)
  faststream/__about__.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/cli/utils/imports.py
  tests/cli/test_publish.py
  tests/cli/test_run.py
Due: lint, static-analysis

Fix failing kafka container
  .devcontainer/docker-compose.yaml
Due: none

Add stages to pre-commit config
  .pre-commit-config.yaml
Due: none

Commit if there are pre-commit related changes
  .github/workflows/pr_tests.yaml
Due: none

Fix: variant for pass lazy initialization name
  faststream/_internal/broker/abc_broker.py
  faststream/_internal/proto.py
  tests/brokers/redis/test_test_client.py
Due: lint, static-analysis

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
