Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit, pre-merge-commit]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        stages: [pre-commit, pre-merge-commit, manual]
    -   id: end-of-file-fixer
        stages: [pre-commit, pre-merge-commit, manual]
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        stages: [pre-commit, pre-merge-commit, manual]
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files
        stages: [pre-commit, pre-merge-commit, manual]

-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        stages: [pre-commit, pre-merge-commit, manual]
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        stages: [pre-commit, pre-merge-commit, manual]
        entry: "scripts/lint-pre-commit.sh"
        language: python
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json
        stages: [pre-commit, pre-merge-commit, manual]

Fix: correct publisher configs
  faststream/_internal/publisher/usecase.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis

chore: fix CI - do not use pydantic prereleases
  .github/workflows/pr_tests.yaml
Due: none

Fix: again replace options to config
  faststream/_internal/__init__.py
  faststream/_internal/configs.py
  faststream/_internal/publisher/configs.py
  faststream/_internal/publisher/specified.py
  faststream/_internal/publisher/usecase.py
  faststream/_internal/subscriber/configs.py
  faststream/_internal/subscriber/usecase.py
  faststream/confluent/publisher/configs.py
  faststream/confluent/publisher/factory.py
  faststream/confluent/subscriber/configs.py
  faststream/confluent/subscriber/factory.py
  faststream/kafka/publisher/configs.py
  faststream/kafka/publisher/factory.py
  faststream/kafka/subscriber/configs.py
  faststream/kafka/subscriber/factory.py
  faststream/nats/publisher/configs.py
  faststream/nats/publisher/factory.py
  faststream/nats/subscriber/configs.py
  faststream/nats/subscriber/factory.py
  faststream/rabbit/publisher/configs.py
  faststream/rabbit/publisher/factory.py
  faststream/rabbit/subscriber/configs.py
  faststream/rabbit/subscriber/factory.py
  faststream/redis/publisher/configs.py
  faststream/redis/publisher/factory.py
  faststream/redis/subscriber/configs.py
  faststream/redis/subscriber/factory.py
Due: lint, static-analysis

Fix: remove internal options from confluent
  faststream/confluent/publisher/configs.py
  faststream/confluent/publisher/factory.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/subscriber/configs.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/publisher/configs.py
  faststream/kafka/subscriber/configs.py
  faststream/kafka/subscriber/factory.py
  faststream/nats/publisher/configs.py
  faststream/nats/subscriber/configs.py
  faststream/nats/subscriber/factory.py
  faststream/rabbit/publisher/configs.py
  faststream/rabbit/subscriber/configs.py
  faststream/redis/publisher/configs.py
  faststream/redis/subscriber/configs.py
  faststream/redis/subscriber/factory.py
Due: lint, static-analysis

feat: add subscriber iterator for nats
  faststream/nats/subscriber/usecases/core_subscriber.py
  faststream/nats/subscriber/usecases/key_value_subscriber.py
  faststream/nats/subscriber/usecases/object_storage_subscriber.py
  faststream/nats/subscriber/usecases/stream_basic.py
  faststream/nats/subscriber/usecases/stream_pull_subscriber.py
Due: lint, static-analysis

chore: add shield json config
  .github/workflows/pr_tests.yaml
  docs/docs/assets/img/shield.json
Due: docs

chore: switch colors
  docs/docs/assets/img/shield.json
Due: docs

chore: remove link
  docs/docs/assets/img/shield.json
Due: docs

chore: add shield to the docs
  README.md
  docs/docs/en/faststream.md
Due: docs

docs: generate API References
  docs/docs/assets/img/shield.json
Due: docs

chore: disallow prerelease in CI
  .github/workflows/pr_tests.yaml
Due: none

docs: create FastStream image shield (#2062)
  .github/workflows/pr_tests.yaml
  README.md
  docs/docs/assets/img/shield.json
  docs/docs/en/faststream.md
Due: docs

Close #2060
  faststream/confluent/broker/registrator.py
  faststream/kafka/broker/registrator.py
Due: lint, static-analysis

feat: add subscriber iterator for redis
  faststream/redis/subscriber/usecases/channel_subscriber.py
  faststream/redis/subscriber/usecases/list_subscriber.py
  faststream/redis/subscriber/usecases/stream_subscriber.py
Due: lint, static-analysis

Close #2060 (#2063)
  faststream/confluent/broker/registrator.py
  faststream/kafka/broker/registrator.py
Due: lint, static-analysis

feat: FS-2031 added docker compose and justfile
  Dockerfile
  docker-compose.yaml
  justfile
Due: none

docs: generate API References
  Dockerfile
  docker-compose.yaml
Due: none

feat: add subscriber iterator for confluent
  faststream/confluent/subscriber/usecase.py
Due: lint, static-analysis

fix: type hint fixes and formatting
  faststream/_internal/subscriber/proto.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/usecases/core_subscriber.py
  faststream/nats/subscriber/usecases/key_value_subscriber.py
  faststream/nats/subscriber/usecases/object_storage_subscriber.py
  faststream/nats/subscriber/usecases/stream_basic.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/subscriber/usecases/channel_subscriber.py
  faststream/redis/subscriber/usecases/list_subscriber.py
  faststream/redis/subscriber/usecases/stream_subscriber.py
Due: lint, static-analysis

fix: type hint fixes and formatting
  faststream/_internal/subscriber/proto.py
Due: lint, static-analysis

test: add test iterator in base consume
  tests/brokers/base/consume.py
  tests/brokers/rabbit/test_consume.py
Due: lint, static-analysis

test: add test iterator for nats js, kv, os and etc
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

test: add test iterator for redis list and stream
  tests/brokers/redis/test_consume.py
Due: lint, static-analysis

chore: fix typo
  tests/brokers/base/consume.py
Due: lint, static-analysis

feat: allow broker setting in on_startup hook
  faststream/_internal/application.py
  faststream/app.py
  tests/asgi/testcase.py
  tests/cli/rabbit/test_app.py
Due: lint, static-analysis

feat: FS-2031 added justfile and docker compose for developers
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Dockerfile
  docker-compose.yaml
  docs/docs/en/getting-started/contributing/CONTRIBUTING.md
  justfile
  pyproject.toml
  scripts/build-docs-pre-commit.sh
  scripts/build-docs.sh
  scripts/lint-pre-commit.sh
  scripts/lint.sh
  scripts/serve-docs.sh
  scripts/start_test_env.sh
  scripts/static-analysis.sh
  scripts/static-pre-commit.sh
  scripts/stop_test_env.sh
  scripts/test-cov.sh
  scripts/test.sh
Due: docs

feat: allow broker setting in on_startup hook (#2073)
  faststream/_internal/application.py
  faststream/app.py
  tests/asgi/testcase.py
  tests/cli/rabbit/test_app.py
Due: lint, static-analysis

Update declarer.py
  faststream/rabbit/helpers/declarer.py
Due: lint, static-analysis

feat: FS-2031 fix ci
  .github/workflows/docs_deploy.yaml
  .github/workflows/pr_tests.yaml
  .github/workflows/pr_update-linting-and-api-references.yaml
Due: none

feat: FS-2031 fix ci just
  .github/workflows/pr_tests.yaml
Due: none

feat: FS-2031 fix ci build docs
  .github/workflows/pr_update-linting-and-api-references.yaml
Due: none

refactor: use RMQ declare instead of passive option
  docs/includes/docker-compose.yaml
  faststream/rabbit/helpers/declarer.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/schemas/__init__.py
  faststream/rabbit/schemas/exchange.py
  faststream/rabbit/schemas/queue.py
  faststream/rabbit/subscriber/usecase.py
  tests/brokers/rabbit/test_consume.py
Due: lint, static-analysis, docs

refactor: deprecate log_fmt option
  docs/docs/en/getting-started/logging.md
  faststream/_internal/broker/broker.py
  faststream/confluent/broker/broker.py
  faststream/confluent/fastapi/fastapi.py
  faststream/kafka/broker/broker.py
  faststream/kafka/fastapi/fastapi.py
  faststream/nats/broker/broker.py
  faststream/nats/fastapi/fastapi.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/fastapi/fastapi.py
  faststream/redis/broker/broker.py
  faststream/redis/fastapi/fastapi.py
Due: lint, static-analysis, docs

Added an exception to missing PyYAML library
  faststream/asyncapi/schema/main.py
Due: lint, static-analysis

docs: generate API References
  faststream/asyncapi/schema/main.py
Due: lint, static-analysis

Brought all ImportError to the same style
  faststream/asgi/app.py
  faststream/asyncapi/schema/main.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/cli/supervisors/asgi_multiprocess.py
Due: lint, static-analysis

docs: generate API References
  faststream/cli/docs/app.py
  faststream/cli/main.py
Due: lint, static-analysis
