Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

tests: fix 3.8 compatibility
  docs/docs/en/getting-started/asgi.md
  tests/asgi/testcase.py
Due: lint, static-analysis, docs

chore: make detail tests CI output
  .github/workflows/pr_tests.yaml
  tests/brokers/nats/test_router.py
Due: lint, static-analysis

test: make asyncapi asgi test in-memory
  tests/asgi/testcase.py
Due: lint, static-analysis

AsyncAPI 3.0.0 schemas files structure refactoring
  faststream/asyncapi/generate.py
  faststream/asyncapi/schema/__init__.py
  faststream/asyncapi/schema/info.py
  faststream/asyncapi/schema/main.py
  faststream/asyncapi/schema/v2_6_0/__init__.py
  faststream/asyncapi/schema/v3_0_0/__init__.py
  faststream/asyncapi/schema/v3_0_0/channels.py
  faststream/asyncapi/schema/v3_0_0/components.py
  faststream/asyncapi/schema/v3_0_0/info.py
  faststream/asyncapi/schema/v3_0_0/operations.py
  faststream/asyncapi/schema/v3_0_0/schema.py
  faststream/asyncapi/schema/v3_0_0/servers.py
Due: lint, static-analysis

docs: add asgi and OTEL to Public API
  docs/create_api_docs.py
Due: lint, static-analysis, docs

docs: run API generator
  docs/docs/SUMMARY.md
Due: docs

AsyncAPI 3.0.0 Kafka connection test fix
  tests/asyncapi/kafka/v3_0_0/test_connection.py
Due: lint, static-analysis

AsyncAPI 3.0 url split to host and pathname
  faststream/asyncapi/generate.py
Due: lint, static-analysis

AsyncAPI 3.0.0 tests fix
  tests/asyncapi/confluent/v3_0_0/test_connection.py
  tests/asyncapi/confluent/v3_0_0/test_security.py
  tests/asyncapi/kafka/v3_0_0/test_security.py
Due: lint, static-analysis

docs: run API generator
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/asgi/AsgiFastStream.md
  docs/docs/en/api/faststream/asgi/AsgiResponse.md
  docs/docs/en/api/faststream/asgi/app/AsgiFastStream.md
  docs/docs/en/api/faststream/asgi/factories/make_asyncapi_asgi.md
  docs/docs/en/api/faststream/asgi/factories/make_ping_asgi.md
  docs/docs/en/api/faststream/asgi/get.md
  docs/docs/en/api/faststream/asgi/handlers/get.md
  docs/docs/en/api/faststream/asgi/make_asyncapi_asgi.md
  docs/docs/en/api/faststream/asgi/make_ping_asgi.md
  docs/docs/en/api/faststream/asgi/response/AsgiResponse.md
  docs/docs/en/api/faststream/asgi/websocket/WebSocketClose.md
  docs/docs/en/api/faststream/asyncapi/proto/AsyncAPIApplication.md
Due: docs

AsyncAPI schemas refactoring
  faststream/asyncapi/abc.py
  faststream/asyncapi/generate.py
  faststream/asyncapi/schema/__init__.py
  faststream/asyncapi/schema/info.py
  faststream/asyncapi/schema/main.py
  faststream/asyncapi/schema/v2_6_0/__init__.py
  faststream/asyncapi/schema/v2_6_0/channels.py
  faststream/asyncapi/schema/v2_6_0/components.py
  faststream/asyncapi/schema/v2_6_0/info.py
  faststream/asyncapi/schema/v2_6_0/operations.py
  faststream/asyncapi/schema/v2_6_0/schema.py
  faststream/asyncapi/schema/v2_6_0/servers.py
  faststream/asyncapi/schema/v3_0_0/channels.py
  faststream/cli/docs/app.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/subscriber/asyncapi.py
  faststream/kafka/publisher/asyncapi.py
  faststream/kafka/subscriber/asyncapi.py
  faststream/nats/publisher/asyncapi.py
  faststream/nats/subscriber/asyncapi.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/subscriber/asyncapi.py
  faststream/redis/publisher/asyncapi.py
  faststream/redis/subscriber/asyncapi.py
  scripts/start_test_env.sh
Due: lint, static-analysis

tests: separate docs tests
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/asgi/AsgiFastStream.md
  docs/docs/en/api/faststream/asgi/AsgiResponse.md
  docs/docs/en/api/faststream/asgi/app/AsgiFastStream.md
  docs/docs/en/api/faststream/asgi/factories/make_asyncapi_asgi.md
  docs/docs/en/api/faststream/asgi/factories/make_ping_asgi.md
  docs/docs/en/api/faststream/asgi/get.md
  docs/docs/en/api/faststream/asgi/handlers/get.md
  docs/docs/en/api/faststream/asgi/make_asyncapi_asgi.md
  docs/docs/en/api/faststream/asgi/make_ping_asgi.md
  docs/docs/en/api/faststream/asgi/response/AsgiResponse.md
  docs/docs/en/api/faststream/asgi/websocket/WebSocketClose.md
  tests/brokers/confluent/test_security.py
  tests/docs/confluent/test_security.py
Due: lint, static-analysis, docs

docs: update References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/asgi/AsgiFastStream.md
  docs/docs/en/api/faststream/asgi/AsgiResponse.md
  docs/docs/en/api/faststream/asgi/app/AsgiFastStream.md
  docs/docs/en/api/faststream/asgi/factories/make_asyncapi_asgi.md
  docs/docs/en/api/faststream/asgi/factories/make_ping_asgi.md
  docs/docs/en/api/faststream/asgi/get.md
  docs/docs/en/api/faststream/asgi/handlers/get.md
  docs/docs/en/api/faststream/asgi/make_asyncapi_asgi.md
  docs/docs/en/api/faststream/asgi/make_ping_asgi.md
  docs/docs/en/api/faststream/asgi/response/AsgiResponse.md
  docs/docs/en/api/faststream/asgi/websocket/WebSocketClose.md
Due: docs

docs: generate API
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/security/SASLOAuthBearer.md
Due: docs

docs: remove useless API file
  docs/docs/en/api/faststream/asgi/AsgiFastStream.md
  docs/docs/en/api/faststream/asgi/AsgiResponse.md
  docs/docs/en/api/faststream/asgi/app/AsgiFastStream.md
  docs/docs/en/api/faststream/asgi/factories/make_asyncapi_asgi.md
  docs/docs/en/api/faststream/asgi/factories/make_ping_asgi.md
  docs/docs/en/api/faststream/asgi/get.md
  docs/docs/en/api/faststream/asgi/handlers/get.md
  docs/docs/en/api/faststream/asgi/make_asyncapi_asgi.md
  docs/docs/en/api/faststream/asgi/make_ping_asgi.md
  docs/docs/en/api/faststream/asgi/response/AsgiResponse.md
  docs/docs/en/api/faststream/asgi/websocket/WebSocketClose.md
Due: docs

docs: correct styles
  docs/docs/en/api/faststream/asyncapi/proto/AsyncAPIApplication.md
  docs/docs/en/confluent/security.md
Due: docs

refactor: do not start NATS subscribers twice
  faststream/nats/subscriber/usecase.py
  faststream/testing/broker.py
Due: lint, static-analysis

fix: python3.8 compatibility
  faststream/testing/broker.py
Due: lint, static-analysis

feat: add oauth support (#1632)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/security/SASLOAuthBearer.md
  docs/docs/en/confluent/security.md
  docs/docs_src/confluent/security/sasl_oauthbearer.py
  faststream/confluent/client.py
  faststream/confluent/security.py
  faststream/security.py
  tests/asyncapi/confluent/test_security.py
  tests/brokers/confluent/test_security.py
  tests/docs/confluent/test_security.py
Due: lint, static-analysis, docs

refactor: unify already started subsriber scipping
  faststream/nats/subscriber/usecase.py
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis

chore: use uv to speedup docs building
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_tests.yaml
Due: none

chore: revert uv
  .github/workflows/docs_update-references.yaml
Due: none

chore: use uv with editable
  .github/workflows/docs_update-references.yaml
Due: none

chore: fix CI
  .github/workflows/docs_update-references.yaml
Due: none

fix: patch broker within testbroker context only (#1619)
  .codespell-whitelist.txt
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_tests.yaml
  .secrets.baseline
  docs/docs/en/kafka/Subscriber/index.md
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/testing.py
  faststream/redis/subscriber/usecase.py
  faststream/testing/broker.py
  tests/brokers/base/connection.py
  tests/brokers/base/testclient.py
  tests/brokers/confluent/test_test_client.py
  tests/brokers/kafka/test_test_client.py
  tests/brokers/nats/test_router.py
  tests/brokers/nats/test_test_client.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/redis/test_test_client.py
  tests/tools.py
Due: lint, static-analysis, docs

tests: use timeout
  tests/brokers/base/testclient.py
Due: lint, static-analysis

tests: use timeout (#1637)
  tests/brokers/base/testclient.py
Due: lint, static-analysis

fix: use classmethod
  faststream/testing/broker.py
Due: lint, static-analysis

test: increase confuent testclient timeout
  tests/brokers/confluent/test_test_client.py
Due: lint, static-analysis

tests: fix confluent
  tests/asyncapi/confluent/test_security.py
  tests/brokers/base/testclient.py
Due: lint, static-analysis

refactor: clarify BatchKafkaParser behavior
  faststream/kafka/parser.py
Due: lint, static-analysis

lint: run ruff
  docs/docs/en/confluent/security.md
  faststream/kafka/parser.py
  faststream/redis/subscriber/usecase.py
  faststream/security.py
  tests/asyncapi/confluent/test_security.py
Due: lint, static-analysis, docs

lint: fix mypy
  faststream/kafka/parser.py
Due: lint, static-analysis

Update ASGI docs
  docs/docs/en/getting-started/asgi.md
Due: docs

tests: fix confluent
  tests/brokers/confluent/test_test_client.py
Due: lint, static-analysis

chore: bump dependencies
  pyproject.toml
Due: none

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

chore: add kafka devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yaml
  .devcontainer/setup.sh
  .github/dependabot.yaml
  .github/dependabot.yml
  serve.py
  tests/brokers/confluent/test_test_reentrancy.py
  tests/docs/getting_started/publishing/test_broker_context.py
Due: lint, static-analysis

refactor: optimize confluent a bit
  .devcontainer/docker-compose.yaml
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
Due: lint, static-analysis

refactor: optimize confluent client calls
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/schemas/params.py
  faststream/kafka/broker/broker.py
  faststream/kafka/fastapi/fastapi.py
  tests/brokers/base/fastapi.py
  tests/brokers/base/testclient.py
  tests/brokers/confluent/test_fastapi.py
  tests/brokers/confluent/test_test_reentrancy.py
Due: lint, static-analysis
