Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

feat: add class method to create a baggage instance from headers (#1885)
  faststream/opentelemetry/baggage.py
  tests/opentelemetry/basic.py
Due: lint, static-analysis

ops: update docker compose commands to compose V2 in scripts
  scripts/start_test_env.sh
  scripts/stop_test_env.sh
Due: none

ops: update docker compose commands to compose V2 in scripts (#1889)
  scripts/start_test_env.sh
  scripts/stop_test_env.sh
Due: none

tests on MetricsSettingsProvider for all brokers
  tests/prometheus/basic.py
  tests/prometheus/confluent/test_provider.py
  tests/prometheus/kafka/test_provider.py
  tests/prometheus/nats/test_provider.py
  tests/prometheus/rabbit/test_provider.py
  tests/prometheus/redis/test_provider.py
Due: lint, static-analysis

ack_middleware fixed redis stream
  broker_test.py
  faststream/_internal/subscriber/usecase.py
  faststream/middlewares/acknowledgement/middleware.py
  mqtt_publisher.py
  mqtt_subscriber.py
Due: lint, static-analysis

tests: fix FastAPI tests
  tests/brokers/base/fastapi.py
Due: lint, static-analysis

chore: fix tests
  pyproject.toml
  tests/prometheus/rabbit/test_provider.py
Due: lint, static-analysis

chore: remove loguru usage
  tests/brokers/base/fastapi.py
Due: lint, static-analysis

tests on MetricsSettingsProvider for all brokers (#1890)
  pyproject.toml
  tests/brokers/base/fastapi.py
  tests/prometheus/basic.py
  tests/prometheus/confluent/test_provider.py
  tests/prometheus/kafka/test_provider.py
  tests/prometheus/nats/test_provider.py
  tests/prometheus/rabbit/test_provider.py
  tests/prometheus/redis/test_provider.py
Due: lint, static-analysis

ack_middleware fixed redis stream
  faststream/_internal/subscriber/usecase.py
  faststream/middlewares/acknowledgement/middleware.py
Due: lint, static-analysis

chore: remove conflicts
  faststream/__init__.py
  faststream/_internal/broker/broker.py
  faststream/_internal/subscriber/usecase.py
  faststream/_internal/subscriber/utils.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/middlewares/__init__.py
  faststream/middlewares/acknowledgement/middleware.py
  faststream/nats/fastapi/fastapi.py
  faststream/nats/publisher/producer.py
  faststream/nats/schemas/js_stream.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/schemas/stream_sub.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/test_pushback.py
Due: lint, static-analysis

chore: refactor AckMiddleware
  faststream/middlewares/acknowledgement/middleware.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/AckPolicy.md
  docs/docs/en/api/faststream/middlewares/AckPolicy.md
  docs/docs/en/api/faststream/middlewares/AcknowledgementMiddleware.md
  docs/docs/en/api/faststream/middlewares/acknowledgement/conf/AckPolicy.md
  docs/docs/en/api/faststream/middlewares/acknowledgement/middleware/AcknowledgementMiddleware.md
Due: docs

refactor: use caps names for public enums
  faststream/_internal/broker/broker.py
  faststream/_internal/constants.py
  faststream/_internal/publisher/usecase.py
  faststream/_internal/subscriber/utils.py
  faststream/message/message.py
  faststream/message/source_type.py
  faststream/message/utils.py
  faststream/middlewares/acknowledgement/middleware.py
  faststream/middlewares/logging.py
  faststream/prometheus/consts.py
  faststream/prometheus/middleware.py
  faststream/redis/parser.py
  faststream/specification/asyncapi/v2_6_0/generate.py
  faststream/specification/asyncapi/v3_0_0/generate.py
  tests/prometheus/basic.py
Due: lint, static-analysis

Warnings in nats subscriber factory
  faststream/nats/subscriber/factory.py
Due: lint, static-analysis

refactor: little type changes
  faststream/_internal/fastapi/router.py
  faststream/confluent/broker/broker.py
  faststream/kafka/broker/broker.py
Due: lint, static-analysis

add category and stacklavel to warnings
  faststream/nats/subscriber/factory.py
Due: lint, static-analysis

ruff
  faststream/nats/subscriber/factory.py
Due: lint, static-analysis

Allow using aiokafka 0.12
  pyproject.toml
Due: none

refactor: add ack handling for brokers
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/nats/subscriber/specified/SpecificationPushStreamSubscriber.md
  docs/docs/en/api/faststream/redis/subscriber/specified/SpecificationChannelSubscriber.md
  docs/docs/en/api/faststream/redis/subscriber/specified/SpecificationListBatchSubscriber.md
  docs/docs/en/api/faststream/redis/subscriber/specified/SpecificationListSubscriber.md
  docs/docs/en/api/faststream/redis/subscriber/specified/SpecificationStreamBatchSubscriber.md
  docs/docs/en/api/faststream/redis/subscriber/specified/SpecificationStreamSubscriber.md
  docs/docs/en/api/faststream/redis/subscriber/usecase/StreamBatchSubscriber.md
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/specified.py
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/specified.py
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis, docs

Allow using aiokafka 0.12 (#1896)
  pyproject.toml
Due: none

fix: warnings arguments and is_manual flag
  faststream/confluent/subscriber/factory.py
  faststream/kafka/subscriber/factory.py
  faststream/nats/subscriber/factory.py
  faststream/redis/subscriber/factory.py
Due: lint, static-analysis

fix: correct RMQ subscriber get_one logic
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

Warning in NatsSubscriber factory (#1894)
  faststream/nats/subscriber/factory.py
Due: lint, static-analysis

fix (#1874): call factory once in regular case
  faststream/cli/main.py
Due: lint, static-analysis

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

lint: fix mypy
  faststream/cli/utils/logs.py
Due: lint, static-analysis

refactor: complete NATS
  faststream/confluent/subscriber/factory.py
  faststream/kafka/subscriber/factory.py
  faststream/nats/broker/registrator.py
  faststream/nats/fastapi/fastapi.py
  faststream/nats/router.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/subscriber/factory.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis

chore: fix pydantic 2.10 compatibility
  faststream/_compat.py
Due: lint, static-analysis

fix (#1856): call factory once in regular case (#1898)
  faststream/__about__.py
  faststream/_compat.py
  faststream/cli/main.py
  faststream/cli/utils/logs.py
Due: lint, static-analysis

Update Release Notes for 0.5.29
  docs/docs/en/release.md
Due: docs

Introducing FastStream Guru on Gurubase.io
  README.md
Due: none

Introducing FastStream Guru on Gurubase.io (#1903)
  README.md
Due: none

chore: fix CI
  .secrets.baseline
  docs/docs/en/release.md
Due: docs

docs: add gurubase badge to the doc
  README.md
  docs/docs/en/faststream.md
Due: docs

Add more warning's to nats subscription factory
  faststream/nats/subscriber/factory.py
Due: lint, static-analysis
