Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

rename argument to hide copy-paste origin
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis

Separation of AMQP bindings creation for AsyncAPI 3.0.0 and 2.6.0
  faststream/specification/asyncapi/v2_6_0/schema/bindings/amqp/channel.py
  faststream/specification/asyncapi/v2_6_0/schema/bindings/amqp/operation.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/__init__.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/__init__.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/channel.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/operation.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/main/__init__.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/main/channel.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/main/operation.py
  faststream/specification/asyncapi/v3_0_0/schema/channels.py
  faststream/specification/asyncapi/v3_0_0/schema/operations.py
  faststream/specification/schema/bindings/amqp.py
  tests/asyncapi/rabbit/v2_6_0/test_arguments.py
  tests/asyncapi/rabbit/v3_0_0/test_arguments.py
  tests/asyncapi/rabbit/v3_0_0/test_connection.py
  tests/asyncapi/rabbit/v3_0_0/test_naming.py
  tests/asyncapi/rabbit/v3_0_0/test_publisher.py
  tests/asyncapi/rabbit/v3_0_0/test_router.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/channel/from_spec.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/channel_binding_from_spec.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/operation/from_spec.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/operation_binding_from_spec.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/channel_binding_from_spec.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/main/channel/from_spec.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/main/channel_binding_from_spec.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/main/operation/from_spec.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/main/operation_binding_from_spec.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/operation_binding_from_spec.md
Due: docs

Enable lightbox for already existing images
  docs/docs/en/faststream.md
  docs/docs/en/getting-started/asyncapi/custom.md
  docs/docs/en/getting-started/asyncapi/hosting.md
  docs/docs/en/getting-started/opentelemetry/index.md
Due: docs

confluent tests fixed
  tests/prometheus/confluent/test_confluent.py
Due: lint, static-analysis

Load list of contributors from yaml file and skip lightbox (#1813)
  docs/data/people.yml
  docs/docs/en/faststream-people.md
  docs/docs/en/faststream.md
  docs/docs/en/getting-started/asyncapi/custom.md
  docs/docs/en/getting-started/asyncapi/hosting.md
  docs/docs/en/getting-started/opentelemetry/index.md
  docs/mkdocs.yml
Due: docs

chore: fix precommit
  tests/asyncapi/base/arguments.py
  tests/asyncapi/base/publisher.py
Due: lint, static-analysis

fix: correct dependency injection of custom context fields implementing partial __eq__/__ne__ (#1809)
  faststream/types.py
  faststream/utils/context/types.py
  tests/utils/context/test_main.py
Due: lint, static-analysis

do not assume discriminator is not a property (#1811)
  faststream/asyncapi/generate.py
  tests/asyncapi/base/arguments.py
  tests/asyncapi/base/publisher.py
Due: lint, static-analysis

refactor: reuse HAS_TYPER in CLI
  faststream/__main__.py
Due: lint, static-analysis

Update Release Notes for 0.5.24
  docs/docs/en/release.md
Due: docs

Update secrets baseline
  .secrets.baseline
Due: none

Correct cc for AMQP in AsyncAPI 3.0.0
  faststream/specification/asyncapi/v3_0_0/schema/bindings/__init__.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/__init__.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/operation.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/main/__init__.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/main/operation.py
  faststream/specification/asyncapi/v3_0_0/schema/operations.py
  tests/asyncapi/base/v2_6_0/router.py
  tests/asyncapi/rabbit/v3_0_0/test_connection.py
  tests/asyncapi/rabbit/v3_0_0/test_naming.py
  tests/asyncapi/rabbit/v3_0_0/test_publisher.py
  tests/asyncapi/rabbit/v3_0_0/test_router.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/OperationBinding.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/OperationBinding.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/operation/OperationBinding.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/main/OperationBinding.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/schema/bindings/main/operation/OperationBinding.md
  docs/docs/en/release.md
Due: docs

fix: correct CLI import order
  faststream/_internal/cli/main.py
Due: lint, static-analysis

chore: add warning comment
  faststream/_internal/cli/main.py
Due: lint, static-analysis

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

fix: correct CLI import order
  faststream/_internal/cli/main.py
  faststream/cli/main.py
Due: lint, static-analysis

Fix/cli import (#1816)
  faststream/__about__.py
  faststream/cli/main.py
Due: lint, static-analysis

Update Release Notes for 0.5.25
  docs/docs/en/release.md
Due: docs

Update static-pre-commit.sh
  scripts/static-pre-commit.sh
Due: none

Update lint-pre-commit.sh
  scripts/lint-pre-commit.sh
Due: none

Update build-docs-pre-commit.sh
  scripts/build-docs-pre-commit.sh
Due: none

Update types.py
  faststream/types.py
Due: lint, static-analysis

Delete faststream/py.typed
  faststream/py.typed
Due: none

Update path.py
  faststream/utils/path.py
Due: lint, static-analysis

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update exceptions.py
  faststream/exceptions.py
Due: lint, static-analysis

Feat: init redis proxy
  faststream/_internal/proto.py
  faststream/redis/publisher/publisher.py
  faststream/redis/schemas/list_sub.py
  faststream/redis/schemas/pub_sub.py
  faststream/redis/schemas/stream_sub.py
  faststream/redis/subscriber/factory.py
Due: lint, static-analysis

docs: fix ASGI page markup
  docs/docs/en/getting-started/asgi.md
Due: docs

Minor rewording
  docs/docs/en/getting-started/asgi.md
Due: docs

docs: fix ASGI page markup (#1826)
  docs/docs/en/getting-started/asgi.md
Due: docs

fix: asgi docs
  docs/docs/en/getting-started/asgi.md
Due: docs

drop extra section
  docs/docs/en/getting-started/asgi.md
Due: docs

fix: asgi docs (#1828)
  docs/docs/en/getting-started/asgi.md
Due: docs

docs: add link to RU TG community:
  README.md
  docs/docs/en/faststream.md
  docs/docs/en/getting-started/asgi.md
Due: docs

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
