Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

Fixed bug in returned value
  faststream/confluent/testing.py
Due: lint, static-analysis

Add docs for OpenTelemetry
  docs/docs/SUMMARY.md
  docs/docs/assets/img/distributed-trace.png
  docs/docs/assets/img/simple-trace.png
  docs/docs/en/getting-started/opentelemetry/index.md
  docs/docs/navigation_template.txt
  docs/docs_src/getting_started/opentelemetry/__init__.py
  docs/docs_src/getting_started/opentelemetry/confluent_telemetry.py
  docs/docs_src/getting_started/opentelemetry/kafka_telemetry.py
  docs/docs_src/getting_started/opentelemetry/nats_telemetry.py
  docs/docs_src/getting_started/opentelemetry/rabbit_telemetry.py
  docs/docs_src/getting_started/opentelemetry/redis_telemetry.py
  docs/includes/getting_started/opentelemetry/1.md
  pyproject.toml
Due: lint, static-analysis, docs

docs: add otel page links style
  docs/docs/en/getting-started/opentelemetry/index.md
  pyproject.toml
Due: docs

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

Refactor docs
  docs/docs/en/getting-started/opentelemetry/index.md
  docs/docs_src/getting_started/opentelemetry/confluent_telemetry.py
  docs/docs_src/getting_started/opentelemetry/kafka_telemetry.py
  docs/docs_src/getting_started/opentelemetry/nats_telemetry.py
  docs/docs_src/getting_started/opentelemetry/rabbit_telemetry.py
  docs/docs_src/getting_started/opentelemetry/redis_telemetry.py
  docs/includes/getting_started/opentelemetry/1.md
Due: lint, static-analysis, docs

docs: fix styles
  docs/docs/en/getting-started/opentelemetry/index.md
  docs/docs_src/getting_started/opentelemetry/confluent_telemetry.py
  docs/docs_src/getting_started/opentelemetry/kafka_telemetry.py
  docs/docs_src/getting_started/opentelemetry/nats_telemetry.py
  docs/docs_src/getting_started/opentelemetry/rabbit_telemetry.py
  docs/docs_src/getting_started/opentelemetry/redis_telemetry.py
  docs/includes/getting_started/opentelemetry/1.md
Due: lint, static-analysis, docs

Merged in from Main
  faststream/kafka/testing.py
Due: lint, static-analysis

Merged in from Main
  faststream/confluent/testing.py
Due: lint, static-analysis

Refectored Code slightly
  faststream/confluent/testing.py
  faststream/kafka/testing.py
Due: lint, static-analysis

linting
  faststream/confluent/testing.py
  faststream/kafka/testing.py
  faststream/testing/broker.py
  tests/brokers/confluent/test_test_client.py
  tests/brokers/kafka/test_test_client.py
Due: lint, static-analysis

linting + formatting
  faststream/confluent/testing.py
Due: lint, static-analysis

Update Release Notes for 0.5.7
  docs/docs/en/release.md
Due: docs

tests: remove useless markers
  tests/brokers/confluent/test_test_client.py
  tests/brokers/kafka/test_test_client.py
Due: lint, static-analysis

fix: when headers() returns None in AsyncConfluentParser, replace it with an empty tuple
  faststream/confluent/parser.py
Due: lint, static-analysis

fix: when headers() returns None in AsyncConfluentParser, replace it with an empty tuple (#1460)
  faststream/confluent/parser.py
Due: lint, static-analysis

fix: correct tests
  faststream/nats/opentelemetry/provider.py
  tests/brokers/nats/test_kv_declarer_cache.py
  tests/brokers/nats/test_os_declarer_cache.py
Due: lint, static-analysis

feat: add arguments with docs
  faststream/rabbit/broker/broker.py
  faststream/rabbit/fastapi/router.py
Due: lint, static-analysis

lint: fix mypy
  faststream/nats/subscriber/usecase.py
  pyproject.toml
Due: lint, static-analysis

docs: update References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/subscriber/factory/create_subscriber.md
  docs/docs/en/api/faststream/nats/subscriber/asyncapi/AsyncAPIDefaultSubscriber.md
  docs/docs/en/api/faststream/nats/subscriber/usecase/BatchHandler.md
  docs/docs/en/api/faststream/nats/subscriber/usecase/DefaultHandler.md
Due: docs

tests: fix nats os example test
  tests/examples/nats/test_e07_object_storage.py
Due: lint, static-analysis

docs: update nats kv and os documentation
  docs/docs/en/nats/jetstream/key-value.md
  docs/docs/en/nats/jetstream/object.md
  docs/docs_src/nats/js/key_value.py
  docs/docs_src/nats/js/object.py
  faststream/__about__.py
  tests/docs/nats/js/test_kv.py
  tests/docs/nats/js/test_object.py
Due: lint, static-analysis, docs

chore: bump dependencies
  pyproject.toml
Due: none

feat: add subscriber no-reply option
  faststream/broker/publisher/usecase.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/router.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/router.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/broker/registrator.py
  faststream/nats/fastapi/fastapi.py
  faststream/nats/router.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecase.py
  faststream/nats/testing.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/router.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/broker/broker.py
  faststream/redis/broker/registrator.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/router.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/base/publish.py
  tests/brokers/rabbit/test_publish.py
Due: lint, static-analysis

feat: add subscriber no-reply option (#1461)
  faststream/broker/publisher/usecase.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/router.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/router.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/broker/registrator.py
  faststream/nats/fastapi/fastapi.py
  faststream/nats/router.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecase.py
  faststream/nats/testing.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/router.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/broker/broker.py
  faststream/redis/broker/registrator.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/router.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/base/publish.py
  tests/brokers/rabbit/test_publish.py
Due: lint, static-analysis

fix: add group/consumer to hash to avoid overwriting
  faststream/redis/schemas/stream_sub.py
Due: lint, static-analysis

Update Release Notes for 0.5.8
  docs/docs/en/release.md
Due: docs

Pass logger to confluent producer and consumer
  .codespell-whitelist.txt
  .secrets.baseline
  docs/docs/en/nats/jetstream/key-value.md
  docs/docs/en/nats/jetstream/object.md
  docs/docs/en/release.md
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  tests/brokers/confluent/test_logger.py
Due: lint, static-analysis, docs

Add test to check consumer_logger
  tests/brokers/confluent/test_logger.py
Due: lint, static-analysis

Update func signature
  faststream/confluent/client.py
Due: lint, static-analysis

Update function signature
  faststream/confluent/client.py
Due: lint, static-analysis

User LoggerProto and remove Annotated
  faststream/confluent/client.py
Due: lint, static-analysis

Use only logger in signature
  faststream/confluent/client.py
Due: lint, static-analysis

Test commit
  faststream/confluent/client.py
Due: lint, static-analysis

Exclude typing_extensions version 4.12.*
  pyproject.toml
Due: none

Exclude typing_extensions version 4.12.* (#1467)
  pyproject.toml
Due: none

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
