Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

Another dummy commit
  faststream/dummy.py
Due: lint, static-analysis

fix: add missing pre-commit changes
  faststream/dummy.py
Due: lint, static-analysis

Use pull_request_target
  .github/workflows/pr_tests.yaml
Due: none

Create new workflow and include detect secrets in manual stage of pre-commit
  .github/workflows/pr_lint.yaml
  .github/workflows/pr_tests.yaml
  .pre-commit-config.yaml
Due: none

Dumy update
  faststream/dummy.py
Due: lint, static-analysis

I am strange
  faststream/dummy.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/dummy/Strange.md
Due: docs

Run git commands
  .github/workflows/pr_lint.yaml
Due: none

Again a commit
  faststream/dummy.py
Due: lint, static-analysis

Update something
  .github/workflows/pr_lint.yaml
Due: none

Append new lines
  faststream/dummy.py
Due: lint, static-analysis

Twice the changes, twice the fun
  faststream/dummy.py
Due: lint, static-analysis

Update workflow
  .github/workflows/pr_lint.yaml
  .github/workflows/pr_update_linting_and_api_references.yaml
Due: none

Double the changes, double the fun
  faststream/dummy.py
Due: lint, static-analysis

Update naming scheme
  .github/workflows/pr_update_linting_and_api_references.yaml
Due: none

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/dummy/Twice.md
Due: docs

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/dummy/Double.md
  docs/docs/en/api/faststream/dummy/Twice.md
  faststream/dummy.py
Due: lint, static-analysis, docs

Run PR altering automated checks in same job
  .github/workflows/pr_tests.yaml
  .github/workflows/pr_update-linting-and-api-references.yaml
Due: none

Add detect-secrets to manual stage
  .pre-commit-config.yaml
Due: none

Update tests
  tests/brokers/base/middlewares.py
  tests/brokers/confluent/test_middlewares.py
  tests/brokers/kafka/test_middlewares.py
  tests/brokers/nats/test_middlewares.py
  tests/brokers/redis/test_middlewares.py
Due: lint, static-analysis

pre-commit
  tests/brokers/base/middlewares.py
  tests/brokers/confluent/test_middlewares.py
  tests/brokers/kafka/test_middlewares.py
  tests/brokers/rabbit/test_middlewares.py
  tests/brokers/redis/test_middlewares.py
Due: lint, static-analysis

Fix tests
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

Run PR altering automated check in same CI job (#1942)
  .github/workflows/pr_tests.yaml
  .github/workflows/pr_update-linting-and-api-references.yaml
  .pre-commit-config.yaml
Due: none

Update tests, again :)
  faststream/broker/subscriber/usecase.py
  faststream/broker/utils.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/broker/broker.py
  faststream/redis/publisher/usecase.py
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

format tests
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

Remove logger from tests
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

format
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

fix: change creation of ASGIRunner
  faststream/asgi/app.py
Due: lint, static-analysis

lint: fix CI
  docs/docs/en/getting-started/asgi.md
  faststream/broker/fastapi/get_dependant.py
  faststream/rabbit/broker/broker.py
Due: lint, static-analysis, docs

fix: #1874 support workers for ASGI FastStream (#1936)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/cli/utils/parser/is_bind_arg.md
  docs/docs/en/getting-started/asgi.md
  faststream/asgi/app.py
  faststream/broker/fastapi/get_dependant.py
  faststream/cli/utils/parser.py
  faststream/rabbit/broker/broker.py
  tests/cli/utils/test_parser.py
Due: lint, static-analysis, docs

fix: correct NATS Publisher middlewares order
  faststream/nats/publisher/usecase.py
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

fix: correct All Publisher middlewares order
  faststream/confluent/publisher/usecase.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis

Try to fix types
  faststream/broker/fastapi/router.py
  faststream/broker/publisher/fake.py
  faststream/broker/publisher/proto.py
  faststream/broker/publisher/usecase.py
  faststream/broker/subscriber/usecase.py
  faststream/broker/utils.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/publisher/asyncapi.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/router.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/broker/broker.py
  faststream/nats/broker/registrator.py
  faststream/nats/fastapi/fastapi.py
  faststream/nats/publisher/asyncapi.py
  faststream/nats/publisher/usecase.py
  faststream/nats/router.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/broker/broker.py
  faststream/redis/broker/registrator.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/publisher/asyncapi.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis

format
  faststream/broker/publisher/fake.py
  faststream/broker/publisher/proto.py
  faststream/broker/publisher/usecase.py
  faststream/broker/utils.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/asyncapi.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/subscriber/factory.py
  faststream/nats/broker/broker.py
  faststream/nats/publisher/asyncapi.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/broker/broker.py
  faststream/redis/publisher/asyncapi.py
Due: lint, static-analysis

chore: fix CI
  faststream/broker/publisher/fake.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/subscriber/factory.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis
