Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

chore: make extra trigger for tests
  .github/workflows/pr_tests.yaml
Due: none

chore: update tests triggers
  .github/workflows/pr_tests.yaml
Due: none

chore: run tests anyway
  .github/workflows/pr_tests.yaml
Due: none

feat: provide with an ability to create default RMQ Exchange
  faststream/rabbit/schemas/exchange.py
  faststream/rabbit/subscriber/usecase.py
  faststream/rabbit/testing.py
  faststream/rabbit/utils.py
Due: lint, static-analysis

refactor: optiomize RMQ declarer
  faststream/rabbit/broker/broker.py
  faststream/rabbit/helpers/__init__.py
  faststream/rabbit/helpers/declarer.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/schemas/exchange.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
  faststream/rabbit/utils.py
Due: lint, static-analysis

fix: correct import in Tests
  tests/brokers/rabbit/specific/test_declare.py
Due: lint, static-analysis

remove reply_to, update nats implentation
  faststream/nats/publisher/producer.py
  faststream/redis/publisher/producer.py
Due: lint, static-analysis

add back reply_to
  faststream/nats/publisher/producer.py
Due: lint, static-analysis

remove rpc_prefix, update NatsJSFastProducer
  faststream/nats/publisher/producer.py
Due: lint, static-analysis

fix: correct AsyncAPI RMQ Schema
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/helpers/declarer/RabbitDeclarer.md
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/subscriber/asyncapi.py
  tests/docs/rabbit/test_declare.py
Due: lint, static-analysis, docs

fix: correct exchange propagation
  faststream/rabbit/publisher/usecase.py
Due: lint, static-analysis

docs: remove useless API file
  docs/docs/en/api/faststream/rabbit/utils/RabbitDeclarer.md
Due: docs

feat: provide with an ability to create default RMQ Exchange (#1485)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/helpers/declarer/RabbitDeclarer.md
  faststream/rabbit/broker/broker.py
  faststream/rabbit/helpers/__init__.py
  faststream/rabbit/helpers/declarer.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/schemas/exchange.py
  faststream/rabbit/subscriber/asyncapi.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
  faststream/rabbit/testing.py
  faststream/rabbit/utils.py
  tests/brokers/rabbit/specific/test_declare.py
  tests/docs/rabbit/test_declare.py
Due: lint, static-analysis, docs

Fix typos
  docs/docs/en/getting-started/lifespan/context.md
Due: docs

Fix typos (#1489)
  docs/docs/en/getting-started/lifespan/context.md
Due: docs

chore: add merge queue trigger to CI
  .github/workflows/pr_tests.yaml
  faststream/broker/middlewares/base.py
Due: lint, static-analysis

chore: make real testsuites fail-fast
  .github/workflows/pr_tests.yaml
Due: none

chore: remove useless conditions in CI
  .github/workflows/pr_tests.yaml
Due: none

chore: specify MG trigger
  .github/workflows/pr_tests.yaml
Due: none

chore: update CI triggers to minify useless runs (#1483)
  .github/workflows/docs_check-broken-links.yaml
  .github/workflows/docs_deploy.yaml
  .github/workflows/docs_update-references.yaml
  .github/workflows/docs_update-release-notes.yaml
  .github/workflows/pr_codeql.yml
  .github/workflows/pr_dependency-review.yaml
  .github/workflows/pr_tests.yaml
  .github/workflows/publish_coverage.yml
  .github/workflows/release_pypi.yml
  faststream/broker/middlewares/base.py
Due: lint, static-analysis

Run tests and codeql in main branch
  .github/workflows/pr_codeql.yml
  .github/workflows/pr_tests.yaml
Due: none

Update link to badges
  README.md
  docs/docs/en/faststream.md
Due: docs

Update link to badges (#1496)
  README.md
  docs/docs/en/faststream.md
Due: docs

Run tests every day at 12:00 AM
  .github/workflows/pr_tests.yaml
Due: none

Run tests every day at 12:00 AM (#1497)
  .github/workflows/pr_tests.yaml
Due: none

Update dependency versions
  pyproject.toml
Due: none

Run pre-commit
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_dependency-review.yaml
  .secrets.baseline
  faststream/asyncapi/utils.py
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  faststream/broker/message.py
  faststream/broker/publisher/fake.py
  faststream/broker/publisher/usecase.py
  faststream/broker/subscriber/call_item.py
  faststream/broker/subscriber/usecase.py
  faststream/broker/utils.py
  faststream/broker/wrapper/call.py
  faststream/cli/supervisors/multiprocess.py
  faststream/cli/utils/logs.py
  faststream/cli/utils/parser.py
  faststream/confluent/broker/broker.py
  faststream/confluent/parser.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/parser.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/broker/broker.py
  faststream/nats/parser.py
  faststream/nats/publisher/usecase.py
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/subscriber/asyncapi.py
  faststream/redis/broker/broker.py
  faststream/redis/parser.py
  faststream/redis/publisher/usecase.py
  faststream/redis/subscriber/usecase.py
  faststream/testing/broker.py
Due: lint, static-analysis

Limit typing-extensions version for python 3.8
  pyproject.toml
Due: none

Chore: update deps (#1503)
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_dependency-review.yaml
  .secrets.baseline
  faststream/asyncapi/utils.py
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  faststream/broker/message.py
  faststream/broker/publisher/fake.py
  faststream/broker/publisher/usecase.py
  faststream/broker/subscriber/call_item.py
  faststream/broker/subscriber/usecase.py
  faststream/broker/utils.py
  faststream/broker/wrapper/call.py
  faststream/cli/supervisors/multiprocess.py
  faststream/cli/utils/logs.py
  faststream/cli/utils/parser.py
  faststream/confluent/broker/broker.py
  faststream/confluent/parser.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/parser.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/broker/broker.py
  faststream/nats/parser.py
  faststream/nats/publisher/usecase.py
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/subscriber/asyncapi.py
  faststream/redis/broker/broker.py
  faststream/redis/parser.py
  faststream/redis/publisher/usecase.py
  faststream/redis/subscriber/usecase.py
  faststream/testing/broker.py
  pyproject.toml
Due: lint, static-analysis

Add config param to pass additional parameters to confluent-kafka-python
  docs/docs/en/confluent/security.md
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/security.py
  faststream/rabbit/subscriber/asyncapi.py
  tests/brokers/confluent/test_security.py
Due: lint, static-analysis, docs

fix: includer NatsRouter streams to original broker
  faststream/__about__.py
  faststream/confluent/opentelemetry/provider.py
  faststream/kafka/annotations.py
  faststream/kafka/message.py
  faststream/kafka/opentelemetry/provider.py
  faststream/kafka/parser.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/broker/broker.py
  faststream/nats/broker/registrator.py
  faststream/nats/opentelemetry/provider.py
  faststream/nats/parser.py
  faststream/rabbit/opentelemetry/provider.py
  faststream/rabbit/parser.py
  faststream/rabbit/subscriber/asyncapi.py
  faststream/redis/parser.py
  faststream/utils/context/types.py
  tests/brokers/nats/test_router.py
Due: lint, static-analysis

chore: limit typing-extensions version only for tests
  pyproject.toml
Due: none

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/kafka/message/KafkaAckableMessage.md
  docs/docs/en/api/faststream/kafka/parser/AioKafkaBatchParser.md
Due: docs

fix: remove debug message
  faststream/nats/broker/broker.py
Due: lint, static-analysis

chore: update ruff
  pyproject.toml
Due: none

chore: use GHA concurency to cancel previous run at push
  .github/workflows/pr_codeql.yml
  .github/workflows/pr_dependency-review.yaml
  .github/workflows/pr_tests.yaml
Due: none

chore: test GHA cancelation
  pyproject.toml
Due: none

chore: add GHA concurency to generating API CI
  .github/workflows/docs_update-references.yaml
  pyproject.toml
Due: none

fix: include NatsRouter streams to original broker (#1509)
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_codeql.yml
  .github/workflows/pr_dependency-review.yaml
  .github/workflows/pr_tests.yaml
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/kafka/message/KafkaAckableMessage.md
  docs/docs/en/api/faststream/kafka/parser/AioKafkaBatchParser.md
  faststream/__about__.py
  faststream/confluent/opentelemetry/provider.py
  faststream/kafka/annotations.py
  faststream/kafka/message.py
  faststream/kafka/opentelemetry/provider.py
  faststream/kafka/parser.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/broker/registrator.py
  faststream/nats/opentelemetry/provider.py
  faststream/nats/parser.py
  faststream/rabbit/opentelemetry/provider.py
  faststream/rabbit/parser.py
  faststream/redis/parser.py
  faststream/utils/context/types.py
  pyproject.toml
  tests/brokers/nats/test_router.py
Due: lint, static-analysis, docs

Update Release Notes for 0.5.11
  docs/docs/en/release.md
Due: docs
