Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

fix (#1415): raise SetupError if rpc and reply_to are using in TestCLient in the same time
  faststream/nats/testing.py
  faststream/rabbit/testing.py
  faststream/redis/testing.py
  tests/brokers/nats/test_test_client.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/redis/test_test_client.py
Due: lint, static-analysis

tests: make RMQ test client test in-memory
  tests/brokers/rabbit/test_test_client.py
Due: lint, static-analysis

tests: do not use already connected fixtures
  tests/brokers/nats/test_test_client.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/redis/test_test_client.py
Due: lint, static-analysis

fix (#1415): raise SetupError if rpc and reply_to are using in TestCL… (#1419)
  faststream/nats/testing.py
  faststream/rabbit/testing.py
  faststream/redis/testing.py
  tests/brokers/nats/test_test_client.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/redis/test_test_client.py
Due: lint, static-analysis

tests: use broker factory instead of fixtures in Consume and Publish test cases
  tests/brokers/base/consume.py
  tests/brokers/base/publish.py
  tests/brokers/nats/test_consume.py
  tests/brokers/nats/test_publish.py
  tests/brokers/nats/test_test_client.py
  tests/opentelemetry/nats/test_nats.py
Due: lint, static-analysis

tests: refactor RPC and TestClient testcases
  tests/brokers/base/publish.py
  tests/brokers/base/rpc.py
  tests/brokers/base/testclient.py
  tests/brokers/nats/test_publish.py
  tests/brokers/nats/test_rpc.py
  tests/brokers/nats/test_test_client.py
  tests/opentelemetry/nats/test_nats.py
Due: lint, static-analysis

tests: refactor RMQ tests
  tests/brokers/rabbit/test_consume.py
  tests/brokers/rabbit/test_publish.py
  tests/brokers/rabbit/test_rpc.py
  tests/brokers/rabbit/test_test_client.py
  tests/opentelemetry/rabbit/test_rabbit.py
Due: lint, static-analysis

tests: refactor Kafka tests
  tests/brokers/base/consume.py
  tests/brokers/base/publish.py
  tests/brokers/base/rpc.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/kafka/test_publish.py
  tests/brokers/kafka/test_test_client.py
  tests/opentelemetry/kafka/test_kafka.py
  tests/opentelemetry/redis/test_redis.py
Due: lint, static-analysis

Chore/update deps2 (#1418)
  faststream/broker/wrapper/call.py
  pyproject.toml
Due: lint, static-analysis

refactor: correct security with kwarg params merging (#1417)
  faststream/confluent/broker/broker.py
  faststream/kafka/broker/broker.py
Due: lint, static-analysis

tests: NATS subscriber tests with patching
  tests/brokers/nats/test_consume.py
  tests/brokers/nats/test_test_client.py
Due: lint, static-analysis

tests: RMQ subscriber tests with patching
  tests/brokers/rabbit/test_consume.py
  tests/brokers/rabbit/test_publish.py
  tests/brokers/rabbit/test_test_client.py
Due: lint, static-analysis

tests: refactor Redis tests
  tests/brokers/redis/test_consume.py
  tests/brokers/redis/test_publish.py
  tests/brokers/redis/test_rpc.py
  tests/brokers/redis/test_test_client.py
  tests/opentelemetry/redis/test_redis.py
Due: lint, static-analysis

tests: refactor Confluent tests
  faststream/confluent/opentelemetry/__init__.py
  faststream/confluent/opentelemetry/provider.py
  faststream/kafka/opentelemetry/__init__.py
  faststream/kafka/opentelemetry/provider.py
  faststream/nats/opentelemetry/__init__.py
  faststream/nats/opentelemetry/provider.py
  faststream/opentelemetry/middleware.py
  faststream/rabbit/opentelemetry/__init__.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/opentelemetry/__init__.py
  tests/brokers/confluent/test_consume.py
  tests/brokers/confluent/test_publish.py
  tests/brokers/confluent/test_test_client.py
  tests/opentelemetry/basic.py
  tests/opentelemetry/confluent/test_confluent.py
Due: lint, static-analysis

chore: run CI
  pyproject.toml
Due: none

tests: fix Confluent TestClient tests
  pyproject.toml
  tests/brokers/confluent/test_test_client.py
Due: lint, static-analysis

tests: fix py3.8 compatibility
  faststream/broker/core/usecase.py
Due: lint, static-analysis

lint: fix some mypy
  faststream/broker/core/usecase.py
  faststream/kafka/opentelemetry/provider.py
  faststream/redis/broker/broker.py
  faststream/redis/opentelemetry/provider.py
Due: lint, static-analysis

fix (#1414): correct Messag.ack error processing
  faststream/broker/acknowledgement_watcher.py
  faststream/broker/utils.py
Due: lint, static-analysis

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

chore: fix CI
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/opentelemetry/KafkaTelemetryMiddleware.md
  docs/docs/en/api/faststream/confluent/opentelemetry/middleware/KafkaTelemetryMiddleware.md
  docs/docs/en/api/faststream/confluent/opentelemetry/provider/BaseConfluentTelemetrySettingsProvider.md
  docs/docs/en/api/faststream/confluent/opentelemetry/provider/BatchConfluentTelemetrySettingsProvider.md
  docs/docs/en/api/faststream/confluent/opentelemetry/provider/ConfluentTelemetrySettingsProvider.md
  docs/docs/en/api/faststream/confluent/opentelemetry/provider/telemetry_attributes_provider_factory.md
  docs/docs/en/api/faststream/kafka/opentelemetry/KafkaTelemetryMiddleware.md
  docs/docs/en/api/faststream/kafka/opentelemetry/middleware/KafkaTelemetryMiddleware.md
  docs/docs/en/api/faststream/kafka/opentelemetry/provider/BaseKafkaTelemetrySettingsProvider.md
  docs/docs/en/api/faststream/kafka/opentelemetry/provider/BatchKafkaTelemetrySettingsProvider.md
  docs/docs/en/api/faststream/kafka/opentelemetry/provider/KafkaTelemetrySettingsProvider.md
  docs/docs/en/api/faststream/kafka/opentelemetry/provider/telemetry_attributes_provider_factory.md
  docs/docs/en/api/faststream/nats/opentelemetry/NatsTelemetryMiddleware.md
  docs/docs/en/api/faststream/nats/opentelemetry/middleware/NatsTelemetryMiddleware.md
  docs/docs/en/api/faststream/nats/opentelemetry/provider/BaseNatsTelemetrySettingsProvider.md
  docs/docs/en/api/faststream/nats/opentelemetry/provider/NatsBatchTelemetrySettingsProvider.md
  docs/docs/en/api/faststream/nats/opentelemetry/provider/NatsTelemetrySettingsProvider.md
  docs/docs/en/api/faststream/nats/opentelemetry/provider/telemetry_attributes_provider_factory.md
  docs/docs/en/api/faststream/opentelemetry/TelemetryMiddleware.md
  docs/docs/en/api/faststream/opentelemetry/TelemetrySettingsProvider.md
  docs/docs/en/api/faststream/opentelemetry/consts/MessageAction.md
  docs/docs/en/api/faststream/opentelemetry/middleware/BaseTelemetryMiddleware.md
  docs/docs/en/api/faststream/opentelemetry/middleware/TelemetryMiddleware.md
  docs/docs/en/api/faststream/opentelemetry/provider/TelemetrySettingsProvider.md
  docs/docs/en/api/faststream/rabbit/opentelemetry/RabbitTelemetryMiddleware.md
  docs/docs/en/api/faststream/rabbit/opentelemetry/middleware/RabbitTelemetryMiddleware.md
  docs/docs/en/api/faststream/rabbit/opentelemetry/provider/RabbitTelemetrySettingsProvider.md
  docs/docs/en/api/faststream/redis/opentelemetry/RedisTelemetryMiddleware.md
  docs/docs/en/api/faststream/redis/opentelemetry/middleware/RedisTelemetryMiddleware.md
  docs/docs/en/api/faststream/redis/opentelemetry/provider/RedisTelemetrySettingsProvider.md
  faststream/confluent/opentelemetry/provider.py
  faststream/kafka/opentelemetry/provider.py
  faststream/nats/broker/registrator.py
  tests/brokers/confluent/conftest.py
  tests/brokers/confluent/test_consume.py
Due: lint, static-analysis, docs

fix (#1414): correct Messag.ack error processing (#1420)
  faststream/__about__.py
  faststream/broker/acknowledgement_watcher.py
  faststream/broker/utils.py
Due: lint, static-analysis

Update Release Notes for 0.5.4
  docs/docs/en/release.md
Due: docs

feat: add assign TopicPartitions
  faststream/kafka/__init__.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/subscriber/asyncapi.py
  faststream/kafka/subscriber/usecase.py
Due: lint, static-analysis

make partitions public attr
  faststream/kafka/subscriber/usecase.py
Due: lint, static-analysis

add partitions for __init__ of Default and Batch Subscriber
  faststream/kafka/subscriber/usecase.py
Due: lint, static-analysis

add partitions for __init__ in create method (asyncapi)
  faststream/kafka/subscriber/asyncapi.py
Due: lint, static-analysis

add listener, pattern and partitions for __init__ of KafkaRouter
  faststream/kafka/router.py
Due: lint, static-analysis

add partitions for subscribe method of router FastAPI
  faststream/kafka/fastapi/fastapi.py
Due: lint, static-analysis

feat: support partitions in Kafka TestClient
  docs/docs/en/release.md
  faststream/broker/acknowledgement_watcher.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/subscriber/asyncapi.py
  faststream/kafka/subscriber/usecase.py
  faststream/kafka/testing.py
  tests/brokers/kafka/test_test_client.py
Due: lint, static-analysis, docs

docs: gen API
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/kafka/TopicPartition.md
Due: docs

feat: add tests for manual partition consume
  tests/brokers/kafka/test_consume.py
Due: lint, static-analysis

feat: use lint.sh, add TopicPartitions in create_publisher_fake_subscriber (Kafka)
  faststream/kafka/testing.py
  tests/brokers/kafka/test_consume.py
Due: lint, static-analysis

feature: manual partition assignment to Kafka (#1422)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/kafka/TopicPartition.md
  docs/docs/en/release.md
  faststream/broker/acknowledgement_watcher.py
  faststream/kafka/__init__.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/router.py
  faststream/kafka/subscriber/asyncapi.py
  faststream/kafka/subscriber/usecase.py
  faststream/kafka/testing.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/kafka/test_test_client.py
Due: lint, static-analysis, docs

fix: correct NATS dynamic subscriber registration'
  faststream/nats/testing.py
  tests/brokers/base/consume.py
Due: lint, static-analysis

chore: bump dependencies
  pyproject.toml
Due: none

Chore/update deps (#1429)
  pyproject.toml
Due: none

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
