Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/lint-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

Fix: revert ruff
  faststream/_internal/_compat.py
  faststream/_internal/broker/broker.py
  faststream/_internal/fastapi/_compat.py
  faststream/_internal/fastapi/route.py
  faststream/_internal/publisher/fake.py
  faststream/_internal/publisher/usecase.py
  faststream/_internal/subscriber/call_item.py
  faststream/_internal/subscriber/call_wrapper.py
  faststream/confluent/broker/broker.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/response.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/response.py
  faststream/middlewares/exception.py
  faststream/nats/broker/broker.py
  faststream/nats/publisher/usecase.py
  faststream/nats/response.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/response.py
  faststream/rabbit/schemas/queue.py
  faststream/redis/broker/broker.py
  faststream/redis/publisher/factory.py
  faststream/redis/publisher/usecase.py
  faststream/redis/security.py
  faststream/redis/subscriber/factory.py
  faststream/response/response.py
  faststream/specification/asyncapi/v2_6_0/schema/contact.py
  faststream/specification/asyncapi/v2_6_0/schema/docs.py
  faststream/specification/asyncapi/v2_6_0/schema/license.py
  faststream/specification/asyncapi/v2_6_0/schema/tag.py
  tests/asyncapi/base/v2_6_0/arguments.py
  tests/asyncapi/base/v3_0_0/arguments.py
  tests/prometheus/basic.py
  tests/prometheus/utils.py
Due: lint, static-analysis

Fix: again ruff
  faststream/_internal/fastapi/_compat.py
  faststream/_internal/subscriber/call_item.py
  faststream/redis/response.py
  tests/prometheus/utils.py
Due: lint, static-analysis

Update test_test_client.py
  tests/brokers/rabbit/test_test_client.py
Due: lint, static-analysis

Update pyproject.toml
  pyproject.toml
Due: none

Fix: fastapi init
  faststream/redis/fastapi/fastapi.py
Due: lint, static-analysis

Fix: inheritance
  faststream/redis/subscriber/specified.py
Due: lint, static-analysis

fix code style
  tests/brokers/rabbit/test_test_client.py
Due: lint, static-analysis

2121
  tests/brokers/rabbit/test_test_client.py
Due: lint, static-analysis

Fixed typo in publishing/test.md (#2009)
  docs/docs/en/getting-started/publishing/test.md
Due: docs

fix reqular queue test parameter
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/rabbit/test_url_builder.py
Due: lint, static-analysis

Delete tests/brokers/rabbit/test_url_builder.py
  tests/brokers/rabbit/test_url_builder.py
Due: lint, static-analysis

chore: polish style
  faststream/rabbit/testing.py
  tests/asyncapi/base/v2_6_0/arguments.py
  tests/asyncapi/base/v3_0_0/arguments.py
  tests/brokers/rabbit/test_test_client.py
Due: lint, static-analysis

chore: fix tabulation
  tests/brokers/rabbit/test_test_client.py
Due: lint, static-analysis

tests: remove duplicated tests
  tests/brokers/rabbit/test_test_client.py
Due: lint, static-analysis

new test: in_memory_routing (#2010)
  faststream/rabbit/testing.py
  tests/asyncapi/base/v2_6_0/arguments.py
  tests/asyncapi/base/v3_0_0/arguments.py
  tests/brokers/rabbit/test_test_client.py
Due: lint, static-analysis

docs: reverting the changes and adding queue/exchange binding to the documentation
  docs/docs/en/rabbit/declare.md
  docs/docs_src/rabbit/bind.py
  faststream/rabbit/helpers/declarer.py
  tests/brokers/rabbit/specific/test_declare.py
Due: lint, static-analysis, docs

docs: reverting the changes and adding queue/exchange binding to the documentation
  faststream/rabbit/helpers/declarer.py
  tests/brokers/rabbit/specific/test_declare.py
Due: lint, static-analysis

docs: reverting the changes and adding queue/exchange binding to the documentation
  tests/brokers/rabbit/specific/test_declare.py
Due: lint, static-analysis

docs: generate API References
  docs/docs_src/rabbit/bind.py
Due: lint, static-analysis, docs

test: added some testing for the doc code snippet
  docs/docs_src/rabbit/bind.py
  tests/a_docs/rabbit/test_bind.py
Due: lint, static-analysis, docs

fix: Disabled excessive throttling for BatchSubscriber.
  faststream/confluent/subscriber/usecase.py
Due: lint, static-analysis

fix: Use separate thread for confluent kafka consumer.
  faststream/confluent/client.py
Due: lint, static-analysis

refactor: Added run_in_executor function.
  faststream/_internal/utils/functions.py
  faststream/confluent/client.py
Due: lint, static-analysis

fix: Stop consumer client after consumer tasks are stopped.
  faststream/confluent/subscriber/usecase.py
Due: lint, static-analysis

chore: polish docs
  docs/docs/en/rabbit/declare.md
  docs/docs_src/rabbit/bind.py
  tests/a_docs/rabbit/test_bind.py
Due: lint, static-analysis, docs

tests: fix RMQ bind test
  docs/docs/en/rabbit/declare.md
  docs/docs_src/rabbit/bind.py
Due: lint, static-analysis, docs

docs: ability to declare queue/exchange binding (#2011)
  docs/docs/en/rabbit/declare.md
  docs/docs_src/rabbit/bind.py
  tests/a_docs/rabbit/test_bind.py
Due: lint, static-analysis, docs

Separated thread for confluent kafka consumer client. (#2014)
  faststream/_internal/utils/functions.py
  faststream/confluent/client.py
  faststream/confluent/subscriber/usecase.py
Due: lint, static-analysis

Feat: concurrent redis (#2012)
  faststream/redis/broker/registrator.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/router.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/specified.py
  faststream/redis/subscriber/usecases/basic.py
  faststream/redis/subscriber/usecases/channel_subscriber.py
  faststream/redis/subscriber/usecases/list_subscriber.py
  faststream/redis/subscriber/usecases/stream_subscriber.py
  tests/brokers/redis/test_consume.py
Due: lint, static-analysis

chore: add warning comment to confluent client
  faststream/confluent/client.py
Due: lint, static-analysis

Add concurrent between partitions kafka subscriber
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/kafka/message/KafkaRawMessage.md
  docs/docs/en/api/faststream/kafka/subscriber/asyncapi/AsyncAPIConcurrentBetweenPartitionsSubscriber.md
  docs/docs/en/api/faststream/kafka/subscriber/usecase/ConcurrentBetweenPartitionsSubscriber.md
  docs/docs/en/kafka/Subscriber/index.md
  faststream/broker/subscriber/usecase.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/message.py
  faststream/kafka/parser.py
  faststream/kafka/subscriber/asyncapi.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  tests/brokers/base/testclient.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/kafka/test_misconfigure.py
Due: lint, static-analysis, docs

refactoring: publish from Doc to usual docstrings
  faststream/rabbit/broker/broker.py
  faststream/redis/broker/broker.py
Due: lint, static-analysis

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
