Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

feat: refactor logging with FSM
  faststream/_internal/broker/abc_broker.py
  faststream/_internal/broker/broker.py
  faststream/_internal/broker/logging_mixin.py
  faststream/_internal/constants.py
  faststream/_internal/fastapi/router.py
  faststream/_internal/log/logging.py
  faststream/_internal/proto.py
  faststream/_internal/setup/__init__.py
  faststream/_internal/setup/fast_depends.py
  faststream/_internal/setup/logger.py
  faststream/_internal/setup/proto.py
  faststream/_internal/setup/state.py
  faststream/_internal/subscriber/call_item.py
  faststream/_internal/subscriber/usecase.py
  faststream/_internal/testing/broker.py
  faststream/app.py
  faststream/confluent/broker/broker.py
  faststream/confluent/subscriber/usecase.py
  faststream/exceptions.py
  faststream/kafka/broker/broker.py
  faststream/kafka/subscriber/usecase.py
  faststream/middlewares/logging.py
  faststream/nats/broker/broker.py
  faststream/nats/broker/logging.py
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/broker/logging.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/broker/broker.py
  faststream/redis/broker/logging.py
  faststream/redis/subscriber/usecase.py
  faststream/specification/asyncapi/v2_6_0/generate.py
  faststream/specification/asyncapi/v3_0_0/generate.py
  faststream/specification/proto.py
Due: lint, static-analysis

refactor: delete subscribers without dict
  faststream/_internal/testing/broker.py
  faststream/redis/broker/logging.py
  tests/brokers/base/testclient.py
Due: lint, static-analysis

refactor: new kafka logging
  faststream/kafka/broker/broker.py
  faststream/kafka/broker/logging.py
  faststream/nats/broker/broker.py
  faststream/rabbit/broker/broker.py
  faststream/redis/broker/broker.py
Due: lint, static-analysis

refactor: new confluent logging
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/logging.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/broker/logging/KafkaParamsStorage.md
  docs/docs/en/api/faststream/exceptions/IncorrectState.md
  docs/docs/en/api/faststream/kafka/broker/logging/KafkaParamsStorage.md
  docs/docs/en/api/faststream/middlewares/logging/LoggingMiddleware.md
  docs/docs/en/api/faststream/nats/broker/logging/NatsParamsStorage.md
  docs/docs/en/api/faststream/rabbit/broker/logging/RabbitParamsStorage.md
  docs/docs/en/api/faststream/redis/broker/logging/RedisParamsStorage.md
Due: docs

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/prometheus/BasePrometheusMiddleware.md
  docs/docs/en/api/faststream/prometheus/ConsumeAttrs.md
  docs/docs/en/api/faststream/prometheus/MetricsSettingsProvider.md
Due: docs

clarifications added
  faststream/prometheus/middleware.py
  tests/prometheus/basic.py
Due: lint, static-analysis

pushback tests fixed
  tests/brokers/test_pushback.py
Due: lint, static-analysis

lint fixed
  faststream/redis/prometheus/provider.py
Due: lint, static-analysis

lint fixed
  faststream/prometheus/middleware.py
Due: lint, static-analysis

tests: fix tests
  faststream/_internal/broker/broker.py
  faststream/_internal/cli/main.py
  faststream/_internal/cli/utils/logs.py
  faststream/_internal/setup/fast_depends.py
  faststream/_internal/setup/logger.py
  tests/cli/rabbit/test_app.py
  tests/cli/rabbit/test_logs.py
  tests/cli/test_publish.py
  tests/opentelemetry/basic.py
  tests/opentelemetry/confluent/test_confluent.py
  tests/opentelemetry/kafka/test_kafka.py
  tests/opentelemetry/nats/test_nats.py
  tests/opentelemetry/rabbit/test_rabbit.py
  tests/opentelemetry/redis/test_redis.py
Due: lint, static-analysis

tests: fix in-memory mocks
  tests/cli/rabbit/test_app.py
Due: lint, static-analysis

confluent: fix self.logger usage
  faststream/confluent/broker/broker.py
Due: lint, static-analysis

confluent: fix logger usage
  tests/brokers/confluent/test_logger.py
Due: lint, static-analysis

confluent: fix logger usage
  faststream/confluent/broker/broker.py
  tests/brokers/confluent/test_logger.py
Due: lint, static-analysis

confluent: make laze logging
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/publisher/producer.py
  faststream/confluent/testing.py
Due: lint, static-analysis

confluent: check producer before setup
  faststream/confluent/broker/broker.py
Due: lint, static-analysis

confluent: fix producer
  faststream/confluent/client.py
Due: lint, static-analysis

tests: correct setup call order
  faststream/_internal/testing/broker.py
Due: lint, static-analysis

fix: remove Confluent producer logger
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/publisher/producer.py
  faststream/kafka/broker/broker.py
  faststream/nats/broker/broker.py
  faststream/rabbit/broker/broker.py
  faststream/redis/broker/broker.py
Due: lint, static-analysis

fix: remove useless option
  faststream/confluent/client.py
Due: lint, static-analysis

tests: fix confluent
  faststream/confluent/client.py
  tests/brokers/confluent/test_logger.py
Due: lint, static-analysis

fix confluent
  faststream/confluent/client.py
Due: lint, static-analysis

Update exception.md
  docs/docs/en/getting-started/middlewares/exception.md
Due: docs

Fix: rename message vars, avoid overwrite
  faststream/_internal/broker/broker.py
Due: lint, static-analysis

WIP
  docs/docs/en/faststream-people.md
Due: docs

Update exception.md (#1803)
  docs/docs/en/getting-started/middlewares/exception.md
Due: docs

fix nats types
  faststream/nats/broker/broker.py
  faststream/nats/publisher/usecase.py
  faststream/nats/testing.py
Due: lint, static-analysis

lint: fix RMQ types
  faststream/rabbit/publisher/usecase.py
Due: lint, static-analysis

lint: fix Kafka types
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/usecase.py
Due: lint, static-analysis

lint: fix Redis types
  faststream/redis/broker/broker.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis

lint: fix Confluent types
  faststream/confluent/broker/broker.py
  faststream/confluent/publisher/usecase.py
Due: lint, static-analysis

Feat: add process msg to broker.request methods (#1800)
  faststream/_internal/broker/broker.py
  faststream/confluent/broker/broker.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/broker/broker.py
  faststream/nats/publisher/usecase.py
  faststream/nats/testing.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/broker/broker.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis

feat: add CLI support for AsgiFastStream
  docs/docs/en/getting-started/asgi.md
  docs/docs/en/getting-started/middlewares/exception.md
  faststream/_internal/__init__.py
  faststream/_internal/application.py
  faststream/app.py
  faststream/asgi/app.py
  faststream/broker/fastapi/route.py
  faststream/cli/main.py
  faststream/nats/response.py
  faststream/nats/testing.py
  tests/brokers/base/fastapi.py
  tests/cli/rabbit/test_app.py
  tests/cli/test_run.py
Due: lint, static-analysis, docs

Fixes the CI bug that allows PRs with failed tests to be merged.
  .github/workflows/pr_tests.yaml
Due: none

Fixes the CI bug that allows PRs with failed tests to be merged. (#1807)
  .github/workflows/pr_tests.yaml
Due: none

Add FastStream People page
  docs/docs/en/faststream-people.md
Due: docs

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
