Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: just linter
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

static-analysis:
  name: Static analysis
  entry: just static-analysis
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

docs:
  name: Build docs
  entry: just docs-build
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

fix: resolve conflicts
  faststream/asgi/handlers.py
  faststream/confluent/broker/registrator.py
  faststream/kafka/subscriber/usecase.py
  tests/asgi/testcase.py
Due: lint, static-analysis

fix: correct logging setLevel
  examples/rabbit/stream.py
  faststream/_internal/state/logger/params_storage.py
  faststream/_internal/state/logger/state.py
  faststream/confluent/broker/logging.py
  faststream/kafka/broker/logging.py
  faststream/nats/broker/logging.py
  faststream/rabbit/broker/logging.py
  faststream/redis/broker/logging.py
  tests/cli/rabbit/test_logs.py
Due: lint, static-analysis

tests(fastapi): added test for incorrect Depends
  tests/brokers/base/fastapi.py
Due: lint, static-analysis

Update fastapi.py
  tests/brokers/base/fastapi.py
Due: lint, static-analysis

docs: Added filtering technical information
  docs/docs/en/getting-started/subscription/filtering.md
Due: docs

docs: generate API References
  docs/docs/en/getting-started/subscription/filtering.md
  docs/docs/en/release.md
Due: docs

Update release.md
  docs/docs/en/release.md
Due: docs

docs: generate API References
  docs/docs/en/release.md
Due: docs

tests: add missing fixture
  faststream/middlewares/logging.py
  faststream/rabbit/broker/logging.py
  tests/cli/conftest.py
  tests/cli/rabbit/test_app.py
Due: lint, static-analysis

Removed publisher decorator method conflict
  docs/docs/en/getting-started/publishing/decorator.md
Due: docs

docs: generate API References
  .secrets.baseline
Due: none

docs: print self.msg instead of self.message
  docs/docs/en/getting-started/middlewares/index.md
Due: docs

feat(depends): added wrong depends exception
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/fastapi/route.py
  tests/brokers/base/fastapi.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/fastapi/get_dependant/has_faststream_depends.md
  docs/docs/en/release.md
Due: docs

fix(fastapi_tests): fixed 3.8 compatibility
  tests/brokers/base/fastapi.py
Due: lint, static-analysis

feat: type client args
  .secrets.baseline
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/utils/RabbitClientProperties.md
  docs/docs/en/release.md
  faststream/rabbit/broker/broker.py
  faststream/rabbit/utils.py
Due: lint, static-analysis, docs

docs: improve otel docs
  docs/docs/SUMMARY.md
  docs/docs/assets/img/logfire-trace.png
  docs/docs/assets/img/sentry-trace.png
  docs/docs/en/getting-started/observability/opentelemetry.md
  docs/docs/en/getting-started/observability/opentelemetry/baggage.md
  docs/docs/en/getting-started/observability/opentelemetry/index.md
  docs/docs/en/getting-started/observability/opentelemetry/sentry.md
  docs/docs/en/getting-started/observability/opentelemetry/tracing.md
  docs/docs/navigation_template.txt
Due: docs

docs: generate API References
  docs/docs/en/getting-started/observability/opentelemetry/index.md
  docs/docs/en/getting-started/observability/opentelemetry/sentry.md
  docs/docs/en/getting-started/observability/opentelemetry/tracing.md
  docs/docs/en/release.md
Due: docs

docs: fix trim trailing whitespace
  docs/docs/en/getting-started/observability/opentelemetry/index.md
  docs/docs/en/getting-started/observability/opentelemetry/sentry.md
  docs/docs/en/getting-started/observability/opentelemetry/tracing.md
Due: docs

Minor proofreading improvements
  docs/docs/en/getting-started/subscription/filtering.md
Due: docs

feat: type client args (#2165)
  .secrets.baseline
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/utils/RabbitClientProperties.md
  docs/docs/en/release.md
  faststream/rabbit/broker/broker.py
  faststream/rabbit/utils.py
Due: lint, static-analysis, docs

docs: Added filtering technical information (#2161)
  docs/docs/en/getting-started/publishing/decorator.md
  docs/docs/en/getting-started/subscription/filtering.md
Due: docs

docs: access the msg attribute of BaseMiddleware (#2166)
  .secrets.baseline
  docs/docs/en/getting-started/middlewares/index.md
Due: docs

Proofread docs
  docs/docs/en/getting-started/observability/opentelemetry/baggage.md
  docs/docs/en/getting-started/observability/opentelemetry/index.md
  docs/docs/en/getting-started/observability/opentelemetry/sentry.md
  docs/docs/en/getting-started/observability/opentelemetry/tracing.md
Due: docs

docs: improve otel docs (#2167)
  docs/docs/SUMMARY.md
  docs/docs/assets/img/logfire-trace.png
  docs/docs/assets/img/sentry-trace.png
  docs/docs/en/getting-started/observability/opentelemetry.md
  docs/docs/en/getting-started/observability/opentelemetry/baggage.md
  docs/docs/en/getting-started/observability/opentelemetry/index.md
  docs/docs/en/getting-started/observability/opentelemetry/sentry.md
  docs/docs/en/getting-started/observability/opentelemetry/tracing.md
  docs/docs/navigation_template.txt
Due: docs

[FS-2158] Explicit error in case of mixed up fastapi.Depends and faststream.Depends (#2160)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/fastapi/get_dependant/has_faststream_depends.md
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/fastapi/route.py
  tests/brokers/base/fastapi.py
Due: lint, static-analysis, docs

feat: add autoflush on kafka producer
  faststream/kafka/broker/registrator.py
  faststream/kafka/publisher/producer.py
  faststream/kafka/publisher/usecase.py
Due: lint, static-analysis

chore: fix lint
  faststream/kafka/publisher/usecase.py
Due: lint, static-analysis

chore: fix lint 2
  faststream/kafka/broker/registrator.py
Due: lint, static-analysis

refactor: autoflush wrapper
  faststream/kafka/broker/registrator.py
  faststream/kafka/publisher/usecase.py
Due: lint, static-analysis

feat: add RabbitMQ Channel object
  faststream/__about__.py
  faststream/rabbit/__init__.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/schemas/__init__.py
  faststream/rabbit/schemas/channel.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/Channel.md
  docs/docs/en/api/faststream/rabbit/schemas/Channel.md
  docs/docs/en/api/faststream/rabbit/schemas/channel/Channel.md
Due: docs

feat: add ChannelManager to declare RMQ channels
  faststream/rabbit/broker/broker.py
  faststream/rabbit/helpers/__init__.py
  faststream/rabbit/helpers/channel_manager.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

chore: add slots to ChannelManager
  faststream/rabbit/helpers/channel_manager.py
Due: lint, static-analysis

WIP(tests): added test for annotated fastapi.Context
  tests/brokers/base/fastapi.py
Due: lint, static-analysis

feat: add flush on publisher and unit test
  faststream/kafka/broker/registrator.py
  faststream/kafka/publisher/usecase.py
  tests/brokers/kafka/test_test_client.py
Due: lint, static-analysis

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
