Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

AsyncAPI 2.6.0 fix empty channels for KafkaSubscriber if partitions provided
  faststream/kafka/subscriber/asyncapi.py
  tests/asyncapi/kafka/test_arguments.py
Due: lint, static-analysis

Remove unused import
  faststream/kafka/subscriber/asyncapi.py
Due: lint, static-analysis

fix: HandlerException ingored (#1928)
  faststream/prometheus/middleware.py
  tests/prometheus/basic.py
Due: lint, static-analysis

AsyncAPI 2.6.0 fix empty channels for ConfluentSubscriber if partitions provided
  faststream/confluent/subscriber/asyncapi.py
  tests/asyncapi/confluent/test_arguments.py
Due: lint, static-analysis

tests: actualize AsyncAPI 2.6.0 tests
  tests/asyncapi/base/v2_6_0/publisher.py
  tests/asyncapi/confluent/v2_6_0/test_naming.py
  tests/asyncapi/confluent/v2_6_0/test_router.py
  tests/asyncapi/confluent/v2_6_0/test_security.py
  tests/asyncapi/kafka/v2_6_0/test_naming.py
  tests/asyncapi/kafka/v2_6_0/test_router.py
  tests/asyncapi/kafka/v2_6_0/test_security.py
  tests/asyncapi/nats/v2_6_0/test_naming.py
  tests/asyncapi/nats/v2_6_0/test_router.py
  tests/asyncapi/rabbit/v2_6_0/test_connection.py
  tests/asyncapi/rabbit/v2_6_0/test_naming.py
  tests/asyncapi/rabbit/v2_6_0/test_publisher.py
  tests/asyncapi/rabbit/v2_6_0/test_router.py
  tests/asyncapi/redis/v2_6_0/test_naming.py
  tests/asyncapi/redis/v2_6_0/test_router.py
Due: lint, static-analysis

Fix formatting errors
  tests/asyncapi/confluent/test_arguments.py
  tests/asyncapi/kafka/test_arguments.py
Due: lint, static-analysis

feat: delayed broker setting
  faststream/_internal/application.py
  faststream/app.py
  faststream/asgi/app.py
Due: lint, static-analysis

Feat: add tests
  tests/brokers/kafka/test_consume.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/kafka/subscriber/asyncapi/AsyncAPIConcurrentDefaultSubscriber.md
  docs/docs/en/api/faststream/kafka/subscriber/usecase/ConcurrentDefaultSubscriber.md
Due: docs

fix: RabbitBroker's ping is more objective
  faststream/rabbit/broker/broker.py
Due: lint, static-analysis

fix: RabbitBroker's ping is more objective (#1933)
  faststream/rabbit/broker/broker.py
Due: lint, static-analysis

fix: allow users to pass `nkeys_seed_str` as argument for NATS (FastApi) Router. (#1932)
  faststream/nats/fastapi/fastapi.py
Due: lint, static-analysis

chore: fix precommit
  tests/asyncapi/confluent/test_arguments.py
  tests/asyncapi/kafka/test_arguments.py
Due: lint, static-analysis

AsyncAPI 2.6.0 fix empty channels for KafkaSubscriber and ConfluentSubscriber if partitions provided (#1930)
  faststream/confluent/subscriber/asyncapi.py
  faststream/kafka/subscriber/asyncapi.py
  tests/asyncapi/confluent/test_arguments.py
  tests/asyncapi/kafka/test_arguments.py
Due: lint, static-analysis

chore: polish PR
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/subscriber/mixins.py
  faststream/broker/utils.py
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/client.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/router.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/usecase.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/kafka/test_misconfigure.py
Due: lint, static-analysis

chore: update python version in precommit
  .github/workflows/pr_tests.yaml
Due: none

Feat: Add kafka concurrent subscriber (#1912)
  .github/workflows/pr_tests.yaml
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/kafka/subscriber/asyncapi/AsyncAPIConcurrentDefaultSubscriber.md
  docs/docs/en/api/faststream/kafka/subscriber/usecase/ConcurrentDefaultSubscriber.md
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/subscriber/mixins.py
  faststream/broker/utils.py
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/client.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/router.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/router.py
  faststream/kafka/subscriber/asyncapi.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/usecase.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/kafka/test_misconfigure.py
Due: lint, static-analysis, docs

chore: fix NATS Core acknowledgement
  faststream/kafka/broker/registrator.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/message.py
  faststream/nats/parser.py
  faststream/nats/publisher/producer.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecases/core_subscriber.py
  faststream/nats/testing.py
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

Remove `retry` from block and add acknowledgement to getting start
  docs/docs/en/getting-started/acknowlegment.md
  docs/docs/en/nats/jetstream/ack.md
  docs/docs/en/rabbit/ack.md
Due: docs

fix pre-commit
  docs/docs/en/getting-started/acknowlegment.md
Due: docs

Fix middlewares order for publishing scope
  faststream/broker/core/usecase.py
Due: lint, static-analysis

Missing middlewares
  faststream/broker/subscriber/call_item.py
  faststream/broker/subscriber/usecase.py
Due: lint, static-analysis

ruff
  faststream/broker/subscriber/usecase.py
Due: lint, static-analysis

add tests
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

ruff tests
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

pre-commit
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

Add test for `aenter`, `aexit`
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

Update tests
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

Fix tests
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

fix: #1874 support workers for ASGI FastStream
  docs/docs/en/getting-started/asgi.md
  faststream/asgi/app.py
  faststream/cli/utils/parser.py
  tests/cli/utils/test_parser.py
Due: lint, static-analysis, docs

test: extend test for CLI
  docs/docs/en/getting-started/asgi.md
  faststream/asgi/app.py
  tests/cli/utils/test_parser.py
Due: lint, static-analysis, docs

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/cli/utils/parser/is_bind_arg.md
Due: docs

Fix tests again
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

lint: fix mypy
  faststream/broker/core/abc.py
  faststream/broker/core/usecase.py
  faststream/broker/router.py
  faststream/broker/subscriber/call_item.py
  faststream/broker/subscriber/proto.py
  faststream/broker/subscriber/usecase.py
  faststream/broker/wrapper/proto.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/router.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/router.py
  faststream/nats/broker/registrator.py
  faststream/nats/router.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/router.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/broker/registrator.py
  faststream/redis/router.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/nats/test_middlewares.py
Due: lint, static-analysis

Remove `retry` from docs and add acknowledgement to getting start (#1934)
  docs/docs/en/getting-started/acknowlegment.md
  docs/docs/en/nats/jetstream/ack.md
  docs/docs/en/rabbit/ack.md
Due: docs

tests: add middlewares enter-exit order test
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

Add a dummy commit
  faststream/dummy.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/dummy/Dummy.md
Due: docs

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
