Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

bug fix
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis

Update Release Notes for 0.4.6
  docs/docs/en/release.md
Due: docs

chore: stash changes
  faststream/nats/broker/broker.py
  faststream/nats/handler.py
Due: lint, static-analysis

fix (#1263): correct nested descriminator msg type AsyncA{I schema
  faststream/asyncapi/generate.py
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis

refactor: remove useless check
  faststream/asyncapi/generate.py
Due: lint, static-analysis

fix (#1263): correct nested descriminator msg type AsyncAPI schema (#1288)
  faststream/asyncapi/generate.py
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis

refactor: add NatsBroker publisher Docs
  faststream/nats/broker/broker.py
  faststream/nats/publisher.py
Due: lint, static-analysis

refactor: detail NATS Docstrings
  faststream/nats/broker/broker.py
Due: lint, static-analysis

refactor: fix missing RMQ typess
  faststream/nats/publisher.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/publisher.py
  faststream/rabbit/schemas/schemas.py
Due: lint, static-analysis

refactor: make all brokers compatible with new parent
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher.py
  faststream/kafka/router/router.py
  faststream/nats/broker/broker.py
  faststream/nats/fastapi/fastapi.pyi
  faststream/nats/schemas/pull_sub.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/broker/broker.pyi
  faststream/rabbit/fastapi/fastapi.pyi
  faststream/rabbit/handler.py
  faststream/rabbit/parser.py
  faststream/rabbit/producer.py
  faststream/rabbit/publisher.py
  faststream/rabbit/router/router.py
  faststream/rabbit/schemas/schemas.py
  faststream/rabbit/test.py
  faststream/redis/broker/broker.py
  faststream/redis/fastapi/fastapi.pyi
  faststream/redis/publisher.py
  faststream/security.py
  faststream/types.py
  tests/brokers/rabbit/test_connect.py
  tests/brokers/redis/test_connect.py
Due: lint, static-analysis

refactor: explicit RMQ Message options
  faststream/broker/types.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/fastapi/fastapi.pyi
  faststream/rabbit/parser.py
  faststream/rabbit/producer.py
  faststream/rabbit/publisher.py
  faststream/rabbit/publisher.pyi
  faststream/rabbit/router/router.py
  faststream/rabbit/schemas/schemas.py
  faststream/rabbit/test.py
  faststream/rabbit/types.py
Due: lint, static-analysis

fead: add transaction in AioKafkaFastProducer
  faststream/kafka/producer.py
Due: lint, static-analysis

refactor: use scripts/lint.sh
  faststream/kafka/producer.py
Due: lint, static-analysis

docs: add apply_types warning notice to subscription/index.md
  docs/docs/en/getting-started/subscription/index.md
Due: docs

refactor: explicit RMQ publishers options
  faststream/broker/core/publisher.py
  faststream/rabbit/asyncapi.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/parser.py
  faststream/rabbit/producer.py
  faststream/rabbit/publisher.py
  faststream/rabbit/publisher.pyi
  faststream/rabbit/router/router.py
  faststream/rabbit/test.py
Due: lint, static-analysis

fix: make transaction method sync
  faststream/kafka/producer.py
Due: lint, static-analysis

docs: add apply_types warning notice to subscription/index.md (#1291)
  docs/docs/en/getting-started/subscription/index.md
Due: docs

Adding pytest.mark.asyncio to tests since they call the async publish function.
  tests/cli/test_publish.py
Due: lint, static-analysis

chore: fixed nats-py version
  faststream/__about__.py
  pyproject.toml
Due: lint, static-analysis

chore: fixed nats-py version (#1294)
  faststream/__about__.py
  pyproject.toml
Due: lint, static-analysis

Update Release Notes for 0.4.7
  docs/docs/en/release.md
Due: docs

1129 - Create a publish command for the CLI (#1151)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/cli/main/publish.md
  docs/docs/en/api/faststream/cli/main/publish_message.md
  faststream/cli/main.py
  tests/cli/test_publish.py
Due: lint, static-analysis, docs

refactor: explicit RMQ routers
  faststream/broker/router.py
  faststream/rabbit/__init__.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/handler.py
  faststream/rabbit/router/router.py
  tests/brokers/base/router.py
Due: lint, static-analysis

refactor: make RabbitMQ object pydantic-independent
  faststream/broker/schemas.py
  faststream/rabbit/__init__.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/helpers.py
  faststream/rabbit/router/router.py
  faststream/rabbit/schemas/schemas.py
  faststream/rabbit/shared/utils.py
Due: lint, static-analysis

refactor: make JStream pydantic independant
  faststream/nats/router/router.py
  faststream/nats/schemas/js_stream.py
  faststream/nats/schemas/js_stream.pyi
Due: lint, static-analysis

refactor: merge router.publisher middlewares with routers' ones
  faststream/kafka/router/router.py
  faststream/redis/router/router.py
Due: lint, static-analysis

refactor: remove pydantic.BaseModel usages in basic classes
  faststream/_compat.py
  faststream/broker/router.py
  faststream/kafka/broker/broker.py
  faststream/kafka/handler.py
  faststream/kafka/publisher.py
  faststream/nats/asyncapi.py
  faststream/nats/helpers.py
  faststream/nats/schemas/pull_sub.py
  faststream/rabbit/fastapi/fastapi.pyi
  faststream/redis/broker/broker.py
  faststream/redis/publisher.py
  faststream/redis/router/router.py
  faststream/redis/schemas.py
Due: lint, static-analysis

packages upgraded
  .secrets.baseline
  pyproject.toml
  tests/asyncapi/base/arguments.py
  tests/cli/test_publish.py
Due: lint, static-analysis

packages upgraded (#1306)
  .secrets.baseline
  pyproject.toml
  tests/asyncapi/base/arguments.py
  tests/cli/test_publish.py
Due: lint, static-analysis

feat: remove pydantic, fastapi, uvloop dependencies
  faststream/__about__.py
  faststream/_compat.py
  faststream/app.py
  faststream/asyncapi/base.py
  faststream/asyncapi/site.py
  faststream/broker/core/publisher.py
  faststream/broker/fastapi/route.py
  faststream/broker/security.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/confluent/broker.py
  faststream/confluent/handler.py
  faststream/confluent/publisher.py
  faststream/exceptions.py
  faststream/kafka/broker/broker.py
  faststream/kafka/handler.py
  faststream/kafka/publisher.py
  faststream/nats/broker/broker.py
  faststream/nats/publisher.py
  faststream/nats/schemas/pull_sub.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/fastapi/fastapi.py
  faststream/rabbit/publisher.py
  faststream/rabbit/router/router.py
  faststream/rabbit/schemas/schemas.py
  faststream/redis/parser.py
  faststream/redis/publisher.py
  faststream/security.py
  faststream/types.py
  pyproject.toml
  tests/cli/test_asyncapi_docs.py
Due: lint, static-analysis

format: run formatter
  faststream/app.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/exceptions.py
  faststream/rabbit/fastapi/fastapi.py
  faststream/redis/parser.py
  faststream/security.py
Due: lint, static-analysis

refactor: compelete RMQ annotations
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  faststream/rabbit/asyncapi.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/fastapi/fastapi.py
  faststream/rabbit/handler.py
Due: lint, static-analysis

fix typos
  docs/docs/en/scheduling.md
Due: docs

fix typo
  docs/docs/en/faststream.md
Due: docs

fix typos
  README.md
Due: none

docs: fix typos (#1309)
  README.md
  docs/docs/en/faststream.md
  docs/docs/en/scheduling.md
Due: docs

refactor: explicit Redis annotations
  faststream/broker/fastapi/router.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/fastapi/fastapi.py
  faststream/rabbit/fastapi/fastapi.pyi
  faststream/rabbit/producer.py
  faststream/redis/broker/broker.py
  faststream/redis/broker/broker.pyi
  faststream/redis/fastapi/fastapi.py
  faststream/redis/producer.py
  faststream/redis/publisher.py
  faststream/redis/router/router.py
  faststream/redis/router/router.pyi
Due: lint, static-analysis

refactor: compelete RMQ FastAPI annotations
  faststream/redis/annotations.py
  faststream/redis/broker/broker.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/fastapi/fastapi.pyi
Due: lint, static-analysis

refactor: fix kafka tests
  faststream/confluent/__init__.py
  faststream/confluent/asyncapi.py
  faststream/confluent/broker.py
  faststream/confluent/broker/__init__.py
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/broker.pyi
  faststream/confluent/broker/logging.py
  faststream/confluent/fastapi/__init__.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/fastapi/fastapi.pyi
  faststream/confluent/handler.py
  faststream/confluent/publisher.py
  faststream/confluent/router.pyi
  faststream/confluent/router/__init__.py
  faststream/confluent/router/router.py
  faststream/confluent/shared/logging.py
  faststream/confluent/shared/router.py
  faststream/confluent/shared/router.pyi
  faststream/confluent/test.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/handler.py
  faststream/nats/broker/broker.py
  faststream/rabbit/handler.py
  faststream/rabbit/schemas/schemas.py
  pyproject.toml
Due: lint, static-analysis

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
