Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/lint-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

Feat: add dto for publishers and subscribers in rabbit, need rename and mpre clearly import
  faststream/_internal/publisher/specified.py
  faststream/_internal/subscriber/schemas.py
  faststream/_internal/subscriber/specified.py
  faststream/_internal/subscriber/usecase.py
  faststream/rabbit/publisher/factory.py
  faststream/rabbit/publisher/specified.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/schemas/proto.py
  faststream/rabbit/schemas/publishers.py
  faststream/rabbit/schemas/subscribers.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/specified.py
  faststream/rabbit/subscriber/usecase.py
  faststream/specification/proto/endpoint.py
  faststream/specification/schema/subscriber.py
Due: lint, static-analysis

Fix: lint
  faststream/_internal/subscriber/usecase.py
  faststream/rabbit/publisher/factory.py
  faststream/rabbit/publisher/specified.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/schemas/proto.py
  faststream/rabbit/schemas/subscribers.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/specified.py
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

Fix: some fixes
  faststream/_internal/publisher/specified.py
  faststream/_internal/subscriber/specified.py
  faststream/rabbit/subscriber/specified.py
  faststream/specification/proto/endpoint.py
  faststream/specification/schema/__init__.py
  faststream/specification/schema/base.py
  faststream/specification/schema/subscriber.py
Due: lint, static-analysis

Fix: remove base options
  faststream/rabbit/publisher/specified.py
  faststream/rabbit/schemas/proto.py
  faststream/rabbit/schemas/publishers.py
  faststream/rabbit/schemas/subscribers.py
  faststream/rabbit/subscriber/specified.py
Due: lint, static-analysis

Feat: add dto for specification broker
  faststream/confluent/schemas/subscribers.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
Due: lint, static-analysis

chore: make sync working
  pyproject.toml
Due: none

docs: add Ask AI button with Gurubase widget
  docs/docs/javascripts/gurubase-widget.js
  docs/mkdocs.yml
Due: docs

docs: generate API References
  docs/docs/javascripts/gurubase-widget.js
Due: docs

chore: make sync working (#2041)
  pyproject.toml
Due: none

Fix: rewrute rmq
  faststream/_internal/publisher/schemas.py
  faststream/_internal/publisher/specified.py
  faststream/_internal/publisher/usecase.py
  faststream/_internal/subscriber/schemas.py
  faststream/_internal/subscriber/specified.py
  faststream/_internal/subscriber/usecase.py
  faststream/confluent/schemas/subscribers.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/rabbit/publisher/factory.py
  faststream/rabbit/publisher/specified.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/schemas/base.py
  faststream/rabbit/schemas/proto.py
  faststream/rabbit/schemas/publishers.py
  faststream/rabbit/schemas/subscribers.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/specified.py
  faststream/rabbit/subscriber/usecase.py
  faststream/specification/proto/endpoint.py
  faststream/specification/schema/__init__.py
  faststream/specification/schema/base.py
Due: lint, static-analysis

chore: ignore Gurubase token
  docs/docs/javascripts/gurubase-widget.js
Due: docs

docs: add Ask AI button with Gurubase widget (#2042)
  docs/docs/javascripts/gurubase-widget.js
  docs/mkdocs.yml
Due: docs

chore: merge main
  .gitignore
  .secrets.baseline
  docs/docs/en/api/faststream/kafka/listener/LoggingListenerProxy.md
  docs/docs/en/api/faststream/kafka/message/KafkaRawMessage.md
  docs/docs/en/api/faststream/kafka/subscriber/asyncapi/AsyncAPIConcurrentBetweenPartitionsSubscriber.md
  docs/docs/en/api/faststream/kafka/subscriber/usecase/ConcurrentBetweenPartitionsSubscriber.md
  docs/docs/en/getting-started/asgi.md
  docs/docs/en/kafka/Subscriber/index.md
  docs/docs/en/release.md
  faststream/__about__.py
  faststream/_internal/subscriber/usecase.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/listener.py
  faststream/kafka/message.py
  faststream/kafka/parser.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/specified.py
  faststream/kafka/subscriber/usecase.py
  pyproject.toml
  scripts/publish.sh
  tests/brokers/base/publish.py
  tests/brokers/base/testclient.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/kafka/test_misconfigure.py
  tests/opentelemetry/basic.py
Due: lint, static-analysis, docs

tests: new Listener tests
  faststream/_internal/subscriber/usecase.py
  faststream/kafka/subscriber/usecase.py
  tests/brokers/kafka/test_consume.py
Due: lint, static-analysis

chore: refactor CincurrentBetwwenPartitionsSubscriber
  docs/docs/en/api/faststream/kafka/exceptions/BatchBufferOverflowException.md
  docs/docs/en/api/faststream/kafka/listener/LoggingListenerProxy.md
  docs/docs/en/api/faststream/kafka/message/KafkaRawMessage.md
  docs/docs/en/api/faststream/kafka/subscriber/asyncapi/AsyncAPIConcurrentBetweenPartitionsSubscriber.md
  docs/docs/en/api/faststream/kafka/subscriber/usecase/ConcurrentBetweenPartitionsSubscriber.md
  docs/docs/en/api/faststream/rabbit/QueueType.md
  docs/docs/en/api/faststream/rabbit/schemas/QueueType.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/ClassicQueueArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/CommonQueueArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QueueClassicTypeSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QueueQuorumTypeSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QueueStreamTypeSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QueueType.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QuorumQueueArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/SharedQueueClassicAndQuorumArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/StreamQueueArgs.md
  docs/docs/en/api/faststream/rabbit/utils/build_virtual_host.md
  faststream/kafka/listener.py
  faststream/kafka/subscriber/usecase.py
  tests/brokers/kafka/test_consume.py
Due: lint, static-analysis, docs

chore: refactor CincurrentBetwwenPartitionsSubscriber
  faststream/kafka/subscriber/usecase.py
Due: lint, static-analysis

fix: correct ConcurrentManualAckSubscriber behavior
  faststream/_internal/subscriber/usecase.py
  faststream/kafka/subscriber/usecase.py
  tests/brokers/kafka/test_consume.py
Due: lint, static-analysis

tests: increase timeout in kafka concurrent tests
  tests/brokers/kafka/test_consume.py
Due: lint, static-analysis

Remove useless overloads
  faststream/confluent/broker/registrator.py
  faststream/confluent/fastapi/fastapi.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
Due: lint, static-analysis

Feat: add confluent publishers
  faststream/_internal/publisher/specified.py
  faststream/confluent/publisher/factory.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/schemas/publisher.py
  faststream/confluent/schemas/subscribers.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/rabbit/subscriber/factory.py
Due: lint, static-analysis

Feat: add kafka
  faststream/_internal/publisher/specified.py
  faststream/kafka/publisher/factory.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/schemas/publishers.py
  faststream/kafka/schemas/subscribers.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
Due: lint, static-analysis

refactor: change ListenerProxy logic
  faststream/kafka/listener.py
  faststream/kafka/subscriber/usecase.py
Due: lint, static-analysis

tests: increase workers number for kafka
  tests/brokers/kafka/test_consume.py
Due: lint, static-analysis

chore: merge main (#2045)
  .gitignore
  .secrets.baseline
  docs/docs/en/api/faststream/kafka/exceptions/BatchBufferOverflowException.md
  docs/docs/en/api/faststream/rabbit/QueueType.md
  docs/docs/en/api/faststream/rabbit/schemas/QueueType.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/ClassicQueueArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/CommonQueueArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QueueClassicTypeSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QueueQuorumTypeSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QueueStreamTypeSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QueueType.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QuorumQueueArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/SharedQueueClassicAndQuorumArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/StreamQueueArgs.md
  docs/docs/en/api/faststream/rabbit/utils/build_virtual_host.md
  docs/docs/en/getting-started/asgi.md
  docs/docs/en/kafka/Subscriber/index.md
  docs/docs/en/release.md
  faststream/__about__.py
  faststream/_internal/subscriber/usecase.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/listener.py
  faststream/kafka/message.py
  faststream/kafka/parser.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/specified.py
  faststream/kafka/subscriber/usecase.py
  pyproject.toml
  scripts/publish.sh
  tests/brokers/base/publish.py
  tests/brokers/base/testclient.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/kafka/test_misconfigure.py
  tests/opentelemetry/basic.py
Due: lint, static-analysis, docs

Feat: add nats
  faststream/nats/publisher/factory.py
  faststream/nats/publisher/usecase.py
  faststream/nats/schemas/publishers.py
  faststream/nats/schemas/subscribers.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecases/basic.py
  faststream/nats/subscriber/usecases/core_subscriber.py
  faststream/nats/subscriber/usecases/key_value_subscriber.py
  faststream/nats/subscriber/usecases/object_storage_subscriber.py
  faststream/nats/subscriber/usecases/stream_basic.py
  faststream/nats/subscriber/usecases/stream_pull_subscriber.py
Due: lint, static-analysis

Refactor: Remove magic methods for hashing, use names for queue/exchange
  faststream/rabbit/helpers/declarer.py
  faststream/rabbit/schemas/exchange.py
  faststream/rabbit/schemas/queue.py
Due: lint, static-analysis

Feat: add redis
  faststream/redis/publisher/factory.py
  faststream/redis/publisher/usecase.py
  faststream/redis/schemas/publishers.py
  faststream/redis/schemas/subscribers.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/usecases/basic.py
  faststream/redis/subscriber/usecases/channel_subscriber.py
  faststream/redis/subscriber/usecases/list_subscriber.py
  faststream/redis/subscriber/usecases/stream_subscriber.py
Due: lint, static-analysis

Fix: changed logic of matching queues
  faststream/rabbit/helpers/declarer.py
Due: lint, static-analysis

Fix: rename base options
  faststream/confluent/publisher/factory.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/schemas/publisher.py
  faststream/confluent/schemas/subscribers.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/publisher/factory.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/schemas/publishers.py
  faststream/kafka/schemas/subscribers.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/publisher/factory.py
  faststream/nats/publisher/usecase.py
  faststream/nats/schemas/publishers.py
  faststream/nats/schemas/subscribers.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecases/basic.py
  faststream/nats/subscriber/usecases/core_subscriber.py
  faststream/nats/subscriber/usecases/key_value_subscriber.py
  faststream/nats/subscriber/usecases/object_storage_subscriber.py
  faststream/nats/subscriber/usecases/stream_basic.py
  faststream/nats/subscriber/usecases/stream_pull_subscriber.py
  faststream/rabbit/publisher/factory.py
  faststream/rabbit/publisher/specified.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/schemas/publishers.py
  faststream/rabbit/schemas/subscribers.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/specified.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/publisher/factory.py
  faststream/redis/publisher/usecase.py
  faststream/redis/schemas/publishers.py
  faststream/redis/schemas/subscribers.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/usecases/basic.py
  faststream/redis/subscriber/usecases/channel_subscriber.py
  faststream/redis/subscriber/usecases/list_subscriber.py
  faststream/redis/subscriber/usecases/stream_subscriber.py
Due: lint, static-analysis

Fix: pop schema_ from publishers dto
  faststream/_internal/publisher/specified.py
  faststream/confluent/publisher/factory.py
  faststream/confluent/subscriber/factory.py
  faststream/kafka/publisher/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/publisher/factory.py
  faststream/rabbit/publisher/factory.py
  faststream/rabbit/publisher/specified.py
  faststream/redis/publisher/factory.py
Due: lint, static-analysis

Fix: lint
  faststream/confluent/publisher/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/publisher/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/publisher/factory.py
Due: lint, static-analysis

Update pyproject.toml
  pyproject.toml
Due: none

Fix: some fixes
  faststream/_internal/publisher/schemas.py
  faststream/_internal/publisher/specified.py
  faststream/_internal/subscriber/schemas.py
  faststream/_internal/subscriber/specified.py
  faststream/confluent/publisher/factory.py
  faststream/confluent/schemas/publisher.py
  faststream/confluent/schemas/subscribers.py
  faststream/confluent/subscriber/factory.py
  faststream/kafka/publisher/factory.py
  faststream/kafka/schemas/publishers.py
  faststream/kafka/schemas/subscribers.py
  faststream/kafka/subscriber/factory.py
  faststream/nats/publisher/factory.py
  faststream/nats/schemas/subscribers.py
  faststream/nats/subscriber/factory.py
  faststream/rabbit/publisher/factory.py
  faststream/rabbit/publisher/specified.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/specified.py
  faststream/redis/publisher/factory.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/usecases/channel_subscriber.py
  faststream/redis/subscriber/usecases/list_subscriber.py
  faststream/redis/subscriber/usecases/stream_subscriber.py
  faststream/specification/proto/endpoint.py
  faststream/specification/schema/__init__.py
  faststream/specification/schema/base.py
Due: lint, static-analysis

docs: fix typo
  docs/docs/en/getting-started/asgi.md
Due: docs

feat: add __aiter__ method in SubscriberProto
  faststream/_internal/subscriber/proto.py
Due: lint, static-analysis

fix: return RabbitMessage everytime, ignore override
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

feat: kafka subscriber iterator
  faststream/kafka/subscriber/usecase.py
Due: lint, static-analysis

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
