Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

docs: generate API References
  docs/docs/en/api/faststream/asyncapi/schema/info/EmailStr.md
Due: docs

docs: update FastAPI integration to use BrokerRouter
  docs/docs/en/api/faststream/asyncapi/schema/info/EmailStr.md
  docs/docs/en/getting-started/integrations/fastapi/index.md
  docs/docs_src/integrations/fastapi/confluent/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/confluent/router.py
  docs/docs_src/integrations/fastapi/kafka/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/kafka/router.py
  docs/docs_src/integrations/fastapi/nats/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/nats/router.py
  docs/docs_src/integrations/fastapi/rabbit/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/rabbit/router.py
  docs/docs_src/integrations/fastapi/redis/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/redis/router.py
  docs/includes/getting_started/integrations/fastapi/multiple.md
  docs/includes/getting_started/integrations/fastapi/multiple_lifespan.md
  docs/includes/getting_started/integrations/fastapi/routers.md
Due: lint, static-analysis, docs

tests: add FastAPI include regular router testcase
  tests/a_docs/integration/fastapi/test_multiple_lifespan.py
  tests/a_docs/integration/fastapi/test_routers.py
  tests/brokers/base/fastapi.py
  tests/brokers/confluent/test_fastapi.py
  tests/brokers/kafka/test_fastapi.py
  tests/brokers/nats/test_fastapi.py
  tests/brokers/rabbit/test_fastapi.py
  tests/brokers/redis/test_fastapi.py
Due: lint, static-analysis

feat (#1168): allow include regular router to FastAPI integration (#1747)
  docs/docs/en/api/faststream/asyncapi/schema/info/EmailStr.md
  docs/docs/en/getting-started/integrations/fastapi/index.md
  docs/docs_src/integrations/fastapi/confluent/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/confluent/router.py
  docs/docs_src/integrations/fastapi/kafka/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/kafka/router.py
  docs/docs_src/integrations/fastapi/nats/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/nats/router.py
  docs/docs_src/integrations/fastapi/rabbit/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/rabbit/router.py
  docs/docs_src/integrations/fastapi/redis/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/redis/router.py
  docs/includes/getting_started/integrations/fastapi/multiple.md
  docs/includes/getting_started/integrations/fastapi/multiple_lifespan.md
  docs/includes/getting_started/integrations/fastapi/routers.md
  faststream/broker/fastapi/router.py
  tests/a_docs/integration/fastapi/test_multiple_lifespan.py
  tests/a_docs/integration/fastapi/test_routers.py
  tests/brokers/base/fastapi.py
  tests/brokers/confluent/test_fastapi.py
  tests/brokers/kafka/test_fastapi.py
  tests/brokers/nats/test_fastapi.py
  tests/brokers/rabbit/test_fastapi.py
  tests/brokers/redis/test_fastapi.py
Due: lint, static-analysis, docs

Nats batch pull get_one tests + fixes
  faststream/nats/subscriber/usecase.py
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

Nats get_one with filter test
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

fix (#1748): add Kafka publish no_wait option
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/producer.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/testing.py
  pyproject.toml
  tests/brokers/base/middlewares.py
  tests/brokers/confluent/conftest.py
Due: lint, static-analysis

In case if core-subscriber receive a JetStream message.
  faststream/nats/parser.py
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

fix: correct default value return in context.get_local
  faststream/utils/context/repository.py
  pyproject.toml
  tests/utils/context/test_main.py
Due: lint, static-analysis

refactor: use correct get_local syntax
  faststream/broker/middlewares/logging.py
  faststream/log/logging.py
Due: lint, static-analysis

lint: correct docstrings
  faststream/nats/broker/registrator.py
  faststream/redis/broker/registrator.py
Due: lint, static-analysis

Remove default value and add tests
  faststream/nats/parser.py
  faststream/nats/publisher/producer.py
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

In case if core-subscriber receive a JetStream message. (#1751)
  faststream/nats/parser.py
  faststream/nats/publisher/producer.py
  faststream/nats/subscriber/usecase.py
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

Fix nats tests after #1751
  faststream/nats/testing.py
Due: lint, static-analysis

Fix nats tests after #1751 (#1753)
  faststream/nats/testing.py
Due: lint, static-analysis

feat: add no_confirm option to Confluent
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/schemas/partition.py
  faststream/confluent/testing.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/producer.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/testing.py
Due: lint, static-analysis

feat: explicit final message commit status
  faststream/broker/message.py
Due: lint, static-analysis

fix: use old StrEnum
  faststream/broker/message.py
Due: lint, static-analysis

chore: little polish tests CI
  .github/workflows/pr_tests.yaml
Due: none

run ci
  .github/workflows/pr_tests.yaml
Due: none

chore: include-hidden-files in artifact upload CI job
  .github/workflows/pr_tests.yaml
Due: none

chore: include-hidden-files in artifact upload CI job (#1755)
  .github/workflows/pr_tests.yaml
Due: none

feat: explicit final message commit status (#1754)
  .github/workflows/pr_tests.yaml
  faststream/broker/message.py
Due: lint, static-analysis

Fix/context get local default (#1752)
  faststream/broker/middlewares/logging.py
  faststream/log/logging.py
  faststream/nats/broker/registrator.py
  faststream/redis/broker/registrator.py
  faststream/utils/context/repository.py
  pyproject.toml
  tests/utils/context/test_main.py
Due: lint, static-analysis

chore: fix CI
  .github/workflows/pr_tests.yaml
  docs/mkdocs.yml
  faststream/confluent/publisher/producer.py
  pyproject.toml
Due: lint, static-analysis, docs

chore: fix CI
  .github/workflows/pr_tests.yaml
Due: none

docs: gen API
  .github/workflows/pr_tests.yaml
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/message/AckStatus.md
Due: docs

docs: fix CI
  .github/workflows/pr_tests.yaml
Due: none

docs: fix CI (#1757)
  .github/workflows/pr_tests.yaml
Due: none

Added same OAUTHBEARER security parsing as Confluent Kafka to AIO Kafka
  faststream/kafka/security.py
Due: lint, static-analysis

Added same OAUTHBEARER security parsing as Confluent Kafka to AIO Kafka
  tests/asyncapi/kafka/test_security.py
Due: lint, static-analysis

Added SSL Context to Kafka AIO Oauth flow
  faststream/kafka/security.py
Due: lint, static-analysis

Downgrade mkdocstrings and mkdocs-autorefs versions
  pyproject.toml
Due: none

Update docs
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/message/AckStatus.md
Due: docs

Update comments in pyproject
  pyproject.toml
Due: none

Added more docs for Kafka OAuth Security Flow.
  docs/docs/en/kafka/security.md
  docs/docs_src/kafka/security/sasl_oauthbearer.py
Due: lint, static-analysis, docs

Downgrade mkdocstrings and mkdocs-autorefs versions (#1760)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/message/AckStatus.md
  pyproject.toml
Due: docs
