Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit, pre-merge-commit]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        stages: [pre-commit, pre-merge-commit, manual]
    -   id: end-of-file-fixer
        stages: [pre-commit, pre-merge-commit, manual]
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        stages: [pre-commit, pre-merge-commit, manual]
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files
        stages: [pre-commit, pre-merge-commit, manual]

-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        stages: [pre-commit, pre-merge-commit, manual]
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        stages: [pre-commit, pre-merge-commit, manual]
        entry: just linter
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: just static-analysis
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: just docs-build
        language: python
        files: ^docs
        require_serial: true
        verbose: true
        pass_filenames: false

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: [
            '--baseline', '.secrets.baseline',
            '--exclude-lines', 'postgresql://user:password@postgres/postgres',
            '--exclude-lines', 'amqp://guest:guest@rabbitmq:5672/',
        ]
        exclude: package.lock.json
        stages: [pre-commit, pre-merge-commit, manual]

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/fastapi/get_dependant/has_signature_param.md
  docs/docs/en/release.md
Due: docs

refactor: move create publisher to factories
  faststream/confluent/broker/registrator.py
  faststream/confluent/client.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/subscriber/factory.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/subscriber/factory.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/subscriber/factory/create_publisher.md
  docs/docs/en/api/faststream/kafka/subscriber/factory/create_publisher.md
Due: docs

fix: confluent real client test and add start waiting on confluent client
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  tests/brokers/confluent/test_test_client.py
Due: lint, static-analysis

fix: drop start method on confluent
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  tests/brokers/base/testclient.py
  tests/brokers/confluent/test_test_client.py
Due: lint, static-analysis

feat: auto flush confluent broker (#2182)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/subscriber/factory/create_publisher.md
  docs/docs/en/api/faststream/kafka/subscriber/factory/create_publisher.md
  faststream/confluent/broker/registrator.py
  faststream/confluent/client.py
  faststream/confluent/publisher/producer.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/subscriber/factory.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/subscriber/factory.py
  tests/brokers/base/testclient.py
  tests/brokers/confluent/test_test_client.py
  tests/brokers/kafka/test_test_client.py
Due: lint, static-analysis, docs

Proofread docs
  docs/docs/en/getting-started/asyncapi/hosting.md
Due: docs

docs: add information about manual AsyncAPI hosting (#2177)
  docs/docs/en/getting-started/asyncapi/hosting.md
Due: docs

fix(ci): fixed confluence stuck on some tests
  tests/brokers/base/fastapi.py
Due: lint, static-analysis

[FS-2169] Error on faststream.Context instead of faststream.[broker].fastapi.Context (#2181)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/fastapi/get_dependant/has_signature_param.md
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/fastapi/route.py
  tests/brokers/base/fastapi.py
Due: lint, static-analysis, docs

Added exceptions & warnings
  faststream/exceptions.py
  faststream/kafka/__init__.py
  faststream/kafka/broker/broker.py
  faststream/nats/__init__.py
  faststream/nats/broker/broker.py
  faststream/rabbit/annotations.py
  faststream/rabbit/broker/broker.py
  faststream/redis/annotations.py
  faststream/redis/broker/broker.py
  main.py
Due: lint, static-analysis

docs: generate API References
  faststream/exceptions.py
  faststream/kafka/broker/broker.py
  faststream/rabbit/annotations.py
  faststream/rabbit/broker/broker.py
  faststream/redis/broker/broker.py
  main.py
Due: lint, static-analysis

fix: Prioritize user-defined config parameters over default ones
  faststream/confluent/client.py
Due: lint, static-analysis

docs: generate API References
  faststream/confluent/client.py
Due: lint, static-analysis

Delete main.py
  main.py
Due: lint, static-analysis
