Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

Raise error if ssl_context is passed
  docs/docs_src/confluent/security/basic.py
  docs/docs_src/confluent/security/plaintext.py
  docs/docs_src/confluent/security/sasl_scram256.py
  docs/docs_src/confluent/security/sasl_scram512.py
  faststream/confluent/security.py
  tests/brokers/confluent/test_security.py
Due: lint, static-analysis, docs

Add ConfluentConfig typed dict
  .codespell-whitelist.txt
  .secrets.baseline
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/config/BrokerAddressFamily.md
  docs/docs/en/api/faststream/confluent/config/BuiltinFeatures.md
  docs/docs/en/api/faststream/confluent/config/ClientDNSLookup.md
  docs/docs/en/api/faststream/confluent/config/CompressionCodec.md
  docs/docs/en/api/faststream/confluent/config/CompressionType.md
  docs/docs/en/api/faststream/confluent/config/ConfluentConfig.md
  docs/docs/en/api/faststream/confluent/config/Debug.md
  docs/docs/en/api/faststream/confluent/config/GroupProtocol.md
  docs/docs/en/api/faststream/confluent/config/IsolationLevel.md
  docs/docs/en/api/faststream/confluent/config/OffsetStoreMethod.md
  docs/docs/en/api/faststream/confluent/config/SASLOAUTHBearerMethod.md
  docs/docs/en/api/faststream/confluent/config/SecurityProtocol.md
  docs/docs/en/confluent/security.md
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/config.py
  faststream/confluent/security.py
  faststream/kafka/parser.py
  tests/brokers/confluent/test_security.py
Due: lint, static-analysis, docs

Add docs for passing config
  docs/docs/SUMMARY.md
  docs/docs/en/confluent/additional-configuration.md
  docs/docs/en/confluent/security.md
  docs/docs/navigation_template.txt
  docs/docs_src/confluent/additional_config/__init__.py
  docs/docs_src/confluent/additional_config/app.py
  tests/docs/confluent/additional_config/__init__.py
  tests/docs/confluent/additional_config/test_app.py
Due: lint, static-analysis, docs

Fix mypy failure
  faststream/confluent/client.py
Due: lint, static-analysis

Remove unused parameters
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/client.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/router.py
  faststream/confluent/schemas/params.py
Due: lint, static-analysis

docs: update filters examples
  docs/docs_src/getting_started/subscription/confluent/filter.py
  docs/docs_src/getting_started/subscription/kafka/filter.py
  docs/docs_src/getting_started/subscription/nats/filter.py
  docs/docs_src/getting_started/subscription/rabbit/filter.py
  docs/docs_src/getting_started/subscription/redis/filter.py
  docs/includes/getting_started/subscription/filtering/1.md
Due: lint, static-analysis, docs

chore: update dependencies
  .github/workflows/publish_coverage.yml
  pyproject.toml
Due: none

docs: update filters example (#1516)
  .github/workflows/publish_coverage.yml
  docs/docs_src/getting_started/subscription/confluent/filter.py
  docs/docs_src/getting_started/subscription/kafka/filter.py
  docs/docs_src/getting_started/subscription/nats/filter.py
  docs/docs_src/getting_started/subscription/rabbit/filter.py
  docs/docs_src/getting_started/subscription/redis/filter.py
  docs/includes/getting_started/subscription/filtering/1.md
  pyproject.toml
Due: lint, static-analysis, docs

Bump version
  faststream/__about__.py
Due: lint, static-analysis

Add config param to pass additional parameters to confluent-kafka-python (#1505)
  .codespell-whitelist.txt
  .secrets.baseline
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/config/BrokerAddressFamily.md
  docs/docs/en/api/faststream/confluent/config/BuiltinFeatures.md
  docs/docs/en/api/faststream/confluent/config/ClientDNSLookup.md
  docs/docs/en/api/faststream/confluent/config/CompressionCodec.md
  docs/docs/en/api/faststream/confluent/config/CompressionType.md
  docs/docs/en/api/faststream/confluent/config/ConfluentConfig.md
  docs/docs/en/api/faststream/confluent/config/Debug.md
  docs/docs/en/api/faststream/confluent/config/GroupProtocol.md
  docs/docs/en/api/faststream/confluent/config/IsolationLevel.md
  docs/docs/en/api/faststream/confluent/config/OffsetStoreMethod.md
  docs/docs/en/api/faststream/confluent/config/SASLOAUTHBearerMethod.md
  docs/docs/en/api/faststream/confluent/config/SecurityProtocol.md
  docs/docs/en/confluent/additional-configuration.md
  docs/docs/en/confluent/security.md
  docs/docs/navigation_template.txt
  docs/docs_src/confluent/additional_config/__init__.py
  docs/docs_src/confluent/additional_config/app.py
  docs/docs_src/confluent/security/basic.py
  docs/docs_src/confluent/security/plaintext.py
  docs/docs_src/confluent/security/sasl_scram256.py
  docs/docs_src/confluent/security/sasl_scram512.py
  faststream/__about__.py
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/client.py
  faststream/confluent/config.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/router.py
  faststream/confluent/schemas/params.py
  faststream/confluent/security.py
  faststream/kafka/parser.py
  tests/brokers/confluent/test_security.py
  tests/docs/confluent/additional_config/__init__.py
  tests/docs/confluent/additional_config/test_app.py
Due: lint, static-analysis, docs

Update Release Notes for 0.5.12
  docs/docs/en/release.md
Due: docs

feat: support NATS multiple subjects JS subscription
  faststream/nats/broker/registrator.py
  faststream/nats/subscriber/factory.py
Due: lint, static-analysis

feat: NATS test client supports filter subsciption
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecase.py
  faststream/nats/testing.py
  tests/brokers/nats/test_consume.py
  tests/brokers/nats/test_test_client.py
Due: lint, static-analysis

refactor: add cache for NATS log subject calculation
  faststream/nats/subscriber/usecase.py
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

feat: nats filter JS subscription support (#1519)
  faststream/nats/broker/registrator.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecase.py
  faststream/nats/testing.py
  tests/brokers/nats/test_consume.py
  tests/brokers/nats/test_test_client.py
Due: lint, static-analysis

chore: downgrade upload-artifact action
  .github/workflows/publish_coverage.yml
Due: none

chore: downgrade upload-artifact action (#1520)
  .github/workflows/publish_coverage.yml
Due: none

fear: impl RMQ ConnectionManager
  faststream/rabbit/broker/broker.py
  faststream/rabbit/broker/connection.py
Due: lint, static-analysis

fix: correct RabbitExchange processing by OTEL in broker.publish case
  faststream/rabbit/opentelemetry/provider.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/broker/connection/ConnectionManager.md
Due: docs

Add nats client inbox_prefix test
  tests/brokers/nats/test_test_client.py
Due: lint, static-analysis

fixes to inbox_prefix test
  tests/brokers/nats/test_test_client.py
Due: lint, static-analysis

feat: RMQ connection & channel pool impl
  faststream/confluent/broker/broker.py
  faststream/rabbit/annotations.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/broker/connection.py
  faststream/rabbit/broker/logging.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/helpers/declarer.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/subscriber/usecase.py
  faststream/rabbit/testing.py
  tests/brokers/rabbit/specific/test_declare.py
  tests/brokers/rabbit/specific/test_init.py
  tests/brokers/rabbit/specific/test_qos.py
Due: lint, static-analysis

fix: correct RabbitExchange processing by OTEL in broker.publish case (#1521)
  faststream/rabbit/opentelemetry/provider.py
Due: lint, static-analysis

tests: fix flacking nats-real test
  tests/opentelemetry/nats/test_nats.py
Due: lint, static-analysis

fix: correct NATS ObjectStorage watch processing
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

tests: fix NATS OS tes
  tests/docs/nats/js/test_object.py
Due: lint, static-analysis

fix: correct Nats ObjectStorage get file behavior inside watch subscriber (#1523)
  faststream/nats/subscriber/usecase.py
  tests/docs/nats/js/test_object.py
  tests/opentelemetry/nats/test_nats.py
Due: lint, static-analysis

fix: add links for batches
  faststream/opentelemetry/consts.py
  faststream/opentelemetry/middleware.py
  tests/opentelemetry/confluent/test_confluent.py
  tests/opentelemetry/kafka/test_kafka.py
  tests/opentelemetry/nats/test_nats.py
  tests/opentelemetry/redis/test_redis.py
Due: lint, static-analysis

fix: strict get correlation_id from dict
  faststream/opentelemetry/middleware.py
Due: lint, static-analysis

test: add batch telemetry tests for redis
  faststream/opentelemetry/middleware.py
  tests/opentelemetry/nats/test_nats.py
  tests/opentelemetry/redis/test_redis.py
Due: lint, static-analysis

test: add batch telemetry tests for kafka
  tests/opentelemetry/confluent/test_confluent.py
  tests/opentelemetry/kafka/test_kafka.py
Due: lint, static-analysis

test: refactor nats test_batch
  tests/opentelemetry/nats/test_nats.py
Due: lint, static-analysis

lint: fix bandit
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/utils/nuid/NUID.md
  faststream/nats/publisher/producer.py
  faststream/utils/nuid.py
  tests/brokers/nats/test_test_client.py
Due: lint, static-analysis, docs

Resolve Issue 1386, Add rpc_prefix (#1484)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/utils/nuid/NUID.md
  faststream/nats/publisher/producer.py
  faststream/redis/publisher/producer.py
  faststream/utils/nuid.py
  tests/brokers/nats/test_test_client.py
Due: lint, static-analysis, docs

refactor: _get_span_links
  faststream/opentelemetry/middleware.py
Due: lint, static-analysis

refactor: optimize OTEL links resolution
  faststream/opentelemetry/middleware.py
Due: lint, static-analysis

lint: fix codespell
  .codespell-whitelist.txt
  docs/docs/en/release.md
  faststream/opentelemetry/middleware.py
Due: lint, static-analysis, docs

lint: fix mypy
  faststream/opentelemetry/middleware.py
Due: lint, static-analysis

fix: correct spans linking in batches case (#1532)
  .codespell-whitelist.txt
  docs/docs/en/release.md
  faststream/opentelemetry/consts.py
  faststream/opentelemetry/middleware.py
  tests/opentelemetry/confluent/test_confluent.py
  tests/opentelemetry/kafka/test_kafka.py
  tests/opentelemetry/nats/test_nats.py
  tests/opentelemetry/redis/test_redis.py
Due: lint, static-analysis, docs
