Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit, pre-merge-commit]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        stages: [pre-commit, pre-merge-commit, manual]
    -   id: end-of-file-fixer
        stages: [pre-commit, pre-merge-commit, manual]
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        stages: [pre-commit, pre-merge-commit, manual]
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files
        stages: [pre-commit, pre-merge-commit, manual]

-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        stages: [pre-commit, pre-merge-commit, manual]
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        stages: [pre-commit, pre-merge-commit, manual]
        entry: "scripts/lint-pre-commit.sh"
        language: python
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json
        stages: [pre-commit, pre-merge-commit, manual]

fix: model schema for nested dataclasses
  faststream/asyncapi/message.py
Due: lint, static-analysis

test(asyncapi): added test for nested dataclasses
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis

fix: use python3.8 types
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis

Fixed nested dataclasses schema generation (#2097)
  docs/__init__.py
  faststream/asyncapi/message.py
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis, docs

renamed oauthbearer_token_refresh_cb to oauth_cb and introduced on_delivery in ConfluentConfig
  faststream/confluent/config.py
Due: lint, static-analysis

renamed oauthbearer_token_refresh_cb to oauth_cb and introduced on_delivery in ConfluentConfig (#2098)
  faststream/confluent/config.py
Due: lint, static-analysis

Added pros and cons to publishers page
  docs/docs/en/getting-started/publishing/broker.md
  docs/docs/en/getting-started/publishing/decorator.md
  docs/docs/en/getting-started/publishing/direct.md
  docs/docs/en/getting-started/publishing/object.md
Due: docs

Edited css file
  docs/docs/stylesheets/extra.css
Due: docs

Added new configuration for mkdocs material icons
  docs/mkdocs.yml
Due: docs

Removed list pins
  docs/docs/en/getting-started/publishing/broker.md
  docs/docs/en/getting-started/publishing/decorator.md
  docs/docs/en/getting-started/publishing/direct.md
  docs/docs/en/getting-started/publishing/object.md
Due: docs

Edited mark colors
  docs/docs/stylesheets/extra.css
Due: docs

docs: generate API References
  docs/docs/en/getting-started/publishing/broker.md
  docs/docs/en/getting-started/publishing/decorator.md
  docs/docs/en/getting-started/publishing/direct.md
  docs/docs/en/getting-started/publishing/object.md
Due: docs

Update mkdocs.yml
  docs/mkdocs.yml
Due: docs

Pass through param
  faststream/asgi/app.py
  faststream/asgi/factories.py
  faststream/asgi/handlers.py
  faststream/asyncapi/generate.py
  faststream/asyncapi/schema/main.py
  faststream/broker/fastapi/router.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/en/getting-started/observability/healthchecks.md
  docs/docs/en/getting-started/observability/index.md
  docs/docs/en/getting-started/observability/opentelemetry/faststream-flow.md
  docs/docs/en/getting-started/observability/opentelemetry/integration.md
  docs/docs/en/getting-started/observability/opentelemetry/metrics.md
  docs/docs/en/getting-started/observability/opentelemetry/spans.md
Due: docs

docs: add example for probes
  docs/docs/en/getting-started/healthcheks.md
Due: docs

docs: generate API References
  docs/docs/en/getting-started/healthcheks.md
Due: docs

docs: refactor navigation
  docs/create_api_docs.py
  docs/docs.py
  docs/docs/SUMMARY.md
  docs/docs/en/getting-started/observability/healthcheks.md
  docs/docs/en/getting-started/observability/logging.md
  docs/docs/en/getting-started/observability/opentelemetry.md
  docs/docs/en/getting-started/observability/prometheus.md
  docs/docs/navigation_template.txt
  docs/expand_markdown.py
Due: lint, static-analysis, docs

chore: ignore default secrets
  .pre-commit-config.yaml
Due: none

docs: add example for probes (#2108)
  .pre-commit-config.yaml
  docs/create_api_docs.py
  docs/docs.py
  docs/docs/SUMMARY.md
  docs/docs/en/getting-started/observability/healthcheks.md
  docs/docs/en/getting-started/observability/logging.md
  docs/docs/en/getting-started/observability/opentelemetry.md
  docs/docs/en/getting-started/observability/prometheus.md
  docs/docs/navigation_template.txt
  docs/expand_markdown.py
Due: lint, static-analysis, docs

chore: make PR reference
  docs/docs/en/getting-started/cli/index.md
  docs/includes/en/watchfiles.md
Due: docs

chore: another reference
  docs/docs/en/getting-started/cli/index.md
  docs/includes/getting_started/cli/env.md
Due: docs

refactored subscription Annotation Serialization
  docs/docs/en/getting-started/subscription/annotation.md
  docs/includes/getting_started/subscription/annotation/1.md
  docs/includes/getting_started/subscription/annotation/2.md
  docs/includes/getting_started/subscription/annotation/3.md
Due: docs

Inline include in faststream.md and scheduling.md. Delete unused include files.
  docs/docs/en/faststream.md
  docs/docs/en/scheduling.md
  docs/includes/index/1.md
  docs/includes/index/2.md
  docs/includes/index/3.md
  docs/includes/index/4.md
  docs/includes/index/integrations.md
Due: docs

chore (#2109): make PR reference (#2111)
  docs/docs/en/getting-started/cli/index.md
  docs/includes/en/watchfiles.md
  docs/includes/getting_started/cli/env.md
Due: docs

refactored subscription Annotation Serialization (#2112)
  docs/docs/en/getting-started/subscription/annotation.md
  docs/includes/getting_started/subscription/annotation/1.md
  docs/includes/getting_started/subscription/annotation/2.md
  docs/includes/getting_started/subscription/annotation/3.md
Due: docs

Inline include in faststream.md and scheduling.md. Delete unused include files. (#2113)
  docs/docs/en/faststream.md
  docs/docs/en/scheduling.md
  docs/includes/index/1.md
  docs/includes/index/2.md
  docs/includes/index/3.md
  docs/includes/index/4.md
  docs/includes/index/integrations.md
Due: docs

updated subscription filtering
  docs/docs/en/getting-started/subscription/filtering.md
  docs/includes/getting_started/subscription/filtering/1.md
  docs/includes/getting_started/subscription/filtering/2.md
  docs/includes/getting_started/subscription/filtering/3.md
Due: docs

updated subscription index page
  docs/docs/en/getting-started/subscription/index.md
  docs/includes/getting_started/subscription/index/1.md
  docs/includes/getting_started/subscription/index/2.md
  docs/includes/getting_started/subscription/index/3.md
  docs/includes/getting_started/subscription/index/4.md
  docs/includes/getting_started/subscription/index/sync.md
Due: docs

updated subscription pydantic
  docs/docs/en/getting-started/subscription/pydantic.md
  docs/includes/getting_started/subscription/pydantic/1.md
  docs/includes/getting_started/subscription/pydantic/2.md
Due: docs

updated subscription testing
  docs/docs/en/getting-started/subscription/test.md
  docs/includes/getting_started/subscription/testing/1.md
  docs/includes/getting_started/subscription/testing/2.md
  docs/includes/getting_started/subscription/testing/3.md
  docs/includes/getting_started/subscription/testing/4.md
  docs/includes/getting_started/subscription/testing/5.md
  docs/includes/getting_started/subscription/testing/real.md
Due: docs

deleted folder "testing" in includes
  docs/includes/getting_started/subscription/testing/1.md
  docs/includes/getting_started/subscription/testing/2.md
  docs/includes/getting_started/subscription/testing/3.md
  docs/includes/getting_started/subscription/testing/4.md
  docs/includes/getting_started/subscription/testing/5.md
  docs/includes/getting_started/subscription/testing/real.md
Due: docs

"getting-started/subscription" section has been updated (#2114)
  docs/docs/en/getting-started/subscription/filtering.md
  docs/docs/en/getting-started/subscription/index.md
  docs/docs/en/getting-started/subscription/pydantic.md
  docs/docs/en/getting-started/subscription/test.md
  docs/includes/getting_started/subscription/filtering/1.md
  docs/includes/getting_started/subscription/filtering/2.md
  docs/includes/getting_started/subscription/filtering/3.md
  docs/includes/getting_started/subscription/index/1.md
  docs/includes/getting_started/subscription/index/2.md
  docs/includes/getting_started/subscription/index/3.md
  docs/includes/getting_started/subscription/index/4.md
  docs/includes/getting_started/subscription/index/sync.md
  docs/includes/getting_started/subscription/pydantic/1.md
  docs/includes/getting_started/subscription/pydantic/2.md
  docs/includes/getting_started/subscription/testing/1.md
  docs/includes/getting_started/subscription/testing/2.md
  docs/includes/getting_started/subscription/testing/3.md
  docs/includes/getting_started/subscription/testing/4.md
  docs/includes/getting_started/subscription/testing/5.md
  docs/includes/getting_started/subscription/testing/real.md
Due: docs

Inline includes in getting-started/lifespan/hooks.md
  docs/docs/en/getting-started/lifespan/hooks.md
  docs/includes/getting_started/lifespan/1.md
  docs/includes/getting_started/lifespan/2.md
  docs/includes/getting_started/lifespan/3.md
  docs/includes/getting_started/lifespan/4.md
  docs/includes/getting_started/lifespan/5.md
  docs/includes/getting_started/lifespan/6.md
  docs/includes/getting_started/lifespan/7.md
Due: docs

Inline includes in getting-started/lifespan and remove lifespan folder from includes
  docs/docs/en/getting-started/lifespan/context.md
  docs/docs/en/getting-started/lifespan/test.md
  docs/includes/getting_started/lifespan/ml_context.md
  docs/includes/getting_started/lifespan/testing.md
Due: docs

docs(#2109): inline includes getting-started/lifespan (#2115)
  docs/docs/en/getting-started/lifespan/context.md
  docs/docs/en/getting-started/lifespan/hooks.md
  docs/docs/en/getting-started/lifespan/test.md
  docs/includes/getting_started/lifespan/1.md
  docs/includes/getting_started/lifespan/2.md
  docs/includes/getting_started/lifespan/3.md
  docs/includes/getting_started/lifespan/4.md
  docs/includes/getting_started/lifespan/5.md
  docs/includes/getting_started/lifespan/6.md
  docs/includes/getting_started/lifespan/7.md
  docs/includes/getting_started/lifespan/ml_context.md
  docs/includes/getting_started/lifespan/testing.md
Due: docs

Inline includes in getting-started/dependencies and remove dependencies folder from includes
  docs/docs/en/getting-started/dependencies/index.md
  docs/includes/getting_started/dependencies/1.md
  docs/includes/getting_started/dependencies/2.md
  docs/includes/getting_started/dependencies/3.md
  docs/includes/getting_started/dependencies/4.md
  docs/includes/getting_started/dependencies/5.md
Due: docs

Toggle Gurubase widget theme
  docs/docs/javascripts/theme-switch.js
  docs/mkdocs.yml
Due: docs

docs: generate API References
  docs/docs/javascripts/theme-switch.js
Due: docs
