Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

Use correct workflow path
  .github/workflows/docs_deploy.yaml
Due: none

Change twitter.com to x.com
  docs/mkdocs.yml
  docs/overrides/home.html
Due: docs

Update .yml to .yaml to fix broken badge
  README.md
  docs/docs/en/faststream.md
Due: docs

Update redis streams URL
  docs/docs/en/redis/index.md
  docs/docs/en/redis/streams/index.md
Due: docs

Remove broken reference to faststream codegen
  README.md
  docs/docs/en/faststream.md
Due: docs

Fix formatting of EmailStr API docs link
  docs/create_api_docs.py
  docs/docs/SUMMARY.md
Due: lint, static-analysis, docs

Update max response body size
  .github/workflows/docs_check-broken-links.yaml
Due: none

Fix multiple docs issues (#1718)
  .github/workflows/docs_check-broken-links.yaml
  .github/workflows/docs_deploy.yaml
  README.md
  docs/create_api_docs.py
  docs/docs/SUMMARY.md
  docs/docs/en/faststream.md
  docs/mkdocs.yml
  docs/overrides/home.html
Due: lint, static-analysis, docs

CI: group Dependabot changes to one PR
  .github/dependabot.yml
Due: none

CI: automatically approve & merge Dependabot PRs
  .github/workflows/dependabot_automerge.yaml
Due: none

CI: group Dependabot changes to one PR (#1719)
  .github/dependabot.yml
Due: none

feat: CLI DX improvements
  faststream/app.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/cli/utils/logs.py
  faststream/confluent/broker/broker.py
  faststream/confluent/fastapi/fastapi.py
  faststream/kafka/broker/broker.py
  faststream/kafka/fastapi/fastapi.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/app/catch_startup_validation_error.md
Due: docs

fix: correct merge
  faststream/broker/fastapi/route.py
  faststream/rabbit/broker/broker.py
Due: lint, static-analysis

lint: fix precommit
  faststream/broker/fastapi/route.py
  tests/brokers/confluent/test_requests.py
  tests/brokers/kafka/test_requests.py
  tests/brokers/nats/test_requests.py
  tests/brokers/rabbit/test_requests.py
  tests/brokers/redis/test_requests.py
Due: lint, static-analysis

feat: CLI DX improvements (#1723)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/app/catch_startup_validation_error.md
  faststream/app.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/cli/utils/logs.py
  faststream/confluent/broker/broker.py
  faststream/confluent/fastapi/fastapi.py
  faststream/kafka/broker/broker.py
  faststream/kafka/fastapi/fastapi.py
Due: lint, static-analysis, docs

fix: use async test subscribers functions
  faststream/confluent/testing.py
  faststream/kafka/testing.py
  faststream/nats/testing.py
  faststream/rabbit/testing.py
  faststream/redis/testing.py
Due: lint, static-analysis

fix: decoded_body public field compatibility
  faststream/broker/message.py
Due: lint, static-analysis

fix: request respects consume middleware
  faststream/broker/core/usecase.py
  faststream/nats/publisher/usecase.py
  faststream/testing/broker.py
  faststream/utils/functions.py
  tests/brokers/base/requests.py
  tests/brokers/confluent/test_requests.py
  tests/brokers/kafka/test_requests.py
  tests/brokers/nats/test_requests.py
  tests/brokers/rabbit/test_requests.py
  tests/brokers/redis/test_requests.py
Due: lint, static-analysis

fix: request respects consume middleware for all brokers
  faststream/confluent/publisher/usecase.py
  faststream/kafka/publisher/usecase.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/utils/functions/return_input.md
Due: docs

subscriber.get_one()
  faststream/rabbit/subscriber/usecase.py
  scripts/start_test_env.sh
  scripts/stop_test_env.sh
Due: lint, static-analysis

remove _prepare
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

ruff satisfied
  faststream/app.py
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

fixes
  scripts/start_test_env.sh
  scripts/stop_test_env.sh
Due: none

fixes
  faststream/app.py
Due: lint, static-analysis

fixes
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

fix: use async test subscribers functions (#1725)
  faststream/confluent/testing.py
  faststream/kafka/testing.py
  faststream/nats/testing.py
  faststream/rabbit/testing.py
  faststream/redis/testing.py
Due: lint, static-analysis

Kafka subscriber.get_one()
  faststream/kafka/subscriber/usecase.py
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis

Confluent subscriber.get_one()
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/usecase.py
Due: lint, static-analysis

fix: request respects global middlewares scope
  faststream/broker/core/usecase.py
  faststream/broker/publisher/proto.py
  faststream/confluent/broker/broker.py
  faststream/confluent/publisher/producer.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/testing.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/producer.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/testing.py
  faststream/nats/publisher/producer.py
  faststream/nats/publisher/usecase.py
  faststream/nats/testing.py
  faststream/rabbit/message.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/testing.py
  faststream/redis/publisher/producer.py
  faststream/redis/publisher/usecase.py
  faststream/redis/testing.py
  tests/brokers/base/requests.py
  tests/brokers/confluent/test_requests.py
  tests/brokers/kafka/test_requests.py
  tests/brokers/nats/test_requests.py
  tests/brokers/rabbit/test_requests.py
  tests/brokers/redis/test_requests.py
Due: lint, static-analysis

refactor: polist RMQ get_one method
  faststream/broker/subscriber/proto.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/usecase.py
  faststream/rabbit/subscriber/usecase.py
  faststream/utils/functions.py
Due: lint, static-analysis

Small refactoring of get_one
  faststream/rabbit/subscriber/usecase.py
Due: lint, static-analysis
