Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

chore: bump nats-py requirement (#1600)
  pyproject.toml
Due: none

add exception middleware
  faststream/broker/middlewares/exception.py
Due: lint, static-analysis

feat: init concurrent rpc for rabbit broker
  .secrets.baseline
  CODE_OF_CONDUCT.md
  docs/docs/en/release.md
  faststream/rabbit/broker/connection.py
  faststream/rabbit/publisher/producer.py
  tests/brokers/rabbit/test_rpc.py
  tests/conftest.py
Due: lint, static-analysis, docs

feat: full Kafka Pattern support
  docs/docs/en/kafka/Subscriber/index.md
  faststream/kafka/parser.py
  faststream/kafka/subscriber/usecase.py
  faststream/kafka/testing.py
  tests/brokers/kafka/test_consume.py
  tests/utils/context/test_path.py
Due: lint, static-analysis, docs

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

fix: add pattern checking (#1590)
  docs/docs/en/kafka/Subscriber/index.md
  faststream/__about__.py
  faststream/kafka/parser.py
  faststream/kafka/subscriber/usecase.py
  faststream/kafka/testing.py
  tests/brokers/kafka/test_consume.py
  tests/utils/context/test_path.py
Due: lint, static-analysis, docs

Update Release Notes for 0.5.15
  docs/docs/en/release.md
Due: docs

ref: use a single channel for rpc
  faststream/rabbit/broker/broker.py
  faststream/rabbit/helpers/declarer.py
  faststream/rabbit/publisher/producer.py
  faststream/utils/functions.py
  tests/brokers/rabbit/test_rpc.py
Due: lint, static-analysis

Feat; init
  faststream/confluent/response.py
  faststream/kafka/response.py
  faststream/nats/response.py
  faststream/rabbit/response.py
Due: lint, static-analysis

Feat: add redis response and fix nats, redis response
  faststream/nats/response.py
  faststream/redis/response.py
Due: lint, static-analysis

Fix: unificate code
  faststream/confluent/response.py
  faststream/kafka/response.py
  faststream/nats/response.py
  faststream/rabbit/response.py
  faststream/redis/response.py
Due: lint, static-analysis

Fix: remove some args
  faststream/confluent/response.py
  faststream/kafka/response.py
  faststream/nats/response.py
  faststream/rabbit/response.py
  faststream/redis/response.py
Due: lint, static-analysis

fix typos
  docs/docs/en/confluent/Publisher/batch_publisher.md
  docs/docs/en/getting-started/lifespan/test.md
  docs/docs/en/getting-started/subscription/test.md
  docs/docs/en/kafka/Publisher/batch_publisher.md
  docs/docs/en/nats/jetstream/object.md
  docs/docs/en/rabbit/examples/stream.md
  docs/docs/en/release.md
  docs/docs/en/scheduling.md
Due: docs

fix typos (#1609)
  docs/docs/en/confluent/Publisher/batch_publisher.md
  docs/docs/en/getting-started/lifespan/test.md
  docs/docs/en/getting-started/subscription/test.md
  docs/docs/en/kafka/Publisher/batch_publisher.md
  docs/docs/en/nats/jetstream/object.md
  docs/docs/en/rabbit/examples/stream.md
  docs/docs/en/release.md
  docs/docs/en/scheduling.md
Due: docs

Fix: rewrite init method, override as_publish_kwargs
  faststream/confluent/response.py
  faststream/kafka/response.py
  faststream/nats/response.py
  faststream/rabbit/response.py
  faststream/redis/response.py
Due: lint, static-analysis

AsyncAPI version choosing interface
  faststream/app.py
  faststream/asyncapi/generate.py
  faststream/constants.py
Due: lint, static-analysis

Schema v3 and info v3
  faststream/app.py
  faststream/asyncapi/generate.py
  faststream/asyncapi/schema/__init__.py
  faststream/asyncapi/schema/info.py
  faststream/asyncapi/schema/main.py
  faststream/asyncapi/site.py
  faststream/asyncapi/version.py
  faststream/broker/fastapi/router.py
  faststream/cli/docs/app.py
  faststream/constants.py
Due: lint, static-analysis

StreamRouter asyncapi_version choosing support
  faststream/broker/fastapi/router.py
Due: lint, static-analysis

chore: add DeprecationWarning for ReplyConfig
  faststream/broker/response.py
  faststream/confluent/response.py
  faststream/kafka/response.py
  faststream/nats/response.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/response.py
  faststream/rabbit/router.py
  faststream/rabbit/subscriber/factory.py
  faststream/redis/response.py
Due: lint, static-analysis

tests: check RMQ DeprecationWarning
  tests/brokers/rabbit/test_publish.py
Due: lint, static-analysis

lint: fix mypy
  faststream/broker/response.py
  faststream/confluent/response.py
  faststream/kafka/response.py
  faststream/nats/response.py
  faststream/rabbit/response.py
  faststream/redis/response.py
  tests/brokers/rabbit/test_publish.py
Due: lint, static-analysis

fix: patch broker within testbroker context only
  .codespell-whitelist.txt
  .secrets.baseline
  docs/docs/en/kafka/Subscriber/index.md
  faststream/rabbit/testing.py
  faststream/testing/broker.py
  pyproject.toml
  tests/brokers/base/connection.py
  tests/brokers/base/testclient.py
  tests/brokers/confluent/test_test_client.py
  tests/brokers/kafka/test_test_client.py
  tests/brokers/nats/test_test_client.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/redis/test_test_client.py
  tests/conftest.py
  tests/tools.py
Due: lint, static-analysis, docs

Chore: Update dependency versions
  pyproject.toml
Due: none

tests: mark test connection required
  tests/brokers/confluent/test_test_client.py
  tests/brokers/kafka/test_test_client.py
  tests/brokers/nats/test_test_client.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/redis/test_test_client.py
Due: lint, static-analysis

tests: fix some warnings
  tests/brokers/nats/test_router.py
  tests/conftest.py
Due: lint, static-analysis

lint: fix mypy
  serve.py
Due: lint, static-analysis

lint: fix mypy
  faststream/broker/fastapi/route.py
  faststream/utils/classes.py
  serve.py
Due: lint, static-analysis

Chore: Update dependency versions (#1620)
  faststream/broker/fastapi/route.py
  faststream/utils/classes.py
  pyproject.toml
Due: lint, static-analysis

fix: better monkeypatching + with_real adjustment
  faststream/testing/broker.py
  tests/brokers/base/testclient.py
  tests/brokers/confluent/test_test_client.py
  tests/brokers/kafka/test_test_client.py
  tests/brokers/nats/test_test_client.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/redis/test_test_client.py
Due: lint, static-analysis

tests: fix real publisher test
  tests/brokers/base/testclient.py
  tests/brokers/confluent/test_test_client.py
  tests/brokers/kafka/test_test_client.py
  tests/brokers/nats/test_test_client.py
  tests/brokers/rabbit/test_test_client.py
Due: lint, static-analysis

fix: multiple listeners for handler test: update signature of testclient test in redis
  faststream/nats/subscriber/usecase.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/base/testclient.py
  tests/brokers/redis/test_test_client.py
Due: lint, static-analysis

channels and operations v3
  faststream/asyncapi/generate.py
  faststream/asyncapi/schema/__init__.py
  faststream/asyncapi/schema/info.py
  faststream/asyncapi/schema/main.py
  faststream/asyncapi/schema/v3/__init__.py
  faststream/asyncapi/schema/v3/channels.py
  faststream/asyncapi/schema/v3/operations.py
  faststream/asyncapi/schema/v3/servers.py
Due: lint, static-analysis

explicit server reference and naming fix
  faststream/asyncapi/generate.py
  faststream/asyncapi/version.py
Due: lint, static-analysis

Feat: stage 1 add response to all brokers, need specify to "Broker"Response class
  tests/brokers/confluent/test_publish.py
  tests/brokers/kafka/test_publish.py
  tests/brokers/nats/test_publish.py
  tests/brokers/rabbit/test_publish.py
  tests/brokers/redis/test_publish.py
Due: lint, static-analysis

publisher message model name in schema
  faststream/asyncapi/generate.py
Due: lint, static-analysis

multiple publishers support
  faststream/asyncapi/generate.py
Due: lint, static-analysis

AsyncAPI rabbit naming test
  tests/asyncapi/base/v3_0_0/__init__.py
  tests/asyncapi/base/v3_0_0/naming.py
  tests/asyncapi/rabbit/v2_6_0/__init__.py
  tests/asyncapi/rabbit/v2_6_0/test_arguments.py
  tests/asyncapi/rabbit/v2_6_0/test_connection.py
  tests/asyncapi/rabbit/v2_6_0/test_fastapi.py
  tests/asyncapi/rabbit/v2_6_0/test_naming.py
  tests/asyncapi/rabbit/v2_6_0/test_publisher.py
  tests/asyncapi/rabbit/v2_6_0/test_router.py
  tests/asyncapi/rabbit/v2_6_0/test_security.py
  tests/asyncapi/rabbit/v3_0_0/__init__.py
  tests/asyncapi/rabbit/v3_0_0/test_naming.py
Due: lint, static-analysis

asyncapi generation typo fix
  faststream/asyncapi/generate.py
Due: lint, static-analysis

AsyncAPI RabbitMQ specific naming tests fix
  tests/asyncapi/rabbit/v3_0_0/test_naming.py
Due: lint, static-analysis

ruff missing newilne
  faststream/confluent/security.py
Due: lint, static-analysis
