Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

tests: ignore signal test at Windows
  tests/cli/rabbit/test_app.py
Due: lint, static-analysis

Update asgi.md
  docs/docs/en/getting-started/asgi.md
Due: docs

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

docs: people page styles
  docs/docs/en/faststream-people.md
  docs/docs/stylesheets/extra.css
  faststream/__main__.py
Due: lint, static-analysis, docs

chore: fix precommit
  docs/docs/stylesheets/extra.css
Due: docs

feat: add CLI support for AsgiFastStream (#1782)
  docs/docs/en/getting-started/asgi.md
  faststream/__about__.py
  faststream/_internal/__init__.py
  faststream/_internal/application.py
  faststream/app.py
  faststream/asgi/app.py
  faststream/cli/main.py
  tests/cli/rabbit/test_app.py
  tests/cli/test_run.py
Due: lint, static-analysis, docs

Add contributors (#1808)
  docs/docs/SUMMARY.md
  docs/docs/en/faststream-people.md
  docs/docs/navigation_template.txt
  docs/docs/stylesheets/extra.css
  faststream/__main__.py
Due: lint, static-analysis, docs

fix: correct dependency injection of custom context fields where the custom field value implements __eq__/__ne__ returning NotImplemented
  examples/e12_custom_context.py
  faststream/types.py
  faststream/utils/context/types.py
  tests/examples/test_e12_custom_context.py
Due: lint, static-analysis

do not assume discriminator is not a property
  faststream/asyncapi/generate.py
Due: lint, static-analysis

number of tests reduced & fix confluent mark
  tests/prometheus/basic.py
  tests/prometheus/confluent/test_confluent.py
Due: lint, static-analysis

Skip lightbox and make whole profile clickable
  docs/docs/en/faststream-people.md
  docs/mkdocs.yml
Due: docs

Load list of contributors and experts from people.yml file
  docs/data/people.yml
  docs/docs/en/faststream-people.md
  docs/mkdocs.yml
Due: docs

chore: fix precommit
  faststream/asyncapi/generate.py
Due: lint, static-analysis

Remove duplicate line
  docs/mkdocs.yml
Due: docs

chore: fix precommit
  faststream/utils/context/types.py
Due: lint, static-analysis

chore: fix secrets
  examples/e12_custom_context.py
Due: lint, static-analysis

AsyncAPI2
  faststream/specification/asyncapi/base/asyncapi.py
  faststream/specification/asyncapi/v2_6_0/asyncapi.py
  faststream/specification/asyncapi/v2_6_0/generate.py
Due: lint, static-analysis

AsyncAPI3
  faststream/specification/asyncapi/v2_6_0/generate.py
  faststream/specification/asyncapi/v3_0_0/asyncapi.py
  faststream/specification/asyncapi/v3_0_0/generate.py
Due: lint, static-analysis

Rename facade to factory
  faststream/specification/asyncapi/factory.py
Due: lint, static-analysis

AsyncAPI facade refactoring to factory
  faststream/specification/asyncapi/facade.py
Due: lint, static-analysis

AsyncAPI facade
  faststream/specification/asyncapi/base/asyncapiproto.py
  faststream/specification/asyncapi/facade.py
  faststream/specification/asyncapi/v2_6_0/asyncapi.py
  faststream/specification/asyncapi/v3_0_0/asyncapi.py
Due: lint, static-analysis

Remove specs interface from Faststream and AsgiFaststream
  faststream/app.py
  faststream/asgi/app.py
  faststream/specification/asyncapi/__init__.py
  faststream/specification/asyncapi/base/__init__.py
  faststream/specification/asyncapi/base/asyncapi.py
  faststream/specification/asyncapi/base/asyncapiproto.py
  faststream/specification/asyncapi/factory.py
  faststream/specification/asyncapi/v2_6_0/__init__.py
  faststream/specification/asyncapi/v2_6_0/asyncapi.py
  faststream/specification/asyncapi/v2_6_0/generate.py
  faststream/specification/asyncapi/v3_0_0/__init__.py
  faststream/specification/asyncapi/v3_0_0/asyncapi.py
  faststream/specification/asyncapi/v3_0_0/generate.py
Due: lint, static-analysis

tests fix
  tests/asyncapi/base/v3_0_0/fastapi.py
Due: lint, static-analysis

tests fix
  tests/asyncapi/base/v2_6_0/fastapi.py
  tests/asyncapi/confluent/v2_6_0/test_fastapi.py
  tests/asyncapi/kafka/v2_6_0/test_app.py
  tests/asyncapi/kafka/v2_6_0/test_fastapi.py
  tests/asyncapi/nats/v2_6_0/test_fastapi.py
  tests/asyncapi/rabbit/v2_6_0/test_fastapi.py
  tests/asyncapi/redis/v2_6_0/test_fastapi.py
Due: lint, static-analysis

tests fixes
  faststream/_internal/cli/docs/app.py
  faststream/_internal/fastapi/router.py
  tests/asyncapi/base/v3_0_0/fastapi.py
  tests/asyncapi/confluent/v2_6_0/test_fastapi.py
  tests/asyncapi/confluent/v3_0_0/test_fastapi.py
  tests/asyncapi/kafka/v2_6_0/test_fastapi.py
  tests/asyncapi/kafka/v3_0_0/test_fastapi.py
  tests/asyncapi/rabbit/v2_6_0/test_fastapi.py
  tests/asyncapi/rabbit/v3_0_0/test_fastapi.py
Due: lint, static-analysis

fixes
  docs/docs_src/getting_started/asyncapi/asyncapi_customization/custom_broker.py
  docs/docs_src/getting_started/asyncapi/asyncapi_customization/custom_handler.py
  docs/docs_src/getting_started/asyncapi/asyncapi_customization/custom_info.py
  docs/docs_src/getting_started/asyncapi/asyncapi_customization/payload_info.py
  docs/docs_src/kafka/basic/basic.py
  faststream/_internal/cli/docs/app.py
  faststream/_internal/cli/main.py
  faststream/_internal/cli/utils/imports.py
  faststream/specification/asyncapi/__init__.py
  faststream/specification/asyncapi/base/asyncapi.py
  faststream/specification/asyncapi/factory.py
  faststream/specification/asyncapi/v2_6_0/asyncapi.py
  faststream/specification/asyncapi/v3_0_0/asyncapi.py
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_basic.py
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_broker.py
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_handler.py
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_info.py
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_payload.py
  tests/a_docs/rabbit/test_security.py
  tests/a_docs/redis/test_security.py
  tests/cli/utils/test_imports.py
  tests/conftest.py
Due: lint, static-analysis, docs

fixes
  faststream/_internal/cli/docs/app.py
  faststream/_internal/fastapi/router.py
  faststream/asgi/factories.py
  faststream/specification/asyncapi/base/asyncapi.py
  faststream/specification/asyncapi/factory.py
  faststream/specification/asyncapi/v2_6_0/asyncapi.py
  faststream/specification/asyncapi/v3_0_0/asyncapi.py
Due: lint, static-analysis

fixes
  tests/asyncapi/base/v3_0_0/publisher.py
  tests/asyncapi/confluent/v2_6_0/test_fastapi.py
  tests/asyncapi/kafka/v2_6_0/test_fastapi.py
  tests/asyncapi/nats/v2_6_0/test_fastapi.py
  tests/asyncapi/rabbit/v2_6_0/test_fastapi.py
  tests/asyncapi/rabbit/v3_0_0/test_fastapi.py
  tests/asyncapi/redis/v2_6_0/test_fastapi.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/en/api/faststream/specification/asyncapi/AsyncAPI.md
  docs/docs/en/api/faststream/specification/asyncapi/AsyncAPIProto.md
  docs/docs/en/api/faststream/specification/asyncapi/base/AsyncAPIProto.md
  docs/docs/en/api/faststream/specification/asyncapi/base/asyncapi/AsyncAPIProto.md
  docs/docs/en/api/faststream/specification/asyncapi/factory/AsyncAPI.md
  docs/docs/en/api/faststream/specification/asyncapi/v2_6_0/AsyncAPI2.md
  docs/docs/en/api/faststream/specification/asyncapi/v2_6_0/asyncapi/AsyncAPI2.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/AsyncAPI3.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/asyncapi/AsyncAPI3.md
Due: docs

tests fix
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_broker.py
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_handler.py
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_info.py
  tests/a_docs/getting_started/asyncapi/asyncapi_customization/test_payload.py
  tests/a_docs/rabbit/test_security.py
  tests/a_docs/redis/test_security.py
Due: lint, static-analysis

asyncapi.py rename to facade.py
  faststream/specification/asyncapi/factory.py
  faststream/specification/asyncapi/v2_6_0/__init__.py
  faststream/specification/asyncapi/v2_6_0/facade.py
  faststream/specification/asyncapi/v3_0_0/__init__.py
  faststream/specification/asyncapi/v3_0_0/facade.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/en/api/faststream/specification/asyncapi/v2_6_0/facade/AsyncAPI2.md
  docs/docs/en/api/faststream/specification/asyncapi/v3_0_0/facade/AsyncAPI3.md
Due: docs

merge conflict fix
  faststream/app.py
  faststream/asgi/app.py
  faststream/specification/asyncapi/generate.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/asgi/app/CliRunState.md
  docs/docs/en/api/faststream/asgi/app/OuterRunState.md
  docs/docs/en/api/faststream/asgi/app/ServerState.md
  docs/docs/en/api/faststream/exceptions/StartupValidationError.md
  docs/docs/en/api/faststream/specification/proto/SpecApplication.md
Due: docs

chore: refactored unittest for comparison of EMPTY with custom objects
  examples/e12_custom_context.py
  tests/examples/test_e12_custom_context.py
  tests/utils/context/test_main.py
Due: lint, static-analysis

test cases renamed
  tests/prometheus/confluent/test_confluent.py
  tests/prometheus/kafka/test_kafka.py
  tests/prometheus/nats/test_nats.py
  tests/prometheus/rabbit/test_rabbit.py
  tests/prometheus/redis/test_redis.py
Due: lint, static-analysis

add test_pydantic_model_with_keyword_property
  tests/asyncapi/base/arguments.py
  tests/asyncapi/base/publisher.py
Due: lint, static-analysis
