Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

feat: add application states (#1974)
  faststream/_internal/application.py
  faststream/_internal/state/__init__.py
  faststream/_internal/state/application.py
  tests/cli/test_app_state.py
Due: lint, static-analysis

fix: correct FastAPI with new state
  faststream/_internal/application.py
  faststream/_internal/fastapi/router.py
Due: lint, static-analysis

Update aio-pika external docs URL as it has been moved
  docs/docs/en/rabbit/index.md
Due: docs

feat: tests for delayed broker setting
  tests/application/__init__.py
  tests/application/test_delayed_broker.py
Due: lint, static-analysis

tests: refactor publish js frame test
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

Update aio-pika external docs URL as it has been moved (#1984)
  docs/docs/en/rabbit/index.md
Due: docs

change annotations on broker publish and publish_batch
  faststream/kafka/broker/broker.py
Due: lint, static-analysis

add tests and use lint.sh
  faststream/kafka/broker/broker.py
  tests/brokers/kafka/test_publish.py
Due: lint, static-analysis

fix type hins in faststream/specification
  faststream/specification/asyncapi/factory.py
  faststream/specification/asyncapi/message.py
  faststream/specification/asyncapi/v2_6_0/facade.py
  faststream/specification/asyncapi/v2_6_0/schema/bindings/sqs/channel.py
  faststream/specification/asyncapi/v2_6_0/schema/bindings/sqs/operation.py
  faststream/specification/asyncapi/v2_6_0/schema/contact.py
  faststream/specification/asyncapi/v2_6_0/schema/docs.py
  faststream/specification/asyncapi/v2_6_0/schema/license.py
  faststream/specification/asyncapi/v2_6_0/schema/tag.py
  faststream/specification/asyncapi/v3_0_0/facade.py
  faststream/specification/asyncapi/v3_0_0/generate.py
  faststream/specification/asyncapi/v3_0_0/schema/__init__.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/operation.py
Due: lint, static-analysis

refactor building vh and add tests for this
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/utils/build_virtual_host.md
  faststream/rabbit/utils.py
  tests/brokers/rabbit/test_connect.py
  tests/brokers/rabbit/test_url_builder.py
Due: lint, static-analysis, docs

Update test_url_builder.py
  tests/brokers/rabbit/test_url_builder.py
Due: lint, static-analysis

fix: when / present in virtual host name and passing as uri (#1979)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/utils/build_virtual_host.md
  faststream/rabbit/utils.py
  tests/brokers/rabbit/test_connect.py
  tests/brokers/rabbit/test_url_builder.py
Due: lint, static-analysis, docs

fix type hins in faststream/specification (#1985)
  faststream/specification/asyncapi/factory.py
  faststream/specification/asyncapi/message.py
  faststream/specification/asyncapi/v2_6_0/facade.py
  faststream/specification/asyncapi/v2_6_0/schema/bindings/sqs/channel.py
  faststream/specification/asyncapi/v2_6_0/schema/bindings/sqs/operation.py
  faststream/specification/asyncapi/v2_6_0/schema/contact.py
  faststream/specification/asyncapi/v2_6_0/schema/docs.py
  faststream/specification/asyncapi/v2_6_0/schema/license.py
  faststream/specification/asyncapi/v2_6_0/schema/tag.py
  faststream/specification/asyncapi/v3_0_0/facade.py
  faststream/specification/asyncapi/v3_0_0/generate.py
  faststream/specification/asyncapi/v3_0_0/schema/__init__.py
  faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/operation.py
Due: lint, static-analysis

chore: polish types
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/producer.py
  faststream/kafka/publisher/state.py
  faststream/kafka/publisher/usecase.py
  faststream/specification/asyncapi/message.py
  faststream/specification/asyncapi/v2_6_0/facade.py
  faststream/specification/asyncapi/v3_0_0/facade.py
  faststream/specification/asyncapi/v3_0_0/schema/__init__.py
  faststream/specification/asyncapi/v3_0_0/schema/servers.py
  faststream/specification/base/specification.py
  tests/brokers/kafka/test_publish.py
Due: lint, static-analysis

lint: fix top-level mypy
  faststream/asgi/app.py
  faststream/message/message.py
Due: lint, static-analysis

lint: fix rabbit otel & prometheus mypy
  faststream/_internal/types.py
  faststream/middlewares/base.py
  faststream/opentelemetry/middleware.py
  faststream/opentelemetry/provider.py
  faststream/prometheus/middleware.py
  faststream/prometheus/provider.py
  faststream/rabbit/opentelemetry/provider.py
  faststream/rabbit/prometheus/provider.py
Due: lint, static-analysis

lint: fix rabbit response types
  faststream/_internal/types.py
  faststream/middlewares/base.py
  faststream/opentelemetry/middleware.py
  faststream/prometheus/middleware.py
  faststream/rabbit/response.py
  faststream/rabbit/schemas/proto.py
Due: lint, static-analysis

feat: add raise BatchBufferOverflowException
  faststream/kafka/exceptions.py
  faststream/kafka/publisher/producer.py
Due: lint, static-analysis

Update producer.py
  faststream/kafka/publisher/producer.py
Due: lint, static-analysis

feat: add raise BatchBufferOverflowException (#1989)
  faststream/kafka/exceptions.py
  faststream/kafka/publisher/producer.py
Due: lint, static-analysis

feat: add BatchBufferOverflowException
  faststream/kafka/exceptions.py
  faststream/kafka/publisher/producer.py
  tests/brokers/kafka/test_publish.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/kafka/exceptions/BatchBufferOverflowException.md
Due: docs

fix: use pre-commit
  docs/docs/en/public_api
Due: docs

chore: fix CI
  docs/docs/en/public_api
  tests/brokers/kafka/test_publish.py
Due: lint, static-analysis, docs

chore: fix CI
  tests/opentelemetry/kafka/test_kafka.py
Due: lint, static-analysis

feat: add BatchBufferOverflowException (#1990)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/kafka/exceptions/BatchBufferOverflowException.md
  docs/docs/en/public_api
  faststream/kafka/exceptions.py
  faststream/kafka/publisher/producer.py
  tests/brokers/kafka/test_publish.py
  tests/opentelemetry/kafka/test_kafka.py
Due: lint, static-analysis, docs

Remove reference of "faststream.access" from docs
  docs/docs/en/getting-started/logging.md
Due: docs

feat: add static instrumentation info
  faststream/opentelemetry/consts.py
  faststream/opentelemetry/middleware.py
Due: lint, static-analysis

feat: add static instrumentation info (#1996)
  faststream/opentelemetry/consts.py
  faststream/opentelemetry/middleware.py
Due: lint, static-analysis

Remove reference of "faststream.access" from docs (#1995)
  docs/docs/en/getting-started/logging.md
Due: docs

Feat: stage 1 add code, tests not work
  faststream/redis/broker/registrator.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/router.py
  faststream/redis/subscriber/asyncapi.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/redis/test_consume.py
Due: lint, static-analysis

fix: KeyError 'reply_to' in rabbit
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/response.py
Due: lint, static-analysis

fix: KeyError 'reply_to' in rabbit (#1999)
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/response.py
Due: lint, static-analysis

feat: addition test
  tests/application/test_delayed_broker.py
Due: lint, static-analysis

feat: broker -> **brokers
  faststream/_internal/application.py
  faststream/_internal/cli/utils/logs.py
Due: lint, static-analysis

feat: ruff
  tests/application/test_delayed_broker.py
Due: lint, static-analysis
