Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

pre-commit fixes and addition to CI
  .devcontainer/docker-compose.yaml
  .devcontainer/setup.sh
  .github/workflows/pr_tests.yaml
  .secrets.baseline
  docs/docs/en/confluent/security.md
  docs/docs/en/release.md
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  faststream/cli/supervisors/watchfiles.py
Due: lint, static-analysis, docs

pre-commit fixes and addition to CI
  .github/workflows/pr_tests.yaml
Due: none

fixes
  .github/workflows/pr_tests.yaml
  .secrets.baseline
  docs/docs/en/confluent/security.md
Due: docs

fixes
  .github/workflows/pr_tests.yaml
Due: none

Update pre-commit config
  .pre-commit-config.yaml
Due: none

Include venv in codespell excluded directories
  pyproject.toml
Due: none

Run pre-commit job alone including static-analysis step
  .github/workflows/pr_tests.yaml
Due: none

Set warn_unused_ignores mypy config to true (#1694)
  .devcontainer/docker-compose.yaml
  .devcontainer/setup.sh
  .github/workflows/pr_tests.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  docs/docs/en/release.md
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  faststream/cli/supervisors/watchfiles.py
  pyproject.toml
Due: lint, static-analysis, docs

Update mike and dirty-equals versions
  pyproject.toml
Due: none

Update griffe-typingdoc version
  pyproject.toml
Due: none

Update mkdocs-material version
  pyproject.toml
Due: none

Fix typehint
  faststream/broker/middlewares/exception.py
Due: lint, static-analysis

lint: fix ruff
  faststream/app.py
  faststream/confluent/broker/broker.py
  faststream/kafka/broker/broker.py
  faststream/nats/broker/broker.py
  faststream/rabbit/broker/broker.py
  faststream/redis/broker/broker.py
  pyproject.toml
  tests/brokers/base/testclient.py
Due: lint, static-analysis

lint: fix mypy
  faststream/confluent/broker/broker.py
  faststream/kafka/broker/broker.py
  faststream/nats/broker/broker.py
  faststream/rabbit/broker/broker.py
  faststream/redis/broker/broker.py
Due: lint, static-analysis

Skip building docs in pre-commit CI job
  .github/workflows/pr_tests.yaml
Due: none

Skip building docs in pre-commit CI job (#1704)
  .github/workflows/pr_tests.yaml
Due: none

Add dummy file
  faststream/dummy.py
Due: lint, static-analysis

Update checkout as option in update api docs action
  .github/workflows/docs_update-references.yaml
Due: none

Change pull_request to pull_request_target
  .github/workflows/docs_update-references.yaml
Due: none

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/dummy/Dummy.md
Due: docs

Fix to run check-docs-changes worflow in forks (#1710)
  .github/workflows/docs_update-references.yaml
Due: none

feature: add FastDepends to exception handlers
  docs/docs/en/getting-started/middlewares/exception.md
  faststream/__init__.py
  faststream/broker/middlewares/exception.py
  tests/brokers/base/middlewares.py
  tests/brokers/confluent/test_middlewares.py
  tests/brokers/kafka/test_middlewares.py
  tests/brokers/nats/test_middlewares.py
  tests/brokers/rabbit/test_middlewares.py
  tests/brokers/redis/test_middlewares.py
Due: lint, static-analysis, docs

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/ExceptionMiddleware.md
  docs/docs/en/api/faststream/broker/middlewares/ExceptionMiddleware.md
  docs/docs/en/api/faststream/broker/middlewares/exception/BaseExceptionMiddleware.md
  docs/docs/en/api/faststream/broker/middlewares/exception/ExceptionMiddleware.md
Due: docs

docs: correct navigation
  docs/docs/navigation_template.txt
Due: docs

docs: generate API References
  docs/docs/SUMMARY.md
Due: docs

chore: fix CI
  docs/docs/en/getting-started/middlewares/exception.md
  tests/brokers/confluent/test_middlewares.py
Due: lint, static-analysis, docs

Proofread docs
  docs/docs/en/getting-started/middlewares/exception.md
Due: docs

feature/exception_middleware add exception middleware (#1604)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/ExceptionMiddleware.md
  docs/docs/en/api/faststream/broker/middlewares/ExceptionMiddleware.md
  docs/docs/en/api/faststream/broker/middlewares/exception/BaseExceptionMiddleware.md
  docs/docs/en/api/faststream/broker/middlewares/exception/ExceptionMiddleware.md
  docs/docs/en/getting-started/middlewares/exception.md
  docs/docs/navigation_template.txt
  faststream/__init__.py
  faststream/broker/middlewares/__init__.py
  faststream/broker/middlewares/exception.py
  faststream/broker/subscriber/usecase.py
  tests/brokers/base/middlewares.py
  tests/brokers/confluent/test_middlewares.py
  tests/brokers/kafka/test_middlewares.py
  tests/brokers/nats/test_middlewares.py
  tests/brokers/rabbit/test_middlewares.py
  tests/brokers/redis/test_middlewares.py
Due: lint, static-analysis, docs

Remove mentions of faststream-gen
  .pre-commit-config.yaml
  README.md
  docs/docs/en/faststream.md
Due: docs

Remove mentions of faststream-gen (#1717)
  .pre-commit-config.yaml
  README.md
  docs/docs/en/faststream.md
Due: docs

Delete dummmy file
  faststream/dummy.py
Due: lint, static-analysis

Use mkdocs hooks show correct edit url for public_api pages
  docs/create_api_docs.py
  docs/mkdocs.yml
Due: lint, static-analysis, docs

Change twitter.com to x.com
  docs/mkdocs.yml
  docs/overrides/home.html
Due: docs

Update check broken links domain
  .github/workflows/docs_check-broken-links.yaml
Due: none

Add empty change
  .github/workflows/docs_deploy.yaml
Due: none

Update path
  .github/workflows/docs_deploy.yaml
Due: none

Use mkdocs hooks to show correct edit url for public_api pages
  docs/create_api_docs.py
  docs/mkdocs.yml
Due: lint, static-analysis, docs

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
