Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/middlewares/exception/ignore_handler.md
Due: docs

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/schemas/partition/TopicKwargs.md
  docs/docs/en/release.md
Due: docs

Confluent subscriber get_one tests
  faststream/confluent/subscriber/usecase.py
  tests/brokers/confluent/test_consume.py
Due: lint, static-analysis

Redis subscriber get_one tests
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/usecase.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/confluent/test_consume.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/rabbit/test_consume.py
  tests/brokers/redis/test_consume.py
Due: lint, static-analysis

Fix Dependabot group names
  .github/dependabot.yml
Due: none

Fix Dependabot group names (#1737)
  .github/dependabot.yml
Due: none

fix: respect ignored exceptions (#1735)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/middlewares/exception/ignore_handler.md
  faststream/broker/middlewares/exception.py
  tests/brokers/base/middlewares.py
Due: lint, static-analysis, docs

downgrade fastapi
  pyproject.toml
Due: none

downgrade fastapi (#1739)
  pyproject.toml
Due: none

docs: fix FastAPI integration section
  docs/create_api_docs.py
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/schemas/partition/TopicKwargs.md
  docs/docs/en/getting-started/integrations/fastapi/index.md
  docs/docs_src/integrations/fastapi/confluent/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/kafka/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/nats/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/rabbit/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/redis/multiple_lifespan.py
  docs/includes/getting_started/integrations/fastapi/multiple_lifespan.md
  faststream/app.py
  tests/a_docs/integration/fastapi/test_multiple_lifespan.py
Due: lint, static-analysis, docs

docs: make annotation private
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/schemas/partition/TopicKwargs.md
  faststream/confluent/schemas/partition.py
Due: lint, static-analysis, docs

chore: update FastAPI
  pyproject.toml
Due: none

lint: fix precommit
  docs/docs/en/release.md
Due: docs

chore: use temp account to generate references
  .github/workflows/docs_update-references.yaml
Due: none

chore: trigger CI
  .github/workflows/pr_tests.yaml
Due: none

chore: trigger CI
  faststream/__about__.py
Due: lint, static-analysis

chore: trigger CI
  faststream/__about__.py
  faststream/__init__.py
Due: lint, static-analysis

chore: trigger CI
  faststream/__init__.py
Due: lint, static-analysis

chore: revert CI triggers
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_tests.yaml
  faststream/__init__.py
Due: lint, static-analysis

Update version to 0.5.20
  faststream/__about__.py
Due: lint, static-analysis

Update version to 0.5.20 (#1743)
  faststream/__about__.py
Due: lint, static-analysis

Update Release Notes for 0.5.20
  docs/docs/en/release.md
Due: docs

Update secrets baseline
  .secrets.baseline
Due: none

Nats core and JS get_one tests
  faststream/nats/subscriber/usecase.py
  tests/brokers/nats/test_consume.py
  tests/brokers/redis/test_consume.py
Due: lint, static-analysis

Cleanup release notes changelog
  .secrets.baseline
  docs/docs/en/release.md
Due: docs

Uninstall email-validator to generate docs for EmailStr
  .github/workflows/docs_deploy.yaml
Due: none

Fix uninstall command
  .github/workflows/docs_deploy.yaml
Due: none

Fix bug
  .github/workflows/docs_deploy.yaml
Due: none

Update release notes (#1745)
  .secrets.baseline
  docs/docs/en/release.md
Due: docs

Uninstall email-validator to generate docs page for EmailStr
  .github/workflows/docs_deploy.yaml
  docs/docs/en/api/faststream/asyncapi/schema/info/EmailStr.md
Due: docs

Nats PoolSubscriber get_one tests
  tests/brokers/nats/test_consume.py
Due: lint, static-analysis

Uninstall email-validator to generate docs page for EmailStr (#1746)
  .github/workflows/docs_deploy.yaml
  docs/docs/en/api/faststream/asyncapi/schema/info/EmailStr.md
Due: docs

feat (#1168): allow include regular router to FastAPI integration
  faststream/broker/fastapi/router.py
Due: lint, static-analysis

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
