Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

fix: correct confluent middlewares order
  faststream/confluent/broker/broker.py
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

tests: make order middlewares tests in-memory
  tests/brokers/base/middlewares.py
  tests/brokers/confluent/test_middlewares.py
  tests/brokers/kafka/test_middlewares.py
  tests/brokers/nats/test_middlewares.py
  tests/brokers/rabbit/test_middlewares.py
  tests/brokers/redis/test_middlewares.py
Due: lint, static-analysis

chore: pin typer version, bump FastStream
  faststream/__about__.py
  pyproject.toml
Due: lint, static-analysis

chore: pin typer version, bump FastStream (#1947)
  faststream/__about__.py
  pyproject.toml
Due: lint, static-analysis

Update Release Notes for 0.5.31
  docs/docs/en/release.md
Due: docs

Fix RabbitMQ AsyncAPI 3.0.0 binding version
  faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/channel.py
Due: lint, static-analysis

Fix tests
  faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/channel.py
  tests/asyncapi/rabbit/v3_0_0/test_arguments.py
  tests/asyncapi/rabbit/v3_0_0/test_connection.py
  tests/asyncapi/rabbit/v3_0_0/test_naming.py
  tests/asyncapi/rabbit/v3_0_0/test_publisher.py
  tests/asyncapi/rabbit/v3_0_0/test_router.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/en/api/faststream/kafka/subscriber/asyncapi/AsyncAPIConcurrentDefaultSubscriber.md
  docs/docs/en/release.md
  faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/channel.py
Due: lint, static-analysis, docs

Fix AsyncAPI 3.0.0 AMQP bindings (#1949)
  docs/docs/en/api/faststream/kafka/subscriber/asyncapi/AsyncAPIConcurrentDefaultSubscriber.md
  docs/docs/en/release.md
  faststream/specification/asyncapi/v3_0_0/schema/bindings/amqp/channel.py
  tests/asyncapi/rabbit/v3_0_0/test_arguments.py
  tests/asyncapi/rabbit/v3_0_0/test_connection.py
  tests/asyncapi/rabbit/v3_0_0/test_naming.py
  tests/asyncapi/rabbit/v3_0_0/test_publisher.py
  tests/asyncapi/rabbit/v3_0_0/test_router.py
Due: lint, static-analysis, docs

chore: update release-notes
  docs/docs/en/release.md
Due: docs

init
  faststream/confluent/broker/registrator.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/subscriber/asyncapi.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
Due: lint, static-analysis

Feat: add tests
  tests/brokers/confluent/test_consume.py
  tests/brokers/confluent/test_misconfigure.py
Due: lint, static-analysis

docs: use DeliverPolicy Enum for deliver_policy in subscriber
  docs/docs_src/nats/js/main.py
Due: lint, static-analysis, docs

docs: generate API References
  .secrets.baseline
Due: none

docs: use DeliverPolicy Enum for deliver_policy in subscriber (#1952)
  .secrets.baseline
  docs/docs_src/nats/js/main.py
Due: lint, static-analysis, docs

Fix: typo, lint
  faststream/confluent/broker/registrator.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/subscriber/usecase.py
  tests/brokers/confluent/test_consume.py
Due: lint, static-analysis

chore: remove useless
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/schemas/reply.py
Due: lint, static-analysis

fix #1959: propagate logger to Confluent
  faststream/__about__.py
  faststream/confluent/client.py
Due: lint, static-analysis

lint: fix mypy
  faststream/confluent/client.py
Due: lint, static-analysis

fix
  tests/brokers/confluent/test_consume.py
Due: lint, static-analysis

Fix: add consume one & max_workers to router
  faststream/confluent/router.py
  faststream/confluent/subscriber/usecase.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/subscriber/asyncapi/AsyncAPIConcurrentDefaultSubscriber.md
  docs/docs/en/api/faststream/confluent/subscriber/usecase/ConcurrentDefaultSubscriber.md
Due: docs

fix #1959: propagate logger to Confluent (#1960)
  faststream/__about__.py
  faststream/confluent/client.py
Due: lint, static-analysis

fix: Confluent, read messages under lock
  faststream/confluent/client.py
Due: lint, static-analysis

Fix: typing
  faststream/confluent/broker/registrator.py
  faststream/confluent/subscriber/factory.py
Due: lint, static-analysis

docs: generate API References
  faststream/confluent/broker/registrator.py
  faststream/confluent/subscriber/factory.py
Due: lint, static-analysis

lint: fix mypy
  faststream/broker/subscriber/mixins.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

Concurrent confluent kafka (#1961)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/subscriber/asyncapi/AsyncAPIConcurrentDefaultSubscriber.md
  docs/docs/en/api/faststream/confluent/subscriber/usecase/ConcurrentDefaultSubscriber.md
  faststream/broker/subscriber/mixins.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/router.py
  faststream/confluent/subscriber/asyncapi.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/usecase.py
  tests/brokers/confluent/test_consume.py
  tests/brokers/confluent/test_misconfigure.py
Due: lint, static-analysis, docs

lint: fix mypy a bit
  faststream/_internal/_compat.py
  faststream/_internal/cli/main.py
  faststream/_internal/fastapi/router.py
  faststream/_internal/proto.py
  faststream/_internal/publisher/proto.py
  faststream/_internal/publisher/specified.py
  faststream/_internal/publisher/usecase.py
  faststream/_internal/state/logger/logger_proxy.py
  faststream/_internal/subscriber/call_item.py
  faststream/_internal/subscriber/call_wrapper.py
  faststream/_internal/subscriber/call_wrapper/__init__.py
  faststream/_internal/subscriber/call_wrapper/proto.py
  faststream/_internal/subscriber/mixins.py
  faststream/_internal/subscriber/proto.py
  faststream/_internal/subscriber/specified.py
  faststream/_internal/subscriber/usecase.py
  faststream/_internal/subscriber/utils.py
  faststream/_internal/types.py
  faststream/_internal/utils/data.py
  faststream/_internal/utils/functions.py
  faststream/asgi/app.py
  faststream/confluent/client.py
  faststream/confluent/subscriber/usecase.py
  faststream/confluent/testing.py
  faststream/kafka/testing.py
  faststream/redis/subscriber/usecase.py
  faststream/specification/proto/endpoint.py
  tests/cli/test_run_asgi.py
Due: lint, static-analysis

fix: extend validation for --factory param
  faststream/cli/main.py
  faststream/cli/utils/imports.py
  tests/cli/conftest.py
  tests/cli/test_run.py
Due: lint, static-analysis

fix: convert test for style guide
  tests/cli/conftest.py
  tests/cli/test_run.py
Due: lint, static-analysis

fix: convert test for style guide
  tests/cli/test_run.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/en/release.md
Due: docs

fix: extend validation for --factory param (#1964)
  faststream/cli/main.py
  faststream/cli/utils/imports.py
  tests/cli/test_run.py
Due: lint, static-analysis

chore: remove useless code
  faststream/nats/subscriber/usecases/core_subscriber.py
  faststream/nats/subscriber/usecases/stream_pull_subscriber.py
  faststream/nats/subscriber/usecases/stream_push_subscriber.py
Due: lint, static-analysis

fix: support only uvicorn ASGI Runner
  faststream/asgi/app.py
  faststream/cli/main.py
  faststream/cli/supervisors/asgi_multiprocess.py
  tests/cli/test_run.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/asgi/app/cast_uvicorn_params.md
  docs/docs/en/api/faststream/cli/supervisors/asgi_multiprocess/ASGIMultiprocess.md
Due: docs

remove unused "type: ignore"
  faststream/asgi/app.py
Due: lint, static-analysis
