Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

docs: generate API
  docs/docs/SUMMARY.md
  faststream/kafka/broker/broker.py
  faststream/kafka/fastapi/fastapi.py
Due: lint, static-analysis, docs

docs: remove useless API
  docs/docs/en/api/faststream/confluent/client/MsgToSend.md
  docs/docs/en/api/faststream/confluent/client/TopicPartition.md
  serve.py
Due: lint, static-analysis, docs

chore: detail confluent tests
  .github/workflows/pr_tests.yaml
Due: none

Remove unneccessary TODO and reorder imports
  faststream/asyncapi/schema/__init__.py
  faststream/asyncapi/schema/schema.py
  faststream/asyncapi/schema/v2_6_0/operations.py
  faststream/asyncapi/schema/v2_6_0/schema.py
  faststream/asyncapi/schema/v3_0_0/channels.py
  faststream/asyncapi/schema/v3_0_0/schema.py
  faststream/cli/docs/app.py
  tests/asyncapi/base/v3_0_0/arguments.py
Due: lint, static-analysis

tests: refactor to use custom args, kwargs for subscriber
  tests/brokers/base/basic.py
  tests/brokers/base/consume.py
  tests/brokers/base/fastapi.py
  tests/brokers/base/middlewares.py
  tests/brokers/base/parser.py
  tests/brokers/base/publish.py
  tests/brokers/base/router.py
  tests/brokers/base/rpc.py
  tests/brokers/base/testclient.py
Due: lint, static-analysis

AsyncAPI schema generations functions splitted by AsyncAPI version
  faststream/asyncapi/generate.py
  faststream/asyncapi/schema/__init__.py
  faststream/asyncapi/v2_6_0/__init__.py
  faststream/asyncapi/v2_6_0/generate.py
  faststream/asyncapi/v3_0_0/__init__.py
  faststream/asyncapi/v3_0_0/generate.py
Due: lint, static-analysis

type checking only import fix
  faststream/asyncapi/proto.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/TopicPartition.md
  docs/docs/en/api/faststream/confluent/schemas/TopicPartition.md
  docs/docs/en/api/faststream/confluent/schemas/partition/TopicPartition.md
Due: docs

tests: fix asyncapi FastAPI
  tests/asyncapi/base/arguments.py
  tests/brokers/confluent/test_fastapi.py
Due: lint, static-analysis

chore: revert FastAPI changes
  faststream/broker/fastapi/router.py
  tests/asyncapi/base/arguments.py
Due: lint, static-analysis

tests: increase confluent tests timeouts
  docs/docs_src/getting_started/subscription/confluent/real_testing.py
  tests/docs/confluent/ack/test_errors.py
  tests/docs/getting_started/publishing/test_broker_context.py
Due: lint, static-analysis, docs

fix: fix Nats router subjects
  faststream/nats/subscriber/usecase.py
  tests/opentelemetry/basic.py
  tests/opentelemetry/confluent/test_confluent.py
Due: lint, static-analysis

lint: fix formating
  tests/opentelemetry/basic.py
  tests/opentelemetry/confluent/test_confluent.py
Due: lint, static-analysis

tests: increase confluent tests timeouts
  docs/docs_src/getting_started/subscription/confluent/real_testing.py
  faststream/nats/subscriber/usecase.py
  tests/docs/getting_started/publishing/test_broker_context.py
  tests/opentelemetry/kafka/test_kafka.py
Due: lint, static-analysis, docs

lint: run ruff
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

tests: remove explicit confluent address
  docs/docs_src/getting_started/publishing/confluent/broker_context.py
  tests/opentelemetry/basic.py
  tests/opentelemetry/confluent/test_confluent.py
  tests/opentelemetry/kafka/test_kafka.py
  tests/opentelemetry/nats/test_nats.py
  tests/opentelemetry/redis/test_redis.py
Due: lint, static-analysis, docs

AsyncAPI schema splitting by versions
  faststream/asyncapi/abc.py
  faststream/asyncapi/generate.py
  faststream/asyncapi/proto.py
  faststream/asyncapi/schema/__init__.py
  faststream/asyncapi/schema/servers.py
  faststream/asyncapi/v2_6_0/generate.py
  faststream/asyncapi/v2_6_0/schema/__init__.py
  faststream/asyncapi/v2_6_0/schema/channels.py
  faststream/asyncapi/v2_6_0/schema/components.py
  faststream/asyncapi/v2_6_0/schema/info.py
  faststream/asyncapi/v2_6_0/schema/operations.py
  faststream/asyncapi/v2_6_0/schema/schema.py
  faststream/asyncapi/v2_6_0/schema/servers.py
  faststream/asyncapi/v3_0_0/generate.py
  faststream/asyncapi/v3_0_0/schema/__init__.py
  faststream/asyncapi/v3_0_0/schema/channels.py
  faststream/asyncapi/v3_0_0/schema/components.py
  faststream/asyncapi/v3_0_0/schema/info.py
  faststream/asyncapi/v3_0_0/schema/operations.py
  faststream/asyncapi/v3_0_0/schema/schema.py
  faststream/asyncapi/v3_0_0/schema/servers.py
  faststream/cli/docs/app.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/subscriber/asyncapi.py
  faststream/kafka/publisher/asyncapi.py
  faststream/kafka/subscriber/asyncapi.py
  faststream/nats/publisher/asyncapi.py
  faststream/nats/subscriber/asyncapi.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/subscriber/asyncapi.py
  faststream/redis/publisher/asyncapi.py
  faststream/redis/subscriber/asyncapi.py
Due: lint, static-analysis

Update Release Notes for 0.5.16
  docs/docs/en/release.md
Due: docs

hotfix: correct NatsResponse processing in RPC case
  docs/docs/en/release.md
  faststream/__about__.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/exceptions.py
  faststream/nats/publisher/producer.py
  tests/brokers/nats/test_publish.py
  tests/brokers/rabbit/test_publish.py
  tests/brokers/redis/test_publish.py
Due: lint, static-analysis, docs

hotfix: correct NatsResponse processing in RPC case (#1654)
  docs/docs/en/release.md
  faststream/__about__.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/exceptions.py
  faststream/nats/publisher/producer.py
  tests/brokers/nats/test_publish.py
  tests/brokers/rabbit/test_publish.py
  tests/brokers/redis/test_publish.py
Due: lint, static-analysis, docs

Update Release Notes for 0.5.17
  docs/docs/en/release.md
Due: docs

Continue AsyncAPI schema splitting by version
  docs/docs_src/getting_started/asyncapi/asyncapi_customization/custom_info.py
  faststream/app.py
  faststream/asyncapi/schema/__init__.py
  faststream/asyncapi/schema/info.py
  faststream/asyncapi/schema/schema.py
  faststream/asyncapi/schema/servers.py
  faststream/asyncapi/v2_6_0/generate.py
  faststream/asyncapi/v2_6_0/schema/channels.py
  faststream/asyncapi/v2_6_0/schema/components.py
  faststream/asyncapi/v2_6_0/schema/info.py
  faststream/asyncapi/v2_6_0/schema/message.py
  faststream/asyncapi/v2_6_0/schema/operations.py
  faststream/asyncapi/v2_6_0/schema/schema.py
  faststream/asyncapi/v2_6_0/schema/security.py
  faststream/asyncapi/v2_6_0/schema/servers.py
  faststream/asyncapi/v2_6_0/schema/utils.py
  faststream/asyncapi/v3_0_0/generate.py
  faststream/asyncapi/v3_0_0/schema/channels.py
  faststream/asyncapi/v3_0_0/schema/components.py
  faststream/asyncapi/v3_0_0/schema/info.py
  faststream/asyncapi/v3_0_0/schema/operations.py
  faststream/asyncapi/v3_0_0/schema/servers.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/subscriber/asyncapi.py
  faststream/kafka/publisher/asyncapi.py
  faststream/kafka/subscriber/asyncapi.py
  faststream/nats/publisher/asyncapi.py
  faststream/nats/subscriber/asyncapi.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/subscriber/asyncapi.py
  faststream/redis/publisher/asyncapi.py
  faststream/redis/subscriber/asyncapi.py
  tests/asyncapi/kafka/v2_6_0/test_app.py
Due: lint, static-analysis, docs

Channel specification
  faststream/asyncapi/proto.py
  faststream/asyncapi/v2_6_0/schema/channels.py
  faststream/asyncapi/v3_0_0/generate.py
  faststream/asyncapi/v3_0_0/schema/channels.py
  faststream/broker/specification/__init__.py
  faststream/broker/specification/bindings/__init__.py
  faststream/broker/specification/bindings/amqp.py
  faststream/broker/specification/bindings/kafka.py
  faststream/broker/specification/bindings/main.py
  faststream/broker/specification/bindings/nats.py
  faststream/broker/specification/bindings/redis.py
  faststream/broker/specification/bindings/sqs.py
  faststream/broker/specification/channel.py
  faststream/broker/specification/docs.py
  faststream/broker/specification/message.py
  faststream/broker/specification/operation.py
  faststream/broker/specification/tag.py
Due: lint, static-analysis

Broker dependency from AsyncAPI 2.6.0 to internal specs representation
  faststream/asyncapi/abc.py
  faststream/asyncapi/proto.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/subscriber/asyncapi.py
  faststream/kafka/publisher/asyncapi.py
  faststream/kafka/subscriber/asyncapi.py
  faststream/nats/publisher/asyncapi.py
  faststream/nats/subscriber/asyncapi.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/subscriber/asyncapi.py
  faststream/redis/publisher/asyncapi.py
  faststream/redis/subscriber/asyncapi.py
Due: lint, static-analysis

Added additional parameters to HandlerException
  faststream/broker/acknowledgement_watcher.py
  faststream/exceptions.py
  tests/brokers/test_pushback.py
Due: lint, static-analysis

Added additional parameters to HandlerException
  faststream/exceptions.py
Due: lint, static-analysis

Fixed WatcherContext logic
  faststream/broker/acknowledgement_watcher.py
Due: lint, static-analysis

Added docstrings
  faststream/exceptions.py
Due: lint, static-analysis

Remove unused annotations
  faststream/exceptions.py
Due: lint, static-analysis

Removed unit test for broken WatcherContext logic
  tests/brokers/test_pushback.py
Due: lint, static-analysis

Added additional parameters to HandlerException (#1659)
  faststream/broker/acknowledgement_watcher.py
  faststream/exceptions.py
  tests/brokers/test_pushback.py
Due: lint, static-analysis

Add `__call__` method to `BaseMiddleware`
  faststream/broker/middlewares/base.py
Due: lint, static-analysis

removed Doc and added docstrings instead
  faststream/nats/publisher/usecase.py
  faststream/nats/schemas/kv_watch.py
  faststream/nats/schemas/obj_watch.py
  faststream/nats/schemas/pull_sub.py
Due: lint, static-analysis

fixed formating
  faststream/nats/publisher/usecase.py
  faststream/nats/schemas/kv_watch.py
  faststream/nats/schemas/obj_watch.py
  faststream/nats/schemas/pull_sub.py
Due: lint, static-analysis

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
