Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

chore: update dependencies
  .github/workflows/publish_coverage.yml
  pyproject.toml
Due: none

chore: update dependencies (#1535)
  .github/workflows/publish_coverage.yml
  pyproject.toml
Due: none

fix: correct publish_coverage CI
  .github/workflows/publish_coverage.yml
Due: none

fix (#1539): correct anyio.create_memory_object_stream annotation
  faststream/rabbit/publisher/producer.py
Due: lint, static-analysis

feat: enable spy_decorator to wrap both async and non-async methods
  tests/tools.py
Due: lint, static-analysis

docs: update CONTRIBUTING.md
  docs/docs/en/getting-started/contributing/CONTRIBUTING.md
Due: docs

feat: add NatsBroker.new_inbox()
  faststream/nats/broker/broker.py
  tests/brokers/nats/test_new_inbox.py
Due: lint, static-analysis

chore: linting
  tests/brokers/nats/test_test_client.py
  tests/tools.py
Due: lint, static-analysis

fix: raise error if new_inbox() is called before broker was started
  faststream/nats/broker/broker.py
Due: lint, static-analysis

refactor: use assert statement instead of raising an exception
  faststream/nats/broker/broker.py
Due: lint, static-analysis

fix (#1539): correct anyio.create_memory_object_stream annotation (#1541)
  faststream/rabbit/publisher/producer.py
Due: lint, static-analysis

fix: correct publish_coverage CI (#1536)
  .github/workflows/publish_coverage.yml
Due: none

docs: mention 'inbox_prefix' argument in docstring for 'new_inbox()'
  faststream/nats/broker/broker.py
Due: lint, static-analysis

Add NatsBroker.new_inbox() (#1543)
  docs/docs/en/getting-started/contributing/CONTRIBUTING.md
  faststream/nats/broker/broker.py
  tests/brokers/nats/test_new_inbox.py
  tests/brokers/nats/test_test_client.py
  tests/tools.py
Due: lint, static-analysis, docs

fix (#1544): correct Redis message nack & reject signature
  faststream/redis/message.py
Due: lint, static-analysis

docs: generate API References
  CONTRIBUTING.md
Due: none

chore: trigger CI
  pyproject.toml
Due: none

fix (#1544): correct Redis message nack & reject signature (#1546)
  CONTRIBUTING.md
  faststream/redis/message.py
  pyproject.toml
Due: lint, static-analysis

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

chore: bump version (#1547)
  faststream/__about__.py
Due: lint, static-analysis

Update Release Notes for 0.5.13
  docs/docs/en/release.md
Due: docs

feat(multiprocess): restart child processes if they are not alive
  faststream/cli/supervisors/multiprocess.py
Due: lint, static-analysis

Add allow_auto_create_topics param to make automatic topic creation configurable
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/schemas/params.py
Due: lint, static-analysis

Call blocking functions using run_in_executor
  faststream/confluent/client.py
Due: lint, static-analysis

Increment version
  faststream/__about__.py
Due: lint, static-analysis

Add allow_auto_create_topics to make automatic topic creation configurable (#1556)
  faststream/__about__.py
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/schemas/params.py
Due: lint, static-analysis

Update Release Notes for 0.5.14
  docs/docs/en/release.md
Due: docs

added oauthbearer support
  faststream/confluent/security.py
  faststream/security.py
Due: lint, static-analysis

fix: remove Kafka ssl warning
  docs/docs_src/confluent/security/ssl_warning.py
  docs/docs_src/kafka/security/ssl_warning.py
  faststream/broker/acknowledgement_watcher.py
  faststream/broker/middlewares/logging.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/security.py
  faststream/kafka/security.py
  faststream/security.py
  faststream/testing/broker.py
Due: lint, static-analysis, docs

fix (#1574): use typing_extensions.TypedDict
  faststream/confluent/config.py
Due: lint, static-analysis

chore: bump dependencies
  .github/ISSUE_TEMPLATE/config.yaml
  .github/dependabot.yaml
  .github/workflows/pr_codeql.yaml
  .github/workflows/publish_coverage.yaml
  .github/workflows/release_pypi.yaml
  pyproject.toml
Due: none

lint: fix ruff and mypy
  faststream/broker/subscriber/proto.py
  faststream/broker/subscriber/usecase.py
  faststream/kafka/security.py
  tests/docs/getting_started/lifespan/test_ml.py
  tests/docs/getting_started/lifespan/test_ml_context.py
  tests/docs/kafka/test_security.py
Due: lint, static-analysis

refactor: should_restart in Multiprocess
  faststream/cli/supervisors/multiprocess.py
Due: lint, static-analysis

feat(multiprocess): restart child processes if they are not alive (#1550)
  faststream/cli/supervisors/multiprocess.py
Due: lint, static-analysis

chore: update aiokafka
  faststream/kafka/broker/broker.py
  faststream/kafka/fastapi/fastapi.py
  pyproject.toml
Due: lint, static-analysis

chore: fix CI
  faststream/broker/subscriber/usecase.py
  tests/brokers/confluent/test_security.py
Due: lint, static-analysis

docs: update NoCast docstring
  faststream/utils/no_cast.py
Due: lint, static-analysis

docs: remove ssl warning notice
  docs/docs/en/confluent/security.md
  docs/docs/en/kafka/security.md
Due: docs

fix: correct Redis TestClient starting
  faststream/redis/subscriber/usecase.py
  faststream/redis/testing.py
  tests/brokers/base/consume.py
Due: lint, static-analysis

chore: add ready_for_review to CI
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_codeql.yaml
  .github/workflows/pr_dependency-review.yaml
  .github/workflows/pr_tests.yaml
Due: none
