Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

**kwargs in get_broker mtehod
  tests/prometheus/confluent/test_confluent.py
  tests/prometheus/kafka/test_kafka.py
  tests/prometheus/nats/test_nats.py
  tests/prometheus/rabbit/test_rabbit.py
  tests/prometheus/redis/test_redis.py
Due: lint, static-analysis

readable params in tests
  tests/prometheus/basic.py
  tests/prometheus/test_metrics.py
Due: lint, static-analysis

simplified annotation
  faststream/confluent/prometheus/middleware.py
  faststream/kafka/prometheus/middleware.py
  faststream/nats/prometheus/middleware.py
  faststream/prometheus/container.py
  faststream/prometheus/middleware.py
  faststream/rabbit/prometheus/middleware.py
  faststream/redis/prometheus/middleware.py
Due: lint, static-analysis

refactor: split publish to private
  faststream/_internal/publisher/fake.py
  faststream/_internal/publisher/proto.py
  faststream/_internal/subscriber/usecase.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis

Feat: change pattern, need fix tests
  faststream/redis/schemas/pub_sub.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/redis/test_consume.py
Due: lint, static-analysis

refactor: use CMD to call publisher
  faststream/_internal/broker/broker.py
  faststream/_internal/publisher/proto.py
  faststream/_internal/subscriber/usecase.py
  faststream/confluent/annotations.py
  faststream/kafka/annotations.py
  faststream/middlewares/base.py
  faststream/nats/annotations.py
  faststream/nats/broker/broker.py
  faststream/nats/publisher/producer.py
  faststream/nats/publisher/usecase.py
  faststream/nats/response.py
  faststream/rabbit/annotations.py
  faststream/redis/annotations.py
  faststream/response/response.py
Due: lint, static-analysis

fix: add missing pre-commit changes
  docs/docs/en/howto/nats/dynaconf.md
  docs/docs/en/howto/nats/index.md
Due: docs

refactor: add an ability to check RPC response
  faststream/nats/response.py
  faststream/response/response.py
Due: lint, static-analysis

refactor: use PublishType
  faststream/nats/broker/broker.py
  faststream/nats/publisher/usecase.py
  faststream/nats/response.py
  faststream/response/publish_type.py
  faststream/response/response.py
Due: lint, static-analysis

refactor: new NatsFakePublisher
  faststream/_internal/publisher/proto.py
  faststream/nats/publisher/fake.py
  faststream/nats/publisher/usecase.py
  faststream/nats/response.py
  faststream/nats/subscriber/usecase.py
Due: lint, static-analysis

add aiogram example
  docs/docs/en/getting-started/integrations/frameworks/index.md
  docs/docs_src/integrations/no_http_frameworks_integrations/__init__.py
  docs/docs_src/integrations/no_http_frameworks_integrations/aiogram.py
  docs/includes/getting_started/integrations/http/1.md
Due: lint, static-analysis, docs

refactor: use PublishCmd in request
  faststream/_internal/broker/broker.py
  faststream/_internal/publisher/proto.py
  faststream/nats/broker/broker.py
  faststream/nats/publisher/producer.py
  faststream/nats/publisher/usecase.py
Due: lint, static-analysis

add highlighting lines
  docs/includes/getting_started/integrations/http/1.md
Due: docs

add types-aiofiles in types optional dependencies
  pyproject.toml
Due: none

run pre-commit
  docs/docs/en/public_api
  docs/docs_src/integrations/no_http_frameworks_integrations/aiogram.py
Due: lint, static-analysis, docs

fix: correct publisher.publish
  faststream/_internal/publisher/proto.py
  faststream/_internal/types.py
  faststream/middlewares/base.py
  faststream/nats/publisher/usecase.py
  faststream/nats/response.py
Due: lint, static-analysis

add aiogram example (#1858)
  docs/docs/en/getting-started/integrations/frameworks/index.md
  docs/docs/en/public_api
  docs/docs_src/integrations/no_http_frameworks_integrations/__init__.py
  docs/docs_src/integrations/no_http_frameworks_integrations/aiogram.py
  docs/includes/getting_started/integrations/http/1.md
  pyproject.toml
Due: lint, static-analysis, docs

fix: correct Nats JS request
  faststream/nats/publisher/producer.py
  faststream/nats/testing.py
  faststream/response/__init__.py
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

lint: polish annotations
  faststream/_internal/publisher/proto.py
  faststream/nats/publisher/producer.py
Due: lint, static-analysis

Add in-progress tutorial to how-to section
  docs/docs/SUMMARY.md
  docs/docs/en/howto/nats/in-progress.md
  docs/docs/navigation_template.txt
Due: docs

docs: fix public api directory
  docs/docs/en/public_api
Due: docs

EMPTY as metrics_prefix default value
  faststream/confluent/prometheus/middleware.py
  faststream/kafka/prometheus/middleware.py
  faststream/nats/prometheus/middleware.py
  faststream/rabbit/prometheus/middleware.py
  faststream/redis/prometheus/middleware.py
Due: lint, static-analysis

fixed test_observe_received_messages_size
  tests/prometheus/test_metrics.py
Due: lint, static-analysis

apply_types=False as default in get_broker
  tests/prometheus/basic.py
  tests/prometheus/confluent/test_confluent.py
  tests/prometheus/kafka/test_kafka.py
  tests/prometheus/nats/test_nats.py
  tests/prometheus/rabbit/test_rabbit.py
  tests/prometheus/redis/test_redis.py
Due: lint, static-analysis

external links in prometheus/index.md
  docs/docs/en/getting-started/prometheus/index.md
Due: docs

fixed doc
  docs/docs/en/getting-started/prometheus/index.md
Due: docs

fixed params naming
  tests/prometheus/basic.py
  tests/prometheus/test_metrics.py
Due: lint, static-analysis

fix: revert acknowledgement changes
  faststream/broker/acknowledgement_watcher.py
  faststream/broker/message.py
  faststream/confluent/message.py
  faststream/kafka/message.py
  faststream/nats/message.py
  faststream/redis/message.py
Due: lint, static-analysis

lint: fix precommit
  faststream/broker/acknowledgement_watcher.py
Due: lint, static-analysis

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

docs: fix public api directory (#1861)
  docs/docs/en/public_api
Due: docs

app_name EMPTY is default
  faststream/confluent/prometheus/middleware.py
  faststream/kafka/prometheus/middleware.py
  faststream/nats/prometheus/middleware.py
  faststream/prometheus/middleware.py
  faststream/rabbit/prometheus/middleware.py
  faststream/redis/prometheus/middleware.py
Due: lint, static-analysis

Refactor AsyncAPI 2.6.0 amqp OperationBinding
  faststream/rabbit/publisher/publisher.py
  faststream/rabbit/subscriber/subscriber.py
  faststream/specification/asyncapi/v2_6_0/schema/bindings/amqp/operation.py
  faststream/specification/schema/bindings/amqp.py
Due: lint, static-analysis

Internal AMQP OperationBinding delivery_mode refactoring to persist
  faststream/rabbit/publisher/publisher.py
  faststream/rabbit/subscriber/subscriber.py
  faststream/specification/asyncapi/v2_6_0/schema/bindings/amqp/operation.py
  faststream/specification/schema/bindings/amqp.py
Due: lint, static-analysis

Add queue and exchange to AMQP OperationBinding
  faststream/rabbit/publisher/publisher.py
  faststream/rabbit/subscriber/subscriber.py
  faststream/specification/schema/bindings/amqp.py
Due: lint, static-analysis

Update pre-commit config
  .pre-commit-config.yaml
Due: none
