Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/lint-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

Bringed back io import
  faststream/asyncapi/schema/main.py
Due: lint, static-analysis

Brought back warnings
  faststream/cli/docs/app.py
  faststream/cli/main.py
Due: lint, static-analysis

Some changes
  faststream/asyncapi/schema/main.py
Due: lint, static-analysis

ImportError raises change (#2080)
  faststream/asgi/app.py
  faststream/asyncapi/schema/main.py
  faststream/cli/supervisors/asgi_multiprocess.py
Due: lint, static-analysis

Fix distributed spelling error in docs
  docs/docs/en/scheduling.md
Due: docs

Update documentation grammar
  docs/docs/en/scheduling.md
Due: docs

feat: use msgpack instead of json to handle non utf-8 bytes in RawMessage
  faststream/redis/parser.py
  pyproject.toml
  tests/brokers/redis/test_parser.py
  tests/brokers/redis/test_requests.py
Due: lint, static-analysis

docs: Fix distributed spelling error in task scheduling page (#2081)
  docs/docs/en/scheduling.md
Due: docs

feat: use binary format for redis RawMessage
  faststream/redis/parser.py
  tests/brokers/redis/test_parser.py
  tests/brokers/redis/test_requests.py
Due: lint, static-analysis

fix: exclude confluent_kafka 2.8.1
  pyproject.toml
Due: none

feat: add more tests for RawMessage
  tests/brokers/redis/test_parser.py
Due: lint, static-analysis

fix: exclude confluent_kafka 2.8.1
  faststream/__about__.py
  pyproject.toml
Due: lint, static-analysis

fix: exclude confluent_kafka 2.8.1 (#2084)
  faststream/__about__.py
  pyproject.toml
Due: lint, static-analysis

Update Release Notes for 0.5.35
  docs/docs/en/release.md
Due: docs

chore: make release docs manual
  .github/workflows/docs_deploy.yaml
Due: none

Add delay to unassigned consumer warning
  docs/docs/en/kafka/Subscriber/index.md
  faststream/kafka/listener.py
  tests/brokers/kafka/test_consume.py
Due: lint, static-analysis, docs

fix: unwrap handler function when getting dependant
  faststream/broker/fastapi/get_dependant.py
Due: lint, static-analysis

fix #2088: respect parsed sasl_mechanism
  faststream/confluent/client.py
Due: lint, static-analysis

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

refactor: make security options merging easier
  faststream/confluent/client.py
  faststream/confluent/security.py
Due: lint, static-analysis

tests: fix tests
  tests/a_docs/confluent/test_security.py
Due: lint, static-analysis

lint: fix mypy
  faststream/confluent/client.py
  faststream/confluent/schemas/params.py
Due: lint, static-analysis

docs: generate API References
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/schemas/params/SecurityOptions.md
Due: docs

lint: fix ruff
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/schemas/params/SecurityOptions.md
  faststream/confluent/client.py
Due: lint, static-analysis, docs

Add immediate unassigned consumer warning and shorten delayed warnings delay
  faststream/kafka/listener.py
  tests/brokers/kafka/test_consume.py
Due: lint, static-analysis

fix #2088: respect parsed sasl_mechanism (#2092)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/schemas/params/SecurityOptions.md
  faststream/__about__.py
  faststream/confluent/client.py
  faststream/confluent/schemas/params.py
  faststream/confluent/security.py
  tests/a_docs/confluent/test_security.py
Due: lint, static-analysis, docs

feat: add tests with __future__ annotations
  tests/brokers/base/future/__init__.py
  tests/brokers/confluent/future/__init__.py
  tests/brokers/confluent/future/test_fastapi.py
  tests/brokers/kafka/future/__init__.py
  tests/brokers/kafka/future/test_fastapi.py
  tests/brokers/nats/future/__init__.py
  tests/brokers/nats/future/test_fastapi.py
  tests/brokers/rabbit/future/__init__.py
  tests/brokers/rabbit/future/test_fastapi.py
  tests/brokers/redis/future/__init__.py
  tests/brokers/redis/future/test_fastapi.py
Due: lint, static-analysis

fix: better structure + marks
  pyproject.toml
  tests/brokers/base/future/__init__.py
  tests/brokers/base/future/fastapi.py
  tests/brokers/confluent/future/test_fastapi.py
  tests/brokers/kafka/future/test_fastapi.py
  tests/brokers/nats/future/test_fastapi.py
  tests/brokers/rabbit/future/test_fastapi.py
  tests/brokers/redis/future/test_fastapi.py
Due: lint, static-analysis

fix: import path
  tests/brokers/confluent/future/test_fastapi.py
  tests/brokers/kafka/future/test_fastapi.py
  tests/brokers/nats/future/test_fastapi.py
  tests/brokers/rabbit/future/test_fastapi.py
  tests/brokers/redis/future/test_fastapi.py
Due: lint, static-analysis

fix: revert pyproject.toml
  pyproject.toml
Due: none

docs: generate API References
  tests/brokers/base/future/__init__.py
Due: lint, static-analysis

fix: eof
  tests/brokers/base/future/__init__.py
Due: lint, static-analysis

fix: use confluent base tests case class
  tests/brokers/confluent/future/test_fastapi.py
Due: lint, static-analysis

Add delay to unassigned consumer warning (#2090)
  docs/docs/en/kafka/Subscriber/index.md
  faststream/kafka/listener.py
  tests/brokers/kafka/test_consume.py
Due: lint, static-analysis, docs

fake commit
  README.md
Due: none

Update get_dependant.py
  faststream/broker/fastapi/get_dependant.py
Due: lint, static-analysis

fix: resolve forward refs in FastAPI integration
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/fastapi/get_dependant/is_faststream_decorated.md
  docs/docs/en/api/faststream/broker/fastapi/get_dependant/mark_faststream_decorated.md
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/fastapi/route.py
Due: lint, static-analysis, docs

fix: resolve forward refs in FastAPI integration (#2096)
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/fastapi/get_dependant/is_faststream_decorated.md
  docs/docs/en/api/faststream/broker/fastapi/get_dependant/mark_faststream_decorated.md
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/fastapi/route.py
Due: lint, static-analysis, docs

fix: unwrap handler function when getting dependant (#2093)
  tests/brokers/base/future/__init__.py
  tests/brokers/base/future/fastapi.py
  tests/brokers/confluent/future/__init__.py
  tests/brokers/confluent/future/test_fastapi.py
  tests/brokers/kafka/future/__init__.py
  tests/brokers/kafka/future/test_fastapi.py
  tests/brokers/nats/future/__init__.py
  tests/brokers/nats/future/test_fastapi.py
  tests/brokers/rabbit/future/__init__.py
  tests/brokers/rabbit/future/test_fastapi.py
  tests/brokers/redis/future/__init__.py
  tests/brokers/redis/future/test_fastapi.py
Due: lint, static-analysis

chore: added __init__ to docs
  docs/__init__.py
Due: lint, static-analysis, docs

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
