Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: |
            (?x)^(
                docs/docs/SUMMARY.md|
                .faststream_gen/rabbit/ack.md|
                docs/docs/en/api/.meta.yml
            )$
    -   id: check-yaml
        exclude: 'docs/mkdocs.yml'
    -   id: check-added-large-files

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespell-whitelist.txt]
        exclude: |
            (?x)^(
                docs/overrides/home.html
            )$

-   repo: local
    hooks:
    -   id: lint
        name: Linter
        entry: "scripts/lint-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: static-analysis
        name: Static analysis
        entry: "scripts/static-pre-commit.sh"
        language: python
        language_version: python3.8
        types: [python]
        require_serial: true
        verbose: true

-   repo: local
    hooks:
    -   id: docs
        name: Build docs
        entry: "scripts/build-docs-pre-commit.sh"
        language: python
        language_version: python3.10
        files: ^docs
        require_serial: true
        verbose: true

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

docs: update rpc examples
  docs/docs/en/nats/rpc.md
  docs/docs/en/rabbit/rpc.md
  docs/docs/en/redis/rpc.md
  docs/docs_src/redis/rpc/app.py
  examples/e05_rpc_request.py
  examples/nats/e02_basic_rpc.py
  examples/redis/rpc.py
Due: lint, static-analysis, docs

chore: deprecate message.decoded_body
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/testing/broker/call_handler.md
  docs/docs/en/rabbit/ack.md
  docs/docs_src/redis/rpc/app.py
  examples/e05_rpc_request.py
  examples/e10_middlewares.py
  examples/nats/e02_basic_rpc.py
  examples/redis/rpc.py
  faststream/broker/fastapi/route.py
  faststream/broker/message.py
  faststream/broker/subscriber/call_item.py
  faststream/broker/wrapper/call.py
  faststream/confluent/testing.py
  faststream/kafka/testing.py
  faststream/nats/publisher/producer.py
  faststream/nats/testing.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/testing.py
  faststream/redis/opentelemetry/provider.py
  faststream/redis/publisher/producer.py
  faststream/redis/testing.py
  faststream/testing/broker.py
  tests/brokers/base/middlewares.py
  tests/brokers/base/requests.py
  tests/brokers/nats/test_requests.py
Due: lint, static-analysis, docs

refactor: FastAPI 0.5.0 compatibility
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/fastapi/route/build_faststream_to_fastapi_parser.md
  docs/docs/en/api/faststream/broker/fastapi/route/wrap_callable_to_fastapi_compatible.md
  faststream/broker/fastapi/__init__.py
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  faststream/broker/message.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/fastapi/fastapi.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/message.py
  faststream/nats/fastapi/fastapi.py
  faststream/rabbit/fastapi/router.py
  faststream/redis/fastapi/fastapi.py
  tests/brokers/base/fastapi.py
Due: lint, static-analysis, docs

docs: remove useless API
  docs/docs/en/api/faststream/broker/fastapi/StreamRoute.md
  docs/docs/en/api/faststream/broker/fastapi/route/StreamRoute.md
Due: docs

refactor: correct Consumer Protocol
  faststream/kafka/message.py
Due: lint, static-analysis

fix: correct Confluent FakeConsumer
  faststream/broker/publisher/fake.py
  faststream/confluent/message.py
Due: lint, static-analysis

docs: add Kafka HowTo section
  docs/docs/SUMMARY.md
  docs/docs/en/howto/kafka/index.md
  docs/docs/en/howto/kafka/rpc.md
  docs/docs/navigation_template.txt
Due: docs

Added support for JSON serialization and deserialization by other libraries
  faststream/_compat.py
Due: lint, static-analysis

Add missing seek in confluent FakeConsumer
  faststream/confluent/message.py
  tests/brokers/confluent/test_test_client.py
Due: lint, static-analysis

Removed msgspec
  faststream/_compat.py
Due: lint, static-analysis

replace pip with uv in CI
  .github/workflows/docs_deploy.yaml
  .github/workflows/docs_update-references.yaml
  .github/workflows/docs_update-release-notes.yaml
  .github/workflows/pr_tests.yaml
  .github/workflows/publish_coverage.yaml
Due: none

remove useless -set ux and pip cache
  .github/workflows/docs_deploy.yaml
  .github/workflows/docs_update-release-notes.yaml
  .github/workflows/pr_tests.yaml
Due: none

change cache path to fix uv not in cache
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_tests.yaml
  .github/workflows/publish_coverage.yaml
Due: none

test speed with cache
  .github/workflows/pr_tests.yaml
Due: none

fixed some typos
  .github/workflows/docs_deploy.yaml
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_tests.yaml
Due: none

replace pip with uv in CI (#1688)
  .github/workflows/docs_deploy.yaml
  .github/workflows/docs_update-references.yaml
  .github/workflows/docs_update-release-notes.yaml
  .github/workflows/pr_tests.yaml
  .github/workflows/publish_coverage.yaml
Due: none

Added support for JSON serialization and deserialization by other libraries (#1687)
  faststream/_compat.py
Due: lint, static-analysis

Fix nack for batch consumers in kafka and confluent brokers
  faststream/confluent/message.py
  faststream/kafka/message.py
Due: lint, static-analysis

Remove unused ignores
  faststream/_compat.py
  faststream/asyncapi/message.py
  faststream/asyncapi/schema/info.py
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  faststream/broker/publisher/usecase.py
  faststream/broker/utils.py
  faststream/cli/main.py
  faststream/cli/supervisors/watchfiles.py
  faststream/confluent/client.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/schemas/partition.py
  faststream/confluent/subscriber/usecase.py
  faststream/confluent/testing.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/testing.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/subscriber/asyncapi.py
  faststream/rabbit/testing.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/publisher/usecase.py
  faststream/redis/subscriber/usecase.py
  faststream/redis/testing.py
  faststream/testing/broker.py
Due: lint, static-analysis

Add misc ignore comments and remove cast
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  faststream/cli/supervisors/watchfiles.py
Due: lint, static-analysis

Revert cast change
  faststream/broker/fastapi/router.py
Due: lint, static-analysis

Fix batch nack (#1689)
  faststream/confluent/message.py
  faststream/kafka/message.py
  tests/brokers/confluent/test_test_client.py
Due: lint, static-analysis

Remove unused ignores (#1690)
  faststream/_compat.py
  faststream/asyncapi/message.py
  faststream/asyncapi/schema/info.py
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  faststream/broker/publisher/usecase.py
  faststream/broker/utils.py
  faststream/cli/main.py
  faststream/confluent/client.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/schemas/partition.py
  faststream/confluent/subscriber/usecase.py
  faststream/confluent/testing.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/testing.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/subscriber/asyncapi.py
  faststream/rabbit/testing.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/publisher/usecase.py
  faststream/redis/subscriber/usecase.py
  faststream/redis/testing.py
  faststream/testing/broker.py
Due: lint, static-analysis

Ignore override
  faststream/rabbit/testing.py
Due: lint, static-analysis

Proofread docs
  docs/docs/en/rabbit/ack.md
  docs/docs/en/redis/rpc.md
Due: docs

Remove unused ignores
  faststream/broker/fastapi/router.py
  faststream/confluent/message.py
  faststream/nats/publisher/usecase.py
  faststream/redis/publisher/usecase.py
Due: lint, static-analysis

Add ignore redundant-cast
  faststream/broker/fastapi/router.py
Due: lint, static-analysis

Proofread docs
  docs/docs/en/howto/kafka/index.md
  docs/docs/en/howto/kafka/rpc.md
Due: docs

docs: add Kafka HowTo section (#1686)
  docs/docs/SUMMARY.md
  docs/docs/en/howto/kafka/index.md
  docs/docs/en/howto/kafka/rpc.md
  docs/docs/navigation_template.txt
Due: docs

feat: add custom baggage
  faststream/opentelemetry/__init__.py
  faststream/opentelemetry/annotations.py
  faststream/opentelemetry/baggage.py
  faststream/opentelemetry/middleware.py
  tests/opentelemetry/basic.py
Due: lint, static-analysis

feat: add current span in faststream context
  faststream/opentelemetry/__init__.py
  faststream/opentelemetry/annotations.py
  faststream/opentelemetry/middleware.py
  tests/opentelemetry/basic.py
Due: lint, static-analysis

test: add baggage test
  tests/opentelemetry/basic.py
Due: lint, static-analysis

Fix: use existed methods for work with brokers
  faststream/confluent/testing.py
  faststream/kafka/testing.py
  faststream/nats/testing.py
  faststream/rabbit/testing.py
  faststream/redis/testing.py
Due: lint, static-analysis

fix clear code
  faststream/confluent/testing.py
Due: lint, static-analysis

lint
  faststream/nats/testing.py
  faststream/rabbit/testing.py
  faststream/redis/testing.py
Due: lint, static-analysis

Better search for exception + pass message to error handler
  faststream/broker/middlewares/exception.py
Due: lint, static-analysis

Set warn_unused_ignores mypy config to true
  pyproject.toml
Due: none

Add missed out group_instance_id as subscriber and router parameter
  faststream/confluent/broker/registrator.py
  faststream/confluent/client.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/router.py
Due: lint, static-analysis

Add missed out group_instance_id as subscriber and router parameter (#1695)
  faststream/confluent/broker/registrator.py
  faststream/confluent/client.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/router.py
Due: lint, static-analysis
