Repository airtai/faststream: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.10
  require_serial: true
  verbose: true

mypy fixes
  .github/workflows/test.yaml
  faststream/asyncapi/generate.py
  faststream/types.py
  pyproject.toml
  scripts/static-analysis.sh
Due: lint, static-analysis

lint: fix confluent types
  faststream/confluent/broker/registrator.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/subscriber/asyncapi.py
  faststream/confluent/subscriber/usecase.py
  faststream/confluent/testing.py
Due: lint, static-analysis

lint: fix redis mypy
  faststream/asyncapi/generate.py
  faststream/kafka/broker/registrator.py
  faststream/redis/broker/logging.py
  faststream/redis/broker/registrator.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/parser.py
  faststream/redis/publisher/asyncapi.py
  faststream/redis/publisher/producer.py
  faststream/redis/publisher/usecase.py
  faststream/redis/router.py
  faststream/redis/subscriber/asyncapi.py
  faststream/redis/subscriber/usecase.py
Due: lint, static-analysis

lint: fix faststream mypy
  faststream/_compat.py
  faststream/app.py
  faststream/asyncapi/site.py
  faststream/broker/acknowledgement_watcher.py
  faststream/broker/core/usecase.py
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  faststream/broker/middlewares/logging.py
  faststream/broker/utils.py
  faststream/broker/wrapper/call.py
  faststream/broker/wrapper/proto.py
  faststream/cli/docs/app.py
  faststream/rabbit/publisher/producer.py
  faststream/redis/parser.py
  faststream/redis/subscriber/usecase.py
  faststream/testing/broker.py
Due: lint, static-analysis

fix: correct TestClient middlewares recovery
  faststream/testing/broker.py
Due: lint, static-analysis

fix: correct NATS parser
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  faststream/broker/message.py
  faststream/confluent/message.py
  faststream/kafka/message.py
  faststream/nats/message.py
  faststream/nats/parser.py
  faststream/rabbit/message.py
  faststream/redis/message.py
  faststream/redis/parser.py
  serve.py
Due: lint, static-analysis

chore: fix CI mypy
  .github/workflows/test.yaml
  faststream/broker/fastapi/route.py
  faststream/broker/fastapi/router.py
  pyproject.toml
Due: lint, static-analysis

docs: update API
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/redis/message/UnifyRedisDict.md
  docs/docs/en/api/faststream/redis/message/UnifyRedisMessage.md
  faststream/__about__.py
Due: lint, static-analysis, docs

feat: add _call_decorators option to brokers' init
  faststream/broker/core/usecase.py
  faststream/broker/subscriber/call_item.py
  faststream/broker/subscriber/proto.py
  faststream/broker/subscriber/usecase.py
  faststream/broker/wrapper/call.py
  faststream/confluent/broker/broker.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/broker/broker.py
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/broker/broker.py
  faststream/redis/subscriber/usecase.py
  faststream/types.py
  serve.py
Due: lint, static-analysis

feat: new subscriber middlewares logic
  examples/e10_middlewares.py
  faststream/broker/middlewares/base.py
  faststream/broker/middlewares/logging.py
  faststream/broker/subscriber/call_item.py
  faststream/broker/subscriber/proto.py
  faststream/broker/subscriber/usecase.py
  faststream/broker/types.py
  faststream/broker/wrapper/proto.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/router.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/router.py
  faststream/nats/broker/registrator.py
  faststream/nats/fastapi/fastapi.py
  faststream/nats/router.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/router.py
  faststream/redis/broker/registrator.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/router.py
  faststream/types.py
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

feat: new publisher middlewares logic
  faststream/__about__.py
  faststream/broker/core/usecase.py
  faststream/broker/middlewares/base.py
  faststream/broker/publisher/fake.py
  faststream/broker/subscriber/call_item.py
  faststream/broker/types.py
  faststream/confluent/broker/broker.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/broker/broker.py
  faststream/redis/publisher/usecase.py
  faststream/types.py
  tests/brokers/base/middlewares.py
Due: lint, static-analysis

chore: update dependencies
  pyproject.toml
Due: none

chore: update dependencies (#1358)
  pyproject.toml
Due: none

Update Release Notes for 0.5.0rc2
  docs/docs/en/release.md
Due: docs

Add symlink for public_api directory from api directory
  docs/create_api_docs.py
  docs/docs/SUMMARY.md
  docs/docs/en/public_api
Due: lint, static-analysis, docs

fix: do not block at application startup
  examples/serialization/msgpack/pack.py
  faststream/app.py
Due: lint, static-analysis

Export pubic API only from certain init files
  docs/create_api_docs.py
  docs/docs/SUMMARY.md
Due: lint, static-analysis, docs

docs: new middlewares
  docs/docs/en/getting-started/middlewares/index.md
  faststream/nats/parser.py
Due: lint, static-analysis, docs

fix: correct ExceptionGroup processing
  faststream/app.py
Due: lint, static-analysis

fix (#1364): explicit cast all Paths to str
  faststream/cli/supervisors/watchfiles.py
Due: lint, static-analysis

Include only __all__ imports in public API
  docs/create_api_docs.py
  docs/docs/SUMMARY.md
Due: lint, static-analysis, docs

fix: correct Acknowledgement logic
  faststream/broker/acknowledgement_watcher.py
  faststream/broker/middlewares/logging.py
Due: lint, static-analysis

fix: correct Acknowledgement logic
  faststream/broker/acknowledgement_watcher.py
Due: lint, static-analysis

lint: fix mypy
  faststream/broker/middlewares/logging.py
Due: lint, static-analysis

Proofread docs
  docs/docs/en/getting-started/middlewares/index.md
  docs/includes/getting_started/routers/2.md
Due: docs

Docs/0.5.0 features (#1360)
  docs/create_api_docs.py
  docs/docs/SUMMARY.md
  docs/docs/en/getting-started/middlewares/index.md
  docs/docs/en/public_api
  docs/docs/navigation_template.txt
  docs/docs_src/getting_started/routers/confluent/delay_equal.py
  docs/docs_src/getting_started/routers/kafka/delay_equal.py
  docs/docs_src/getting_started/routers/kafka/router_delay.py
  docs/docs_src/getting_started/routers/nats/delay_equal.py
  docs/docs_src/getting_started/routers/rabbit/delay_equal.py
  docs/docs_src/getting_started/routers/redis/delay_equal.py
  docs/includes/getting_started/routers/2.md
  docs/mkdocs.yml
  examples/serialization/msgpack/pack.py
  faststream/app.py
  faststream/broker/acknowledgement_watcher.py
  faststream/broker/middlewares/logging.py
  faststream/cli/supervisors/watchfiles.py
  faststream/nats/parser.py
  pyproject.toml
  tests/docs/getting_started/routers/test_delay_equal.py
Due: lint, static-analysis, docs

Update Release Notes for 0.5.0
  docs/docs/en/release.md
Due: docs

chore: bump version
  faststream/__about__.py
Due: lint, static-analysis

chore: bump version (#1372)
  faststream/__about__.py
Due: lint, static-analysis

feat: extended include_router
  docs/docs/en/release.md
  faststream/broker/core/abc.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/subscriber/asyncapi.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/parser.py
  faststream/nats/publisher/producer.py
  faststream/nats/publisher/usecase.py
  faststream/nats/schemas/js_stream.py
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/publisher/usecase.py
  tests/asyncapi/base/router.py
  tests/brokers/base/router.py
  tests/docs/getting_started/routers/test_delay_equal.py
  tests/utils/context/test_path.py
Due: lint, static-analysis, docs

chore: update dependencies
  faststream/nats/subscriber/usecase.py
  pyproject.toml
Due: lint, static-analysis

docs: gen API
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/nats/schemas/js_stream/compile_nats_wildcard.md
Due: docs

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
